<div class="studentViewContainer">
  <div class="page-header">
    <h4 class="bold" ng-if="current_user.is_student">Your GPA History</h4>
    <h4 class="bold" ng-if="!current_user.is_student">{{student.first_last_initial}}'s GPA History</h4>    
  </div>
  <div class="slider-container">
    <div class="slider-text">Showing:
      <span class="semester-text">{{time_units[semester_slider.start].name}}</span>
      <span ng-if="time_units[semester_slider.start] != time_units[semester_slider.end]">
        <span>through</span>
        <span class="semester-text">{{time_units[semester_slider.end].name}}</span></div>
      </span>

    <div slider ng-from="semester_slider.start" ng-to="semester_slider.end" start=0 end=7 step=1 callback='set'></div>
  </div>

  <div class="paxl" ng-show="no_data">
    <h5 class="italic">No GPA History for the given time frame</h5>
  </div>

  <div>
    <canvas id="myChart" width="700" height="400"></canvas>
  </div>
</div>
