<div class="progress-circle progress-circle--default">
  <div ng-click="studentSelect(student)"  ng-class="setSelectedClass(student.is_selected)">
    <div class="circle-size">
      <progress-circle drawduration="0" width="100" identifier="default" student="student"></progress-circle>
    </div>
  </div>
  <h6 class="bold"><a ng-href="app#/progress/{{student.id}}" title="View {{student.first_name}}'s Progress">{{student.first_last_initial}}</a></h6>
  <ul class="circle-nav">
    <li><a ng-href="app#/profile/{{student.id}}" title="View {{student.first_name}}'s Profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
    <li class="extra-info" ng-if="student.last_login == 'Has not logged in yet'">Last Login: {{student.last_login}}</li>
    <li class="extra-info" ng-if="student.last_login != 'Has not logged in yet'">Last Login: {{student.last_login | formatMDY}}</li>
    <li class="extra-info">Login Count: {{student.login_count}}</li>
  </ul>
</div>
