<div ng-controller="RoadmapController">
  <div ng-repeat="year in roadmap.years" ng-if="year.id == selected_year || selected_year == null">
    <div ng-repeat="sem in year.semesters | filter: {id: selected_semester}">
      <div ng-repeat="mod in enabled_modules">
        <div class="widget orgsetup-roadmap" modulecolor="{{mod.title | addUnderscoreIfFirstCharIsNum}}">
          <div class="widget--header">
            <div class="widget--header--left">
              <h6 class="bold"><div class="color--dot"></div>{{mod.title | underscoresToSpaces}}</h6>
            </div>
            <div class="widget--header--right">
              <div class="widget--options">
                <span class="standard--text">{{year.name}}, {{sem.name}}</span>
                <span class="glyphicon glyphicon-time"></span>
              </div>
            </div>
          </div>
          <div class="widget--content">
            <div class="widget--content--table">
              <div class="table--cell breakalways ng-clickable" ng-repeat="milestone in sem.semester.milestones | filter: {module: mod.title}"
                    ng-click="viewMilestoneStatus(milestone)">
                <div class="widget--content--table">

                  <div class="table--cell milestone-description">
                    <span ng-if="milestone.submodule != 'YesNo'" class="milestone__info__value"><h6>{{milestone.description}} {{milestone.value}}</h6></span>
                    <span ng-if="milestone.submodule == 'YesNo'" class="milestone__info__value"><h6>{{milestone.value}}</h6></span>
                  </div>

                  <div class="table--cell milestone-points">
                    <div>Points</div>
                    <div class="bold">{{milestone.points}}</div>
                  </div>

                  <div class="table--cell milestone-label" modulecolor="{{mod.title | addUnderscoreIfFirstCharIsNum}}">
                    <div>{{milestone.title}}</div>
                  </div>

                  <div ng-if="is_admin" class="table--cell btns">
                    <span no-click-propagation class="mrm glyphicon glyphicon-pencil" title="Edit Milestone" ng-click="viewMilestone(sem.semester, milestone)"></span>
                    <span no-click-propagation class="glyphicon glyphicon-trash" title="Delete Milestone" ng-click="deleteMilestone(sem.semester, milestone)"></span>
                  </div>
                </div>
              </div>
              <div ng-if="is_admin" ng-click="addMilestone(sem.semester, mod)" class="ptl breakalways ng-clickable">
                <div>Add Milestone</div>
                <div><h5><span class="glyphicon glyphicon-plus-sign"></span></h5></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="roadmapContainer" ng-controller="RoadmapController">
  <div ng-repeat="year in roadmap.years">
    <div class="year">

      <div class="year__header">
        <span class="name">{{year.name}}</span>
      </div>

      <div class="year__semester" ng-repeat="sem in year.semesters">

        <div ng-if="current_user.role >= CONSTANTS.USER_ROLES.mentor">
          <div class="semester__header-title">{{sem.name}}</div>
        </div>
        <div ng-if="current_user.role <= CONSTANTS.USER_ROLES.org_admin">
          <div class="semester__header-title--editable" ng-hide="sem.editing">
            <span class="name" ng-click="addTimeUnit(sem)">{{sem.name}}</span>
          </div>

          <div ng-show="sem.editing" class="semester__header-title--editing">
            <form>
              <input class="form-field" ng-model="sem.name" placeholder="Time Unit Name">

              <button type="submit" class="submit" ng-click="saveAddTimeUnit(sem)"><span>Save</span></button>
              <button class="cancel" ng-click="cancelAddTimeUnit(sem)"><span>Cancel</span></button>
            </form>
          </div>
        </div>

        <div class="milestone" modulecolor="{{milestone.module}}" ng-repeat="milestone in sem.milestones | orderBy: '-points'">
          <span class ="milestone__title">
            <img ng-src={{milestone.icon}}/>{{milestone.title}}
          </span>
          <span class = "milestone__info">
            <span ng-if="milestone.submodule != 'YesNo'" class="milestone__info__value">{{milestone.description}} {{milestone.value}}</span>
            <span ng-if="milestone.submodule == 'YesNo'" class="milestone__info__value">{{milestone.value}}</span>
            <span ng-if="current_user.role <= CONSTANTS.USER_ROLES.org_admin" class="milestone__info__icons">
              <span class="glyphicon glyphicon-pencil" title="Edit Milestone" ng-click="viewMilestone(sem, milestone)"></span>
              <span class="glyphicon glyphicon-trash" title="Delete Milestone" ng-click="deleteMilestone(sem, milestone)"></span>
            </span>
          </span>
        </div>

        <div ng-if="current_user.role <= CONSTANTS.USER_ROLES.org_admin" class="semester__footer" ng-click="addMilestone(sem)">
          <div class="semester__footer__title">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="text">Add Another Milestone</span>
          </div>
        </div>

      </div>

    </div>

    <div ng-if="year.name != 'Year 4'" class="roadmap-spacer-line"></div>
  </div>

</div> -->
