<div class="modal-body paxl assignment-modal" style="background: black">

  <form class="form form--assignment">

    <div class="pbl">
      <div class="pbs">To:</div>
      <div ng-repeat="assignee in assignees">{{assignee.first_name}} {{assignee.last_name}}</div>
    </div>

    <div class="pbl">
      <div class="pbs">Title:</div>
      <input class="form-field" ng-model="assignment.title" placeholder="Title" autofocus="true">
    </div>

    <div class="pbl">
      <div class="pbs">Details:</div>
      <input class="form-field" ng-model="assignment.description" placeholder="Details">
    </div>

    <div class="pbs">
      <div class="pbs">Due Date:</div>
      <imua-datepicker date="assignment.due_datetime" is-modal="true"></imua-datepicker>
    </div>

    <div class="buttonGroup ptl">
      <button ng-click="send()" class="ladda-button submit" type="submit" data-style="expand-right" data-size="s" data-color="blue"><span class="ladda-label">Send</span></button>
      <button class="cancel" ng-click="cancel()"><span>Cancel</span></button>
    </div>

  </form>
</div>
