<div class="assignmentContainer">

  <div class="outgoingAssignmentContainer">
    <!-- On initial view, show all outgoing assignments -->
    <h4>{{user.first_last_initial}}'s Outgoing Assignments:</h4>
    <div class="outgoingAssignment--list" wait-to-load="{{loaded_outgoing_assignments && loaded_assignable_users}}">
      <div class="outgoingAssignment--list--item" ng-repeat="assignment in outgoing_assignments">
        <!-- TODO Simple list view, like github:
                  Title, who assigned it, due date, how many students are assigned.
                  Future to show student's faces instead of raw number of students. -->
        <div ng-hide="assignment.editing">
          <h5><span class="bold">{{assignment.title}}</span></h5>
          <h6><span class="bold">Due: {{assignment.due_datetime}}</span></h6>
          <h6><span>Assigned by: {{assignment.user_id}}</span></h6>
          <h6><span>Assigned to: {{assignment.assignees.length}} students</span></h6>
          <div class="edit-buttons">
            <button class="btn btn-default" ng-click="editAssignment($index)">Edit</button>
            <button class="delete" ng-click="deleteAssignment($index)">Delete</button>
          </div>
        </div>

        <div ng-show="assignment.editing">
          <div class="form-wrapper">
            <label>Title:</label>
            <input class="form-control" ng-model="assignment.new_title" placeholder="Title" autofocus="true">
          </div>
          <div class="form-wrapper">
            <label>Description:</label>
            <input class="form-control" ng-model="assignment.new_description" placeholder="Description">
          </div>
          <div class="form-wrapper">
            <label>Due:</label>
            <imua-datepicker date="assignment.new_due_datetime"></imua-datepicker>
          </div>

          <div class="form-wrapper">
            <label>Assignees:</label>
            <div class="list-container">
              <div class="circle-pictures" ng-repeat="assignee in assignment.assignees | orderBy: 'last_name'">
                <div class="circle-picture">
                  <img ng-src="{{user.square_avatar_url}}" alt="Avatar" class="avatar-block__img avatar-block__img--thumbnail" />
                </div>
                <h6 class="bold">{{assignee.first_last_initial}}</h6>
                <ul class="circle-subnav">
                  <li>
                    <a class="unassign" ng-click="unassignAssignee(assignee, assignment)">
                      <br>
                      <span class="glyphicon glyphicon-remove-circle" title="Unassign"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="add-button" ng-click="assignment.assigning_users=true" ng-hide="assignment.assigning_users || assignment.assignees.length == assignable_users.length">
              <div class="glyphicon glyphicon-plus-sign"></div>
              <h6 class="bold">Assign Users</h6>
            </div>

            <!-- Selected students will be moved to a new "Students you are assigning
                 the task to" section, with the ability to remove the students from that
                 section. -->
            <div ng-show="assignment.assigning_users">

              <h4 class="list-header" ng-hide="assignment.assignees.length == assignable_users.length"><span class="bold">Assign Users</span></h4>

              <div class="list-container">
                <div class="circle-pictures assign-user-circles" ng-if="!_.contains(_.pluck(assignment.assignees, 'id'), user.id)" ng-click="assignAssignee(user, assignment)" ng-repeat="user in assignable_users | orderBy: 'last_name'">
                  <div class="circle-picture">
                    <img ng-src="{{user.square_avatar_url}}" alt="Avatar" class="avatar-block__img avatar-block__img--thumbnail" />
                  </div>
                  <div class="user-name">
                    <h6 class="bold">{{user.first_last_initial}}</h6>
                  </div>
                  <div class="add-user-name">
                    <h6 class="bold"><span class="glyphicon glyphicon-plus-sign green"></span></h6>
                  </div>
                </div>
                <div class="add-button" ng-click="assignment.assigning_users=false">
                  <div class="glyphicon glyphicon-ok-sign green"></div>
                  <div>Done Assigning</div>
                </div>
              </div>

              <h5 ng-show="assignable_users.length == assignment.assignees.length">No users left to assign!</h5>

            </div>

          </div>

          <div class="edit-buttons">
            <button class="submit" ng-click="saveAssignment($index)">Send</button>
            <button class="btn btn-default" ng-click="cancelEditAssignment($index)">Cancel</button>
          </div>
        </div>

      </div>

      <!-- Clicking "Assign a task" button will open a section where users can
           be clicked and selected just like when they're assigned to mentors. -->
      <button class="btn btn-default" ng-click="addAssignment()" ng-hide="editing_outgoing_assignments">New Assignment</button>
    </div>


  </div>






</div>
