<div class="incomingAssignmentsContainer tasksListContainer" wait-to-load="{{loaded_incoming_assignments}}">
  <!-- On initial view, show all incoming assignments -->
  <div class="single-col-wrapper tasks--list--container">

    <h4>{{user.first_last_initial}}'s Tasks:</h4>

    <ul class="tasks--list">
      <li class="tasks--list--item clear">
        <div class="tasks--list--item--left">
          <span class="bold">Open Tasks</span>
        </div>
        <div class="tasks--list--item--middle">
          Status
        </div>
        <div class="tasks--list--item--right">
          Due
        </div>
      </li>

      <li class="tasks--list--item" ng-repeat="assignment in incoming_assignments" ng-if="assignment.status == 0" ng-click="assignment.expanded = !assignment.expanded">
        <div class="clear" ng-hide="assignment.expanded">
          <div class="tasks--list--item--left">
            <h6 class="bold"><a href="#/user_assignment/{{assignment.id}}">{{assignment.title}}</a></h6>
            <span class="subtext">
              <a href="#/profile/{{assignment.assigner.id}}">
                <span ng-if="current_user.id == assignment.assigner.id">You </span>
                <span ng-if="current_user.id != assignment.assigner.id">{{assignment.assigner.first_last_initial}} </span>
              </a>
              created this task on {{assignment.created_at | date: 'MM/dd/yy'}}
            </span>
          </div>
          <div class="tasks--list--item--middle">
            <h6>
              <!-- <span class="label label-primary" ng-if="_.where(assignment.user_assignments, {status: 1}).length != assignment.user_assignments.length"> -->
              <span ng-if="_.where(assignment.user_assignments, {status: 1}).length != assignment.user_assignments.length">
                <span class="label label-primary glyphicon glyphicon-record" ng-if="!isDueSoon(assignment) && !isPastDue(assignment)"> Open</span>
                <span class="label label-warning" ng-if="isDueSoon(assignment)"><span class="glyphicon glyphicon-exclamation-sign"> Due Soon</span></span>
                <span class="label label-danger" ng-if="isPastDue(assignment)"><span class="glyphicon glyphicon-exclamation-sign"> Past Due</span></span>
              </span>
            </h6>
          </div>
          <div class="tasks--list--item--right">
            <h6 ng-if="assignment.due_datetime != null">{{assignment.due_datetime | date: 'MM/dd/yy'}}</h6>
          </div>
        </div>

        <div class="tasks--list--item--expanded" ng-show="assignment.expanded">
          <h5 class="bold"><a href="#/user_assignment/{{assignment.id}}">{{assignment.title}}</a></h5>
          <h6>{{assignment.description}}</h6>
          <span class="subtext">
            <!-- <span class="label label-primary" ng-if="_.where(assignment.user_assignments, {status: 1}).length != assignment.user_assignments.length"> -->
              <span class="label label-primary glyphicon glyphicon-record" ng-if="!isDueSoon(assignment) && !isPastDue(assignment)"> Open</span>
              <span class="label label-warning" ng-if="isDueSoon(assignment)"><span class="glyphicon glyphicon-exclamation-sign"> Due Soon</span></span>
              <span class="label label-danger" ng-if="isPastDue(assignment)"><span class="glyphicon glyphicon-exclamation-sign"> Past Due</span></span>
            </span>
            <a href="#/profile/{{assignment.assigner.id}}">
              <span ng-if="current_user.id == assignment.assigner.id">You </span>
              <span ng-if="current_user.id != assignment.assigner.id">{{assignment.assigner.first_last_initial}} </span>
            </a>
            created this task on {{assignment.created_at | date: 'MM/dd/yy'}}.
            <span ng-if="assignment.due_datetime != null">It's due on {{assignment.due_datetime | date: 'MM/dd/yy'}}.</span>
          </span>

          <div class="edit-buttons">
            <button class="btn btn-success" ng-click="setUserAssignmentStatus(assignment, 1)">I Did This</button>
          </div>

        </div>

      </li>

    </ul>

  </div>
  <div class="single-col-wrapper tasks--list--container">

    <ul class="tasks--list completed-tasks">
      <li class="tasks--list--item clear">
        <div class="tasks--list--item--left">
          <span class="bold">Completed Tasks</span>
        </div>
        <div class="tasks--list--item--middle">
          Status
        </div>
        <div class="tasks--list--item--right">
          Due
        </div>
      </li>

      <li class="tasks--list--item" ng-repeat="assignment in incoming_assignments" ng-if="assignment.status == 1" ng-click="assignment.expanded = !assignment.expanded">
        <div class="clear" ng-hide="assignment.expanded">
          <div class="tasks--list--item--left">
            <h6 class="bold"><a href="#/user_assignment/{{assignment.id}}">{{assignment.title}}</a></h6>
            <span class="subtext">
              <a href="#/profile/{{assignment.assigner.id}}">
                <span ng-if="current_user.id == assignment.assigner.id">You </span>
                <span ng-if="current_user.id != assignment.assigner.id">{{assignment.assigner.first_last_initial}} </span>
              </a>
              created this task on {{assignment.created_at | date: 'MM/dd/yy'}}
            </span>
          </div>
          <div class="tasks--list--item--middle">
            <h6>
              <span class="label label-success">
                <span class="glyphicon glyphicon-ok-circle"></span> Complete
              </span>
            </h6>
          </div>
          <div class="tasks--list--item--right">
            <h6 ng-if="assignment.due_datetime != null">{{assignment.due_datetime | date: 'MM/dd/yy'}}</h6>
          </div>
        </div>

        <div class="tasks--list--item--expanded" ng-show="assignment.expanded">
          <h5 class="bold"><a href="#/user_assignment/{{assignment.id}}">{{assignment.title}}</a></h5>
          <h6>{{assignment.description}}</h6>
          <span class="subtext">
            <span class="label label-success">
              <span class="glyphicon glyphicon-ok-circle"></span> Complete
            </span>
            <a href="#/profile/{{assignment.assigner.id}}">
              <span ng-if="current_user.id == assignment.assigner.id">You </span>
              <span ng-if="current_user.id != assignment.assigner.id">{{assignment.assigner.first_last_initial}} </span>
            </a>
            created this task on {{assignment.created_at | date: 'MM/dd/yy'}}.
            <span ng-if="assignment.due_datetime != null">It's due on {{assignment.due_datetime | date: 'MM/dd/yy'}}.</span>
          </span>

          <div class="edit-buttons">
            <button class="btn btn-danger" ng-click="setUserAssignmentStatus(assignment, 0)">I Didn't Finish This Yet</button>
          </div>

        </div>

      </li>

    </ul>

  </div>

</div>
