<div class="taskContainer">

  <div class="task-header clear">
    <div class="single-col-wrapper">
      <div class="back-link">

        <div back-button class="ng-clickable">
          <h6>
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            <span class="ng-clickable-text">Go Back</span>
          </h6>
        </div>

      </div>
    </div>
  </div>

  <div class="single-col-wrapper clear" wait-to-load="{{loaded}}">
    <div class="assignment--left">
      <div class="task-content">
        <h4><span class="bold">{{user_assignment.title}}</span></h4>
        <h6 class="wysiwyg-output" ng-bind-html="user_assignment.description"></h6>
      </div>
      <!-- Open Task Status Block -->
      <table class="status-block" ng-if="!isDueSoon(user_assignment) && !isPastDue(user_assignment) && user_assignment.status != 1">
        <tr>
          <td class="status-picture">
            <div class="medium-circle-pictures">
              <a href="app#/profile/{{user_assignment.user.id}}">
                <div class="medium-circle-picture">
                  <img ng-src="{{user_assignment.user.square_avatar_url}}" alt="Last updated: {{user_assignment.updated_at | formatMDY}}" />
                </div>
              </a>
            </div>
          </td>
          <td class="status-message">
            <h5 class="bold" ng-if="current_user.id == user_assignment.user.id">{{user_assignment.user.first_name}}, you haven't completed this task yet.</h5>
            <h5 class="bold" ng-if="current_user.id != user_assignment.user.id">{{user_assignment.user.first_name}} hasn't completed this task yet.</h5>
            <h6 ng-if="user_assignment.due_datetime != null">It's due {{user_assignment.due_datetime | fromNow}}.</h6>
          </td>
        </tr>
      </table>
      <!-- Due Soon Status Block -->
      <table class="status-block due-soon clear" ng-show="isDueSoon(user_assignment) && user_assignment.status != 1">
        <tr>
          <td class="status-picture">
            <div class="medium-circle-pictures">
              <a href="app#/profile/{{user_assignment.user.id}}">
                <div class="medium-circle-picture">
                  <img ng-src="{{user_assignment.user.square_avatar_url}}" alt="Last updated: {{user_assignment.updated_at | formatMDY}}" />
                </div>
              </a>
            </div>
          </td>
          <td class="status-message">
            <div ng-if="current_user.id == user_assignment.user.id">
              <h5 class="bold">{{user_assignment.user.first_name}}, this task is due soon!</h5>
              <h6>It looks like you haven't completed it yet.</h6>
            </div>
            <div ng-if="current_user.id != user_assignment.user.id">
              <h5 class="bold">{{user_assignment.user.first_name}} hasn't completed this task yet.</h5>
              <h6>It's due {{user_assignment.due_datetime | fromNow}}!</h6>
            </div>
          </td>
        </tr>
      </table>
      <!-- Past Due Status Block -->
      <table class="status-block past-due clear" ng-show="isPastDue(user_assignment) && user_assignment.status != 1">
        <tr>
          <td class="status-picture">
            <div class="medium-circle-pictures">
              <a href="app#/profile/{{user_assignment.user.id}}">
                <div class="medium-circle-picture">
                  <img ng-src="{{user_assignment.user.square_avatar_url}}" alt="Last updated: {{user_assignment.updated_at | formatMDY}}" />
                </div>
              </a>
            </div>
          </td>
          <td class="status-message">
            <div ng-if="current_user.id == user_assignment.user.id">
              <h5 class="bold">{{user_assignment.user.first_name}}, this task was due on {{user_assignment.due_datetime | formatMDY}}!</h5>
              <h6>Please complete it as soon as possible.</h6>
            </div>
            <div ng-if="current_user.id != user_assignment.user.id">
              <h5 class="bold">{{user_assignment.user.first_name}} hasn't completed this task yet.</h5>
              <h6>This task is past due!</h6>
            </div>
          </td>
        </tr>
      </table>
      <!-- Complete Status Block -->
      <table class="status-block complete clear" ng-show="user_assignment.status == 1">
        <tr>
          <td class="status-picture">
            <div class="medium-circle-pictures">
              <a href="app#/profile/{{user_assignment.user.id}}">
                <div class="medium-circle-picture">
                  <img ng-src="{{user_assignment.user.square_avatar_url}}" alt="Last updated: {{user_assignment.updated_at | formatMDY}}" />
                </div>
              </a>
            </div>
          </td>
          <td class="status-message">
            <div ng-if="current_user.id == user_assignment.user.id">
              <h5 class="bold">Nice work {{user_assignment.user.first_name}}!</h5>
              <h6>You completed this task {{user_assignment.updated_at | fromNow}}.</h6>
            </div>
            <div ng-if="current_user.id != user_assignment.user.id">
              <h5 class="bold">{{user_assignment.user.first_name}} completed this task.</h5>
              <h6>{{user_assignment.updated_at | fromNow}}</h6>
            </div>
          </td>
        </tr>
      </table>
      <div class="complete-buttons">
        <button class="btn btn-success btn-lg" ng-if="user_assignment.status == 0" ng-click="setUserAssignmentStatus(user_assignment, 1)"><span class="glyphicon glyphicon-ok-circle"></span> Mark this task Complete</button>
        <button class="btn btn-danger btn-lg" ng-if="user_assignment.status == 1" ng-click="setUserAssignmentStatus(user_assignment, 0)"><span class="glyphicon glyphicon-remove-circle"></span> I Didn't Do This Yet</button>
      </div>

      <comments current-user="current_user" commentable-object-route="user_assignment" commentable-object-id="user_assignment.id"></comments>

    </div>

    <div class="assignment--right">
      <ul>
        <li>
          <h5>
            <span ng-if="user_assignment.status == 0">
              <span class="label label-primary" ng-if="!isDueSoon(user_assignment) && !isPastDue(user_assignment)"><span class="glyphicon glyphicon-record"></span> Open</span>
              <span class="label label-warning" ng-if="isDueSoon(user_assignment)"><span class="glyphicon glyphicon-exclamation-sign"></span> Due Soon</span>
              <span class="label label-danger" ng-if="isPastDue(user_assignment)"><span class="glyphicon glyphicon-exclamation-sign"></span> Past Due</span>
            </span>
            <span class="label label-success" ng-if="user_assignment.status == 1">
              <span class="glyphicon glyphicon-ok-circle"></span> Complete
            </span>
          </h5>
        </li>
        <li ng-if="user_assignment.due_datetime != null">
          <h6>Due by</h6>
          <h5 class="bold">{{user_assignment.due_datetime | formatMDY}}</h5>
        </li>
        <li>
          <h6>Created by</h6>
          <a href="app#/profile/{{assigner.id}}">
            <div class="tiny-circle-picture">
              <img ng-src="{{assigner.square_avatar_url}}" alt="{{assigner.first_name}} {{assigner.last_name}}" />
            </div>
            <h6 class="bold">{{assigner.first_name}} {{assigner.last_name}}</h6>
          </a>
          <p>on {{user_assignment.created_at | formatMDY}}</p>
        </li>
      </ul>
    </div>
  </div>

</div>
