<div ng-controller="ExtracurricularProgressController" class="extracurricularProgressContainer">

  <div class="module-container clear" modulecolor="{{selected_module.module_title}}">

    <div class="module module--ecActivities">

      <div class="module--header">Extracurricular Activities</div>

      <div class="module--content">

        <div class="module--no-data" ng-show="user_extracurricular_activities.length == 0">
          <div ng-if="current_user.is_student">
            <h6>Hey {{student.first_name}}, do you participate in any extracurricular activities?</h6>
            <p>If so, you should add them by clicking the button below!</p>
          </div>
          <div ng-if="!current_user.is_student">
            <h5>{{student.first_name}} hasn't added any extracurricular activities yet.</h5>
          </div>
        </div><!-- /No activities warning -->

        <div class="module--data">

          <table ng-show="user_extracurricular_activities.length > 0">

            <thead>
              <th colspan="4">Activity</th>
            </thead>

            <tbody>
              <tr ng-repeat="(activityIndex, user_extracurricular_activity) in user_extracurricular_activities" ng-class="{'last':$last}">

                <td ng-hide="user_extracurricular_activity.editing">{{user_extracurricular_activity.name}}</td>
                <td ng-hide="user_extracurricular_activity.editing">{{user_extracurricular_activity.details[0].leadership}}</td>
                <td ng-hide="user_extracurricular_activity.editing">{{user_extracurricular_activity.details[0].description}}</td>
                <td ng-hide="user_extracurricular_activity.editing" class="glyphicons">
                  <div class="glyphicon-container">
                    <span class="glyphicon glyphicon-pencil" title="Edit Extracurricular Activity" ng-click="editActivity(activityIndex)"></span>
                    <span class="glyphicon glyphicon-trash" title="Delete Activity" ng-click="deleteActivity(activityIndex)"></span>
                  </div>
                </td>

                <td class="editing" ng-show="user_extracurricular_activity.editing" colspan="4">
                  <span class="input-group">
                    <label>What Activity did you participate in?</label>
                    <input class="form-control" ng-model="user_extracurricular_activity.name" placeholder="Extracurricular Activity Name" name="extracurricularActivityName">
                  </span>
                  <span class="input-group">
                    <label>Leadership Role (Optional)</label>
                    <input class="form-control" ng-model="user_extracurricular_activity.details[0].leadership" placeholder="Leadership (optional)" name="extracurricularEventLeadership">
                  </span>
                  <span class="input-group">
                    <label>Description (Optional)</label>
                    <textarea class="form-control" ng-model="user_extracurricular_activity.details[0].description" placeholder="Description (optional)" name="extracurricularEventDescription"></textarea>
                  </span>

                  <button class="submit" title="Confirm" ng-click="saveActivity(activityIndex)">Confirm</button>
                  <button class="cancel" title="Cancel" ng-click="cancelActivityEdit(activityIndex)">Cancel</button>
                </td>

              </tr>

            </tbody>
          </table>

          <button ng-if="editable(current_user, selected_semester)" class="btn btn-default" ng-click="addActivity()" ng-hide="new_extracurricular_activity.editing">Add Extracurricular Activity</button>

          <table ng-show="new_extracurricular_activity.editing">

            <tbody>
              <tr>

                <td class="editing" colspan="4">
                  <span class="input-group" ng-hide="new_extracurricular_activity.newActivity">
                    <label ng-if="current_user.is_student">What Activity did you participate in?</label>
                    <label ng-if="!current_user.is_student">What Activity did {{student.first_name}} participate in?</label>
                    <select class="form-control" ng-change="selectedActivity(new_extracurricular_activity)" ng-options="activity as activity.name for activity in previous_activity_list" ng-model="new_extracurricular_activity" placeholder="Extracurricular Activity Name" name="extracurricularActivityName">
                      <option value="">--- Select Previous Activity ---</option>
                    </select>
                  </span>
                  <button class="btn btn-default" ng-click="addNewActivity()" ng-hide="new_extracurricular_activity.show">Not in List?</button>
                  <span class="input-group" ng-show="new_extracurricular_activity.newActivity">
                    <label ng-if="current_user.is_student">What Activity did you participate in?</label>
                    <label ng-if="!current_user.is_student">What Activity did {{student.first_name}} participate in?</label>
                    <input class="form-control" ng-model="new_extracurricular_activity.name" placeholder="Extracurricular Activity Name" name="extracurricularActivityName">
                  </span>
                  <span class="input-group" ng-show="new_extracurricular_activity.show">
                    <label>Leadership Role (Optional)</label>
                    <input class="form-control" ng-model="new_extracurricular_activity.details[0].leadership" placeholder="Leadership (optional)" name="extracurricularEventLeadership">
                  </span>
                  <span class="input-group" ng-show="new_extracurricular_activity.show">
                    <label>Description (Optional)</label>
                    <textarea class="form-control" ng-model="new_extracurricular_activity.details[0].description" placeholder="Description (optional)" name="extracurricularEventDescription"></textarea>
                  </span>

                  <button class="submit" title="Confirm" ng-click="saveNewActivity()">Confirm</button>
                  <button class="cancel" title="Cancel" ng-click="cancelNewActivity()">Cancel</button>

                </td>

              </tr>

            </tbody>
          </table>

        </div><!-- /module-data -->

      </div><!-- /module--content -->

    </div><!-- /module--ecActivities -->

    <div class="module module--activity-totals">

      <div class="module--header">Activities</div>

      <div class="module--content">

      	<div class="user-class-greeting" wait-to-load="loaded_semester_activities">
          <span ng-if="current_user.is_student">Hey {{student.first_name}}, you are participating in</span>
          <span ng-if="!current_user.is_student">{{student.first_name}} is participating in</span>
          <h2>{{semester_activities}}</span></h2>
          <h4>activities</h4>
          this semester.
        </div>

      </div>

    </div><!-- /module--gpa -->

    <div class="module module--milestones">

    	<div class="module--header">{{selected_module.module_title | underscoresToSpaces}} Milestones</div>

      <div class="module--content">

        <div class="module-data-content" ng-show="selected_module.points.total == 0">
          <p>Looks like there aren't any {{selected_module.module_title | underscoresToSpaces}} milestones for this semester.</p>
        </div>

        <div class="module-milestones" ng-if="milestones.length > 0">

          <div class="milestones-unsatisfied module--submodule clear">

          	<div class="module--subhead">Next Milestones</div>

            <div class="milestone-item" ng-repeat="milestone in milestones" ng-if="!milestone.earned">
              <div class="milestone-item-unstatisfied">

                <div class="milestone--point-circle">
                  <div class="point-circle--inside">
                    <h5 class="bold">{{milestone.points}}</h5>
                    <p>Points</p>
                  </div>
                </div>

                <input type="checkbox" ng-if="milestone.submodule === 'YesNo'" ng-model="milestone.earned" ng-change="toggleYesNoMilestone(milestone)"
                  ng-disabled="!editable(current_user, selected_semester)">
                <h6>{{milestone | printMilestone}}</h6>
              </div>
            </div>

          </div>

          <div class="milestones-unsatisfied module--submodule clear">

          	<div class="module--subhead">Completed Milestones</div>

            <div class="milestone-item" ng-repeat="milestone in milestones" ng-if="milestone.earned">
              <div class="milestone-item-statisfied">

                <div class="milestone--point-circle">
                  <div class="point-circle--inside">
                    <h4 class="bold">✓</h4>
                  </div>
                </div>

                <input type="checkbox" ng-if="milestone.submodule === 'YesNo'" ng-model="milestone.earned" ng-change="toggleYesNoMilestone(milestone)"
                  ng-disabled="!editable(current_user, selected_semester)">
                <h6>{{milestone | printMilestone}}</h6>
              </div>
            </div>

          </div>

        </div>

      </div><!-- /module-inner -->

    </div><!-- /module--milestones -->

  </div>

</div>
