<div ng-controller="ExtracurricularProgressController" class="extracurricularProgressContainer">
  <div class="module-userExtracurricularActivities">

    <div class="pbxl" ng-show="user_extracurricular_activities.length == 0">
      <h4>{{current_user.first_name}}, looks like you haven't entered any data.</h4>
      <h4>Let's get that taken care of. Add your Extracurricular Activities for this semester below.</h4>
    </div>

    <div class="module-data">
      <div class="noExtracurricularActivities" ng-hide="user_extracurricular_activites.length != 0">No Extracurricular Activities Added</div>

      <div class="module-data-items">
        <div class="module-data__item" ng-repeat="(index, user_extracurricular_activity) in user_extracurricular_activities" ng-class="{'last':$last}">

          <div class="module-data__item__activity">
            <span ng-hide="user_extracurricular_activity.editing">{{user_extracurricular_activity.name}}</span>
            <input ng-show="user_extracurricular_activity.editing" class="form-field" ng-model="user_extracurricular_activity.new_name" placeholder="Extracurricular Activity Name" name="extracurricularActivityName"></input>
          </div>

          <div class="module-data__item__event">
            <span ng-hide="user_extracurricular_activity.editing">{{user_extracurricular_activity.events[0].leadership}}</span>
            <input ng-show="user_extracurricular_activity.editing" class="form-field" ng-model="user_extracurricular_activity.events[0].new_leadership" placeholder="Leadership (optional)" name="extracurricularEventLeadership"></input>
          </div>

          <div class="module-data__item__event">
            <span ng-hide="user_extracurricular_activity.editing">{{user_extracurricular_activity.events[0].description}}</span>
            <textarea ng-show="user_extracurricular_activity.editing" class="form-field" ng-model="user_extracurricular_activity.events[0].new_description" placeholder="Description (optional)" name="extracurricularEventDescription"></textarea>
          </div>

          <div class="module-data__item__icons">
            <div ng-if="editable(current_user, selected_semester)"
                  ng-hide="user_extracurricular_activity.editing">
              <span class="glyphicon glyphicon-pencil prs" title="Edit Extracurricular Activity" ng-click="editActivity(index)"></span>
              <span class="glyphicon glyphicon-trash" title="Delete Activity" ng-click="deleteActivity(index)"></span>
            </div>

            <div ng-show="user_extracurricular_activity.editing">
              <span class="glyphicon glyphicon-ok prs green" title="Save" ng-click="saveActivity(index)"></span>
              <span class="glyphicon glyphicon-remove red" title="Cancel" ng-click="cancelActivityEdit(index)"></span>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="editable(current_user, selected_semester)"
          class="module-data__button" ng-click="addActivity()" ng-hide="user_extracurricular_activities.editing">Add Extracurricular Activity
      </div>
    </div>
  </div>
</div>
