<div class="progressContainer">

  <!-- <div class="overall-progress">
    Overall Completedness: {{overall_points.percent}}% ({{overall_points.user}}/{{overall_points.total}})
  </div> -->


  <div class="upper progressUpper">

    <ul class="progress-subnav clear">

      <li class="progressStudent">

        <div class="progressStudent-wrapper clear">

          <div class="progressSelector">

  	        <h5><a ng-href="#/profile/{{student.id}}" class="bold">{{student.first_last_initial}}'s</a> Progress

            <select ng-options="sem.name for sem in semesters" ng-model="new_selected_semester" ng-change="selectSemester(new_selected_semester)">
                <!-- <option value="selected_semester">{{selected_semester.name}}</option> -->
            </select>

            </h5>

          </div>

        </div>

      </li>

      <li class="studentExpectations narrow">
        <a class="js-nav-link" ng-href="#/expectations/{{student.id}}">{{student.first_name}}'s Expectations</a>
      </li>

    </ul>

  </div>

  <div class="progressMiddle clear" wait-to-load="{{selected_module}}">

    <div class="progressCircle-big--container">

      <div class="progressCircle-big">
      	<a ng-href="#/profile/{{student.id}}" alt="View {{student.first_name}}'s Profile">
          <div class="big-progress-circle" ng-class="{'needsAttention': needs_attention}" ng-if="student_with_modules_progress">
        		<big-progress-circle student="student_with_modules_progress" identifier="big" ng-if="student_with_modules_progress"></big-progress-circle>
        	</div>
        </a>
      </div>

    </div> <!-- progressCircle-big--container -->
	  <!--CIRCLES-->
    <div class="circles js-circles">
      <div class="module-circles js-module-circles">
        <div class="module-circle" ng-repeat="mod in modules_progress" ng-class="{inactive: mod.points.total == 0, selectedCircle: mod == selected_module, notSelectedCircle: mod !== selected_module}" modulecolor="{{mod.module_title}}" ng-click="selectModule(mod)">
          <module-progress-circle module="mod"></module-progress-circle>
          <div class="module-circle__modtitle"><h6>{{mod.module_title | underscoresToSpaces}}</h6></div>
        </div>
      </div>
    </div>
    <!--/CIRCLES-->

  </div><!-- /progressMiddle -->

  <div class="progressLower">

    <div class="module-container" modulecolor="{{selected_module.module_title}}">

      <!--MAIN PANEL-->
        <div class="module-container--header">

  	        <h4 class="bold">
    	        {{student.first_name}}'s {{selected_module.module_title | underscoresToSpaces}}
            </h4>

        </div>

        <div class="module-container--no-content" ng-show="selected_module.points.total == 0">
          <h4>Looks like there aren't any {{selected_module.module_title | underscoresToSpaces}} milestones for this semester.</h4>
        </div>

        <div class="module-container--content clear" wait-to-load="{{loaded_milestones}}">
          <div ng-include="getModuleTemplate(selected_module.module_title)"></div>
        </div>
      <!--/MAIN PANEL-->

    </div>

  </div>

</div>
