<div ng-controller="ServiceProgressController" class="serviceProgressContainer">

  <div class="widget-group">
    <div class="widget-group--table table--fixed" modulecolor="{{selected_module.module_title}}">
      <div class="widget-group--cell break900">
        <div class="widget gpa">
          <div class="widget--header">
            <h6 class="bold" ng-if="current_user.is_student">Your Service Hours</h6>
            <h6 class="bold" ng-if="!current_user.is_student">{{student.first_name}}'s Service Hours</h6>
          </div>
          <div class="widget--content--table">
            <div class="widget--content--cell">
              <div class="cell--padding">
                <h1 class="bold">{{semester_service_hours}}</h1>
                <h5 ng-if="semester_service_hours != 1">Total Service Hours</h5>
                <h5 ng-if="semester_service_hours == 1">Service Hour</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="widget-group--cell break900">
        <div class="widget gpa">
          <div class="widget--header">
            <h6 class="bold">Over Time</h6>
          </div>
          <div class="widget--content--table">
            <div class="widget--content--cell">
              <div class="cell--padding">
                <p>Placeholder for Service Hours Chart</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="widget service-log" modulecolor="{{selected_module.module_title}}">
    <div class="widget--header">
      <h6 class="bold" ng-if="!current_user.is_student">{{student.first_name}}'s Service Log</h6>
      <h6 class="bold" ng-if="current_user.is_student">Your Service Log</h6>
    </div>
    <div class="widget--content--table table--fixed">
      <div class="widget--content--cell break1200" ng-repeat="(organizationIndex, user_service_organization) in user_service_organizations">
        <div class="widget--content--cell breakalways">
          <div class="cell--padding">
            <h4 class="bold">{{user_service_organization.name}}</h4>
          </div>
        </div>
        <div class="widget--content--cell breakalways" ng-repeat="(hourIndex, user_service_hour) in user_service_organization.hours">
          <div class="cell--padding clear">
            <div class="service-hours--meta">
              <h4>{{user_service_hour.hours}}</h4>
              <p ng-if="user_service_hour.hours != 1">Hours</p>
              <p ng-if="user_service_hour.hours == 1">Hour</p>
            </div>
            <div class="service-hours--description">
              <h6>{{user_service_hour.description}}</h6>
              <p>Completed on {{user_service_hour.date | formatMDY}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="widget-group">
    <div class="widget-group--table table--fixed" modulecolor="{{selected_module.module_title}}">
      <div class="widget-group--cell break1200" ng-if="!milestone.earned.length != 0">
        <div class="widget milestones">
          <div class="widget--header">
            <h6 class="bold">Next Milestones</h6>
          </div>
          <div class="widget--content--table">
            <div class="widget--content--cell">
              <div class="milestone-item" ng-repeat="milestone in milestones" ng-if="!milestone.earned">
                <div class="milestone-item-unstatisfied">

                  <div class="milestone--point-circle">
                    <div class="point-circle--inside">
                      <h5 class="bold">{{milestone.points}}</h5>
                      <p>Points</p>
                    </div>
                  </div>

                  <input type="checkbox" ng-if="milestone.submodule === 'YesNo'" ng-model="milestone.earned" ng-change="toggleYesNoMilestone(milestone)"
                    ng-disabled="!editable(current_user, selected_semester)">
                  <h6>{{milestone | printMilestone}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="widget-group--cell break1200" ng-if="milestone.earned.length != 0">
        <div class="widget milestones">
          <div class="widget--header">
            <h6 class="bold">Completed Milestones</h6>
          </div>
          <div class="widget--content--table">
            <div class="widget--content--cell">
              <div class="milestone-item" ng-repeat="milestone in milestones" ng-if="milestone.earned">
                <div class="milestone-item-statisfied">

                  <div class="milestone--point-circle">
                    <div class="point-circle--inside">
                      <h4 class="bold">✓</h4>
                    </div>
                  </div>

                  <input type="checkbox" ng-if="milestone.submodule === 'YesNo'" ng-model="milestone.earned" ng-change="toggleYesNoMilestone(milestone)"
                    ng-disabled="!editable(current_user, selected_semester)">
                  <h6>{{milestone | printMilestone}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="module-container clear" modulecolor="{{selected_module.module_title}}">

    <div class="module module--service">

    	<div class="module--header">Your Service Records</div>

    	<div class="module--content">

  	    <div class="module--no-data" ng-show="user_service_organizations.length == 0">
          <div ng-if="current_user.is_student">
            <h5>{{student.first_name}}, looks like you haven't added any service hours yet.</h5>
            <p>First things first! Add an organization below so you can start logging your hours!</p>
          </div>
          <div ng-if="!current_user.is_student">
            <h5>{{student.first_name}} hasn't added any service organizations yet.</h5>
            <p>They can begin adding hours once they've added an organization.</p>
          </div>
        </div>

        <div class="module--data">

          <div class="module--submodule" ng-repeat="(organizationIndex, user_service_organization) in user_service_organizations" ng-class="{'last':$last}">

            <div class="module--subhead text-left" ng-hide="user_service_organization.editing">
              {{user_service_organization.name}}
              <div class="glyphicon-container">
                <span class="glyphicon glyphicon-pencil" title="Edit Service Organization" ng-click="editOrganization(organizationIndex)"></span>
                <span class="glyphicon glyphicon-trash" title="Delete Organization" ng-click="deleteOrganization(organizationIndex)"></span>
              </div>
            </div>

            <div class="editing" ng-show="user_service_organization.editing">
              <span class="input-group">
                <label>Who was the service for?</label>
                <input class="form-control" ng-model="user_service_organization.new_name" placeholder="Organization Name" name="serviceActivityName">
              </span>
              <div class="submit" title="Confirm" ng-click="saveOrganization(organizationIndex)">Confirm</div>
              <div class="cancel" title="Cancel" ng-click="cancelOrganizationEdit(organizationIndex)">Cancel</div>
            </div>

            <table>
              <tbody>
                <tr ng-repeat="(hourIndex, user_service_hour) in user_service_organization.hours" ng-class="{'last':$last}">

                  <td ng-hide="user_service_hour.editing">{{user_service_hour.date | formatMDY}}</td>
                  <td ng-hide="user_service_hour.editing">{{user_service_hour.description}}</td>
                  <td ng-hide="user_service_hour.editing">{{user_service_hour.hours}}</td>
                  <td ng-hide="user_service_hour.editing" class="glyphicons">
                    <div class="glyphicon-container">
                      <span class="glyphicon glyphicon-pencil" title="Edit Hour" ng-click="editHour(organizationIndex, hourIndex)"></span>
                      <span class="glyphicon glyphicon-trash" title="Delete Hour" ng-click="deleteHour(organizationIndex, hourIndex)"></span>
                    </div>
                  </td>

                  <td class="editing" ng-show="user_service_hour.editing" colspan="4">

                    <span class="input-group">
                      <label>Date</label>
                      <imua-datepicker date="user_service_hour.new_date"></imua-datepicker>
                    </span>
                    <span class="input-group">
                      <label ng-if="current_user.is_student">What type of service did you do?</label>
                      <label ng-if="!current_user.is_student">What type of service did {{student.first_name}} do?</label>
                      <textarea class="form-control" ng-model="user_service_hour.new_description" placeholder="Description" name="serviceEventDescription"></textarea>
                    </span>
                    <span class="input-group">
                      <label>How many hours?</label>
                      <input class="form-control" ng-model="user_service_hour.new_hours" placeholder="Hours" name="serviceEventHours">
                    </span>

                    <button class="submit" title="Confirm" ng-click="saveHour(organizationIndex, hourIndex, user_service_organization.id)">Confirm</button>
                    <button class="cancel" title="Cancel" ng-click="cancelHourEdit(organizationIndex, hourIndex)">Cancel</button>

                  </td>

                </tr>
              </tbody>
            </table>
            <button ng-if="editable(current_user, selected_semester)" class="btn btn-default" ng-click="addHour(organizationIndex, user_service_organization.id)" ng-hide="user_service_organizations[organizationIndex].hours.editing">Add Hours</button>

          </div>

          <button ng-hide="new_service_organization.editing" ng-if="editable(current_user, selected_semester)" class="btn btn-default" ng-click="addOrganization()">Add a Service Organization</button>

          <div class="module--submodule" ng-show="new_service_organization.editing">
            <div class="editing">
              <span class="input-group">
                <label>Who was the service for?</label>
                <select class="form-control" ng-change="selectAction(new_service_organization)" ng-options="organization as organization.name for organization in previous_organization_list" ng-model="new_service_organization" name="serviceActivityName">
                  <option value="">--- Select Previous Organization ---</option>
                </select>
              </span>
              <span class="input-group" ng-show="new_service_organization.newOrganization">
                <label>Who was the service for?</label>
                <input class="form-control" ng-model="new_service_organization.new_name" placeholder="Organization Name" name="serviceActivityName">
              </span>

            </div>

            <table>
              <tbody>
                <tr ng-repeat="(hourIndex, user_service_hour) in new_service_organization.hours" ng-class="{'last':$last}">
                  <td class="editing" colspan="4">

                    <span class="input-group" ng-show="new_service_organization.show">
                      <label>Date</label>
                      <imua-datepicker date="user_service_hour.date"></imua-datepicker>
                    </span>
                    <span class="input-group" ng-show="new_service_organization.show">
                      <label ng-if="current_user.is_student">What type of service did you do?</label>
                      <label ng-if="!current_user.is_student">What type of service did {{student.first_name}} do?</label>
                      <textarea class="form-control" ng-model="user_service_hour.description" placeholder="Description" name="serviceEventDescription"></textarea>
                    </span>
                    <span class="input-group" ng-show="new_service_organization.show">
                      <label>How many hours?</label>
                      <input class="form-control" ng-model="user_service_hour.hours" placeholder="Hours" name="serviceEventHours">
                    </span>

                  </td>

                </tr>
              </tbody>
            </table>

            <div class="submit" title="Confirm" ng-click="saveNewOrganization()">Confirm</div>
            <div class="cancel" title="Cancel" ng-click="cancelNewOrganization()">Cancel</div>

          </div>
        </div>
      </div>

    </div> <!-- /module--service -->

  </div>

</div>
