<div ng-controller="TestingProgressController" class="testingProgressContainer">

  <div class="module-yes-nos" ng-if="yes_no_milestones.length > 0">
    <div class="yes-no-item" ng-repeat="yesno in yes_no_milestones">
      <input type="checkbox" ng-model="yesno.earned" ng-change="toggleYesNoMilestone(yesno)" ng-disabled="!(selected_semester.id == current_user.time_unit_id)">
      <span class="text">{{yesno.value}}</span>
    </div>
  </div>

  <div class="pbxl" ng-show="yes_no_milestones.length == 0">
    <h4>Looks like there aren't any testing milestones for this semester.</h4>
  </div>

</div>
