<div class="organizationsContainer paxl" wait-to-load="{{organizations}}">
  <h4 ng-show="organizations.length == 0">No organizations created. Use the REST API to create one</h4>

  <li ng-repeat="org in organizations">
    {{org.name}} |
    <a ng-href="app#/setup/{{org.id}}">Org Setup</a> |
    <a ng-href="app#/organization/{{org.id}}">Mentors</a> |
    <a ng-href="app#/students/{{org.id}}">Students</a>
  </li>

  <div style="padding-top: 20px;">
    <label>Enter the New Organization Name:</label>
    <input class="form-control" ng-model="newOrg.name" style="width: 250px;"/>
    <button type="submit" class="submit" ng-show="newOrg.name" ng-click="addOrganization(newOrg.name)">Add Organization</button>
  </div>
</div>
