<div class="widget">
  <div class="widget--header">
    <div class="widget--header--left">
      <h6 class="bold"><div class="color--dot"></div> {{selected_task_list_title}}</h6>
    </div>
  </div>
  <div class="widget--content">
    <div class="widget--content--table">
      <div class="table--cell breakalways pas">
        <span class="bold">Incomplete</span>
      </div>
      <div ng-if="incompleteAssignments().length == 0" class="table--cell breakalways">
        <div class="cell--padding">No incomplete tasks</div>
      </div>
      <div class="task-item task-item--incomplete table--cell no-border-right breakalways"
        ng-repeat="assignment in incompleteAssignments() | orderBy:sortIncompleteAssignments"
        ng-click="viewTask(assignment)">
        <div class="widget--content--table ng-clickable">
          <div class="task-item-info table--cell">
            <div ng-if="selected_task_list == CONSTANTS.TASK_NAV.assigned_to_me" class="task-item__check-box">
              <input type="checkbox" ng-checked="false" no-click-propagation ng-click="markComplete(assignment)" />
            </div>
            <div class="task-item__title">
              <div class="title__main"> {{assignment.title}}</div>
              <div class="title__info">
                Created {{assignment.created_at | fromNow}} by
                <span ng-if="assignment.user.id != current_user.id">{{assignment.user.first_last_initial}}</span>
                <span ng-if="assignment.user.id == current_user.id">Me</span>
              </div>
            </div>
          </div>
          <div ng-if="selected_task_list != CONSTANTS.TASK_NAV.assigned_to_me"
              class="task-item__completed table--cell">
            <div class="title__main">
              <span class="bold">{{_.where(assignment.user_assignments, {status: 1}).length}}</span>
              out of {{assignment.user_assignments.length}}
            </div>
            <div class="title__info">completed</div>
          </div>
          <div class="task-item__date table--cell"
            ng-class="{'task-item__date--pastdue': isPastDue(assignment)}">
            <span ng-if="assignment.due_datetime" class="title__main mrm">
              Due {{assignment.due_datetime | fromNow}}
            </span>
            <span ng-if="!assignment.due_datetime" class="title__main mrm">No Due Date</span>
          </div>
        </div>
      </div>

      <div class="table--cell breakalways pas">
        <span class="bold">Completed</span>
      </div>
      <div ng-if="completedAssignments().length == 0" class="table--cell breakalways task-item--incomplete">
        <div class="cell--padding">No completed tasks</div>
      </div>
      <div class="task-item task-item--completed table--cell no-border-right breakalways"
        ng-repeat="assignment in completedAssignments() | orderBy:sortCompletedAssignments"
        ng-click="viewTask(assignment)">
        <div class="widget--content--table ng-clickable">
          <div class="task-item-info table--cell">
            <div ng-if="selected_task_list == CONSTANTS.TASK_NAV.assigned_to_me" class="task-item__check-box">
              <input type="checkbox" ng-checked="true" no-click-propagation ng-click="markIncomplete(assignment)" />
            </div>
            <div class="task-item__title">
              <div class="title__main"> {{assignment.title}}</div>
              <div class="title__info">
                Created {{assignment.created_at | fromNow}} by {{created_by_str(assignment)}}
              </div>
            </div>
          </div>
          <div ng-if="selected_task_list != CONSTANTS.TASK_NAV.assigned_to_me"
              class="task-item__completed table--cell">
            <div class="title__main">
              <span class="bold">{{_.where(assignment.user_assignments, {status: 1}).length}}</span>
              out of {{assignment.user_assignments.length}}
            </div>
            <div class="title__info">completed</div>
          </div>
          <div class="task-item__date table--cell"
            ng-class="{'task-item__date--pastdue': isPastDue(assignment)}">
            <span ng-if="assignment.due_datetime" class="title__main mrm">
              Due {{assignment.due_datetime | fromNow}}
            </span>
            <span ng-if="!assignment.due_datetime" class="title__main mrm">No Due Date</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
