<div class="widget widget--nav">
  <div class="widget--header">
    <div class="widget--header--left">
      <h6 class="bold"><div class="color--dot"></div> Setup</h6>
    </div>
  </div>
  <div class="widget--content">
    <div class="widget--content--table">
      <div class="widget--content--cell ng-clickable breakalways">
        <div class="cell--padding">
          <div class="setting-icon"><span class="glyphicon glyphicon-user"></span></div>
          <div class="setting-text">Tasks Assigned to Me</div>
        </div>
      </div>
      <div class="widget--content--cell ng-clickable breakalways">
        <div class="cell--padding">
          <div class="setting-icon"><span class="glyphicon glyphicon-user"></span></div>
          <div class="setting-text">Tasks I've Assigned to Others</div>
        </div>
      </div>
      <div class="widget--content--cell ng-clickable breakalways">
        <div class="cell--padding">
          <div class="setting-icon"><span class="glyphicon glyphicon-user"></span></div>
          <div class="setting-text">Tasks Assigned to My Students</div>
        </div>
      </div>
    </div>
  </div>
</div>
