<p> A new user was created in Imua by <%= @created_by.email %>.</p>

<p> New user: <p>

<p>Email: <%= @user.email %></p>
<p>Role: <%= @user.role %></p>
<p>Organization: <%= @user.organization_id %></p>

Imua Team
