<p>Hey <%= @user.first_name %>,</p>

<p>Your password reset request has been received. </p>

<p>Your new password is '<%= @password %>'. </p>

<p>If you are receiving this email and did not reset your password, contact your administrator immediately. </p>

<p>Mahalo,<p>

Imua Team
