<p>Hey <%= @user.first_name %>,</p>

<p>Welcome to Imua! </p>

<p><%= link_to "Click here", root_url %> to log in and update your information and password. Your current password is '<%= @password %>'. </p>

<p>Mahalo,<p>

Imua Team