<html ng-app="myApp">
  <body class="me-page" ng-controller="SuperAdminCarolineCtrl">
    <div>
      <h1 ng-click="setCurrentFilter(null)">Hello it's Caroline</h1>
      <div>
        <input class="student-search form-inline form-field" style="color:black" ng-model="searchText">
        <ul>
          <li ng-repeat="type in types">
            <a class="btn btn-primary" ng-click="setCurrentFilter(type)">{{type.name}}</a>
          </li>
        </ul>
      </div>
      <h3>Dataset</h3>
      <ol>
        <li ng-repeat="data in dataset | filter:searchText | filter:{type:currentFilter.name} | filter:{id:routeParams}">
          <h6>{{data.text}}</h6>
        </li>
      </ol>
      <h3>Answers</h3>
      <ol>
        <li ng-repeat="answer in answers | filter:searchText">
          <h6>{{answer.text}}</h6>
        </li>
      </ol>

    </div>
  </body>
</html>
