<span class="errorText errorMessage" ng-message="required">*This field is required</span>
<span class="errorText errorMessage" ng-message="minlength">*Too few characters</span>
<span class="errorText errorMessage" ng-message="email">*Not a valid email address</span>
<span class="errorText errorMessage" ng-message="number">*Not a valid number</span>
<span class="errorText errorMessage" ng-message="maxlength">*Too many characters</span>
<span class="errorText errorMessage" ng-message="min">*Number is too small</span>
<span class="errorText errorMessage" ng-message="max">*Number is too large</span>
