<div ng-controller="OrganizationExpectationController" class="organizationExpectationContainer">

  <div class="expectations-title"><h4 class="bold">Student Expectations</h4></div>
  <div class="expectations-list" wait-to-load="{{loaded_expectations}}">

    <div class="expectations-list__item clear" ng-repeat="expectation in expectations">
      <div class="expectatons-list__item-container" ng-hide="expectation.editing">
        <div class="expectations-list__item__title">
          <h4><a href="app#/expectation/{{expectation.id}}">{{expectation.title}}</a></h4>
        </div>
        <div class="expectations-list__item__description">
          <h6 class="wysiwyg-output" ng-bind-html="expectation.description"></h6>
        </div>
        <div class="expectations-list__item__icons" org-setup-editor>
          <span class="glyphicon glyphicon-pencil prs" title="Edit" ng-click="editExpectation($index)"></span>
          <span class="glyphicon glyphicon-trash" title="Delete" ng-click="deleteExpectation($index)"></span>
        </div>
      </div>
      <div class="expectations-list__item--editing" ng-show="expectation.editing">
        <form name="expectationsForm" imua-form="saveExpectation($index)" novalidate>
          <div class="pbm">
            <label-with-errors label="Title" form="expectationsForm" formfield="expectationsForm.title"> </label-with-errors>
            <input type="text" class="form-control" ng-model="expectation.new_title" placeholder="Expectation Title" name="title" required />
          </div>

          <div class="pbm">
            <label-with-errors label="Description" form="expectationsForm" formfield="expectationsForm.description"></label-with-errors>
            <text-angular rows="4" cols="40"  type="text" ta-toolbar="[['bold','italics','underline'],['ol','ul','insertLink']]" ng-model="expectation.new_description" placeholder="Criteria for meeting this Expectation"></text-angular>
          </div>

          <div ng-repeat="error in formErrors" class="errorText errorListing" ng-if="expectationsForm.$submitted && expectationsForm.$invalid">{{error}}</div>

          <div>
            <button class="submit" type="submit">Submit</button>
            <span class="cancel" ng-click="cancelEditExpectation($index)">Cancel</span>
          </div>
        </form>
      </div>
    </div>

    <div class="add-expectation" org-setup-editor>
      <div class="add-expectation__button-placeholder" ng-hide="current_user.role < CONSTANTS.USER_ROLES.mentor && !expectations.editing"></div>
      <button type="submit" class="submit add-expectation__button" ng-show="current_user.role < CONSTANTS.USER_ROLES.mentor && !expectations.editing" ng-click="addExpectation()">Add a Student Expectation</button>
    </div>

  </div>

</div>
