<div ng-controller="OrganizationExpectationController" class="organizationExpectationContainer">

  <div class="expectations-title"><h4 class="bold">Student Expectations</h4></div>
  <div class="expectations-list" wait-to-load="{{loaded_expectations}}">

    <div class="expectations-list__item" ng-repeat="expectation in expectations">
      <div class="expectations-list__item__title">
        <h5 ng-hide="expectation.editing">
          <a href="#/expectation/{{expectation.id}}">{{expectation.title}}</a>
        </h5>
        <input ng-show="expectation.editing" class="form-field" ng-model="expectation.new_title" placeholder="Expectation Title" name="expectation_title">
      </div>
      <div class="expectations-list__item__description">
        <h6 ng-hide="expectation.editing">{{expectation.description}}</h6>
        <input ng-show="expectation.editing" class="form-field" ng-model="expectation.new_description" placeholder="Expectation Description" name="expectation_description">
      </div>
      <div class="expectations-list__item__icons" org-setup-editor>
        <div ng-hide="expectation.editing">
          <span class="glyphicon glyphicon-pencil prs" title="Edit" ng-click="editExpectation($index)"></span>
          <span class="glyphicon glyphicon-trash" title="Delete" ng-click="deleteExpectation($index)"></span>
        </div>
        <div ng-show="expectation.editing">
          <span class="editing_icon glyphicon glyphicon-ok prs green" title="Save" ng-click="saveExpectation($index)"></span>
          <span class="editing_icon glyphicon glyphicon-remove red" title="Cancel" ng-click="cancelEditExpectation($index)"></span>
        </div>
      </div>
    </div>

    <div class="add-expectation" org-setup-editor>
      <div class="add-expectation__button-placeholder" ng-hide="current_user.role < CONSTANTS.USER_ROLES.mentor && !expectations.editing"></div>
      <button type="submit" class="submit add-expectation__button" ng-show="current_user.role < CONSTANTS.USER_ROLES.mentor && !expectations.editing" ng-click="addExpectation()">Add a Student Expectation</button>
    </div>

  </div>

</div>
