<div ng-controller="StudentExpectationController" class="studentExpectationContainer">

  <h4>Expectations</h4>
  <div class="no-expectations" ng-hide="expectations.length != 0">None</div>

  <div class="expectations-list" ng-repeat="expectation in expectations">
    <div class="expectations-list-item">
      <h6>{{expectation.title}}</h6>
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">0</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">1</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">2</label>
      </div>
    </div>
  </div>

</div>
