<div class="studentExpectationContainer">

  <div class="upper expectationUpper">

    <ul class="clear">

      <li class="studentProgress narrow addBorderright">
        <a class="js-nav-link" ng-href="#/progress/{{student.id}}">{{student.first_name}}'s Progress</a>
      </li>

      <li class="studentExpectations wide">
        <div class="progressStudent-wrapper clear">
          <div class="progressSelector">
            <h5><a ng-href="#/profile/{{student.id}}" class="bold">{{student.first_last_initial}}'s</a> Expectations</h5>
          </div>
        </div>
      </li>

      <li class="studentProfile narrow addBorderleft">
        <a class="js-nav-link" ng-href="#/profile/{{student.id}}">{{student.first_name}}'s Profile</a>
      </li>

    </ul>

  </div>

  <div class="expectationMiddle clear">

    <div class="progressCircle-big--container">

      <div class="progressCircle-big">
        <a ng-href="#/profile/{{student.id}}" alt="View {{student.first_name}}'s Profile">
          <div class="big-progress-circle" ng-class="{'needsAttention': needs_attention}" ng-if="student_with_modules_progress">
            <progress-circle width="240" student="student_with_modules_progress" identifier="big" ng-if="student_with_modules_progress"></progress-circle>
          </div>
        </a>
      </div>

    </div> <!-- progressCircle-big--container -->

    <div class="meetingExpectations">
      <div class="expectations-message" wait-to-load="{{loaded_data}}">
        <div ng-if="current_user.is_student">
          <div class="expectations-met-message" ng-hide="!meetingExpectations">
            <h3 class="bold">Nice work {{student.first_name}}!</h3>
            <h5>You're meeting all of the Expectations!</h5>
          </div>
          <div class="expectations-not-met-message" ng-hide="meetingExpectations">
            <h3 class="bold">Hey {{student.first_name}},</h3>
            <h5>you aren't currently meeting all of your expectations.</h5>
          </div>
        </div>
        <div ng-if="!current_user.is_student">
          <div class="expectations-met-message" ng-hide="!meetingExpectations">
            <h3 class="bold">{{student.first_name}} is meeting</h3>
            <h5>all of the expectations.</h5>
          </div>
          <div class="expectations-not-met-message" ng-hide="meetingExpectations">
            <h3 class="bold">{{student.first_name}} is not meeting</h3>
            <h5>all of the expectations.</h5>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="expectationLower">

    <div class="expectationLower--container">

    <div class="module-header">
        <h4 class="bold">
          {{student.first_name}}'s Expectations
        </h4>
      </div>

      <div class="expectations-list" wait-to-load="{{loaded_data}}">
        <div class="expectations-list-item" ng-repeat="expectation in expectations" ng-click="viewExpectation(expectation.user_expectation.id)"
              ng-class="{'bad': expectation.user_expectation.status == CONSTANTS.EXPECTATION_STATUS.not_meeting,
                         'warn': expectation.user_expectation.status == CONSTANTS.EXPECTATION_STATUS.needs_work,
                         'good': expectation.user_expectation.status == CONSTANTS.EXPECTATION_STATUS.meeting}">
          <h5 class="bold">{{expectation.title}}</h5>

          <div ng-if="expectation.user_expectation.status == CONSTANTS.EXPECTATION_STATUS.meeting">
            <h2><span class="glyphicon glyphicon-star"></span></h2>
            <h6 class="bold">You're meeting this expectation.</h6>
          </div>

          <div ng-if="expectation.user_expectation.status == CONSTANTS.EXPECTATION_STATUS.needs_work">
            <h2><span class="glyphicon glyphicon-warning-sign"></span></h2>
            <h6 class="bold">You need some work on this expectation.</h6>
          </div>

          <div ng-if="expectation.user_expectation.status == CONSTANTS.EXPECTATION_STATUS.not_meeting">
            <h2><span class="glyphicon glyphicon-exclamation-sign"></span></h2>
            <h6 class="bold">You are not meeting this expectation!</h6>
          </div>
          <span ng-if="expectation.user_expectation.comment">{{expectation.user_expectation.comment}}</span>
          <div class="updated-text" ng-if="expectation.user_expectation.modified_by_name">Last Updated {{expectation.user_expectation.updated_at | fromNow}}</div>
        </div>
      </div>

    </div>

  </div>

</div>
