<div class="userExpectationContainer">

  <div class="expectation-header">
    <div class="single-col-wrapper">
      <div class="back-link">
        <h6>
          <a href="#/expectations/{{student.id}}" >
            <span ng-if="current_user.role <= CONSTANTS.USER_ROLES.mentor"><span class="glyphicon glyphicon-circle-arrow-left"></span> {{student.first_name}}'s Expectations</span>
            <span ng-if="current_user.role >= CONSTANTS.USER_ROLES.student"><span class="glyphicon glyphicon-circle-arrow-left"></span> My Expectations</span>
          </a>
        </h6>
      </div>
    </div>
  </div>

  <div class="single-col-wrapper clear">
    <div class="expectation--left">
      <h4 class="bold">
        {{user_expectation.title}}
      </h4>
    </div>
    <div class="expectation--right">
      Right
    </div>
  </div>

      <div class="expectation-view clear">

        <div class="expectations-list-item" ng-class="{'bad': user_expectation.status == CONSTANTS.EXPECTATION_STATUS.not_meeting,
                                                       'warn': user_expectation.status == CONSTANTS.EXPECTATION_STATUS.needs_work,
                                                       'good': user_expectation.status == CONSTANTS.EXPECTATION_STATUS.meeting}">
          <div class="module-header">
            <h4 class="bold">
              {{user_expectation.title}}
            </h4>
          </div>

          <div class="expectation-btn-group--container clear">
            <div class="slider-bg"></div>
            <div class="expectation-selector">
              <div class="button-wrapper" ng-class="{selected: user_expectation.status == CONSTANTS.EXPECTATION_STATUS.not_meeting}">
                <button class="expectation-btn-alert" ng-click="editExpectation(CONSTANTS.EXPECTATION_STATUS.not_meeting)"
                      ng-disabled="current_user.role >= CONSTANTS.USER_ROLES.student"></button>
              </div>
              <div class="button-label">Not Meeting</div>
            </div>
            <div class="expectation-selector">
              <div class="button-wrapper" ng-class="{selected: user_expectation.status == CONSTANTS.EXPECTATION_STATUS.needs_work}">
                <button class="expectation-btn-warn" ng-click="editExpectation(CONSTANTS.EXPECTATION_STATUS.needs_work)"
                      ng-disabled="current_user.role >= CONSTANTS.USER_ROLES.student"></button>
              </div>
              <div class="button-label">Needs Work</div>
            </div>
            <div class="expectation-selector">
              <div class="button-wrapper" ng-class="{selected: user_expectation.status == CONSTANTS.EXPECTATION_STATUS.meeting}">
                <button class="expectation-btn-good" ng-click="editExpectation(CONSTANTS.EXPECTATION_STATUS.meeting)"
                      ng-disabled="current_user.role >= CONSTANTS.USER_ROLES.student"></button>
              </div>
              <div class="button-label">Meeting</div>
            </div>
          </div>

          <div class="expectation-comment-container">

            <div class="expectation-comment" ng-hide="editing">
              <div class="mvm">
                <span ng-if="user_expectation.modified_by_name">Changed
                  <span class="bold">{{user_expectation.updated_at | fromNow}}</span>
                  by
                </span>
                <span class="bold">{{user_expectation.modified_by_name}}</span>
              </div>
              <div class="mvm">
                <span class="bold">Reason: </span>
                <span ng-if="user_expectation.comment">{{user_expectation.comment}}</span>
                <span ng-if="!user_expectation.comment">No reason added</span>
              </div>
            </div>

            <div class="expectation-comment--add" ng-show="editing">
              <textarea ng-model="new_comment" class="form-field expectation-comment-box" rows="4" placeholder="Enter a comment"></textarea>
              <div class="buttonGroup">
                <button class="submit" ng-click="updateExpectation()">Save</button>
                <button class="delete" ng-click="cancelEditing()">Cancel</button>
              </div>
            </div>
          </div>

        </div>

      <div class="expectations-history-list">
        <h5>Expectation History</h5>
        <hr />

        <div class="expectation-history-item" ng-repeat="history in user_expectation_history">
          <div>Changed <span class="bold">{{history.updated_at | fromNow}}</span> by
            <span class="bold">{{history.modified_by_name}}</span> to:
          </div>

          <div class="expectation-history-status" ng-class="getHistoryColor(history.status)"></div>

          <div class="expectation-status-label">{{getStatusText(history.status)}}</div>

          <div>
            <span class="bold">Reason: </span>
            <span ng-if="history.comment">{{history.comment}}</span>
            <span ng-if="!history.comment">No reason added</span>
          </div>
        </div>
      </div>
    </div>

</div>
