<div ng-controller="MentorDashboardController" id="mentorDashboard">
  <div class="dashboard-header dashboard-header--mentor">
    <div class="mentor-header--wrapper clear">
      <div class="greeting">
        <h5>Hey there {{user.first_name}},</h5>
        <h2 class="bold">Welcome back!</h2>
      </div>
      <div class="circle-attention">

		  	<div class="circle">

			  	<div class="text">

				    <h2 class="bold">{{attention_students.length}}</h2>
	          <span ng-if="attention_students.length != 1" class="subhead">students need<br>your attention!</span>
            <span ng-if="attention_students.length == 1" class="subhead">student needs<br>your attention!</span>

			  	</div>

		  	</div>

	    </div>
    </div>
  </div>

  <div class="dashboard-content dashboard-content--mentor">

    <div class="dashboard-attention dashboard-attention--mentor" ng-hide="attention_students.length == 0">
      <div ng-if="attention_students.length == 1" class="list-header">
        <h4>This student <span class="bold">needs your attention!</span></h4>
      </div>
      <div ng-if="attention_students.length != 1" class="list-header">
        <h4>These students <span class="bold">need your attention!</span></h4>
      </div>
      <div class="list-container progress-circle--list">
        <progress-circle-needs-attention ng-repeat="student in attention_students"></progress-circle-needs-attention>
      </div>
    </div>

    <div class="list-header">
    	<h4 ng-if="assigned_students.length == 1">Your <span class="bold">Student</span></h4>
      <h4 ng-if="assigned_students.length != 1">Your <span class="bold">Students</span></h4>
    </div>
    <div ng-hide="assigned_students.length > 0">
      <h5 style="font-style: italic">Hey {{user.first_name}}, it looks like you don't have any students assigned to you yet.</h5>
    </div>
    <div class="list-container progress-circle--list">
      <progress-circle-default ng-repeat="student in assigned_students | orderBy: 'last_name'"></progress-circle-default>
      <!-- <progress-bar-default ng-repeat="student in assigned_students | orderBy: 'last_name'"></progress-circle-default> -->
    </div>
  </div>

  <!-- <button class="btn btn-default" ng-click="addAssignment()">Send Assignment To Students</button> -->
</div>
