<div ng-controller="OrgAdminDashboardController" id="OrgAdminDashboard">

  <div class="dashboard-header dashboard-header--orgadmin">
    <div class="orgadmin-header--wrapper">
      <div class="greeting">
        <h2>Hey there {{user.first_name}}</h2>
        <h5>Here's a look at how your organization is doing today:</h5>
      </div>
    </div>
  </div>

  <div class="dashboard-attention dashboard-attention--orgadmin" ng-hide="true">Placeholder for Alerts</div>

  <div class="dashboard-content dashboard-content--orgadmin">
    <div id="masonry-container" class="module-container clear" modulecolor="no_category">

      <div class="module module--mentor-activity">
        <div class="module--header">Mentor Activity</div>
        <div class="module--content">
          <h4><span class="numbers-large">5</span></h4>
          <h5>Active Mentors</h5>
          <p>This Week</p>
        </div>
      </div>

      <div class="module module--student-activity">
        <div class="module--header">Student Activity</div>
        <div class="module--content">
          <h4><span class="numbers-large">34</span></h4>
          <h5>Active Students</h5>
          <p>This Week</p>
        </div>
      </div>

      <div class="module module--avg-gpa" modulecolor="academics">
        <div class="module--header">Grades</div>
        <div class="module--content">
          <h4><span class="numbers-large">3.14</span></h4>
          <h5>Average GPA</h5>
        </div>
      </div>

      <div class="module module--avg-service" modulecolor="service">
        <div class="module--header">Service Hours</div>
        <div class="module--content">
          <h4><span class="numbers-large">12.34</span></h4>
          <h5>Average Hours Completed</h5>
        </div>
      </div>

      <div class="module module--activities" modulecolor="extracurricular">
        <div class="module--header">Extracurricular</div>
        <div class="module--content">
          <h4><span class="numbers-large">1.2</span></h4>
          <h5>Average Number of Extracurricular Activities</h5>
        </div>
      </div>

      <div class="module module--activities" modulecolor="testing">
        <div class="module--header">Testing</div>
        <div class="module--content">
          <h4><span class="numbers-large">0.5</span></h4>
          <h5>Average Number of Tests Taken</h5>
        </div>
      </div>

    </div>

  </div>

</div>
