<div ng-controller="OrgAdminDashboardController" id="OrgAdminDashboard">

  <div class="dashboard-header dashboard-header--orgadmin">
    <div class="orgadmin-header--wrapper">
      <div class="greeting">
        <h2 class="bold">Hey there, {{user.first_name}}</h2>
        <h5>Here's a look at how {{current_organization}} is doing today:</h5>
      </div>
    </div>
  </div>

  <div class="dashboard-attention dashboard-attention--orgadmin" ng-hide="true">Placeholder for Alerts</div>

  <div class="dashboard-content" wait-to-load="{{loaded_users}}">

    <div ng-include="'dashboard/widgets/org_activity.html'"></div>

    <div ng-include="'dashboard/widgets/org_gpa.html'" modulecolor="academics"></div>

    <div ng-include="'dashboard/widgets/org_service_hours.html'" modulecolor="service"></div>

    <div ng-include="'dashboard/widgets/org_extracurricular.html'"></div>

  </div>

</div>
