<div ng-controller="OrgAdminDashboardController" id="OrgAdminDashboard">

  <div class="dashboard-header dashboard-header--orgadmin">
    <div class="orgadmin-header--wrapper">
      <div class="greeting">
        <h2>Hey there {{user.first_name}}</h2>
        <h5>Here's a look at how your organization is doing today:</h5>
      </div>
    </div>
  </div>

  <div class="dashboard-attention dashboard-attention--orgadmin" ng-hide="true">Placeholder for Alerts</div>

  <div class="dashboard-content dashboard-content--orgadmin">
    <div class="module-container clear" modulecolor="no_category">
      <div class="module">
        <div class="module--header">
          Organization Activity
        </div>
        <div class="module--content">
          Module Content
        </div>
      </div>
    </div>
  </div>

</div>
