<div ng-controller="StudentDashboardController" id="studentDashboard" class="studentDashboardContainer">
  <div wait-to-load="{{loaded_data}}">

    <div class="dashboard-header dashboard-header--student">

      <div class="student-header--wrapper">

        <div class="student-header--content clear">

          <div class="progressCircle-big--container">

            <a class="js-nav-link" ng-href="app#/progress/{{current_user.id}}">

              <div class="progressCircle-big">
              	<div class="big-progress-circle">
              		<progress-circle width="240" student="student_with_modules_progress" ng-if="student_with_modules_progress"></progress-circle>
              	</div>
              </div>

            </a>

          </div> <!-- progressCircle-big--container -->

          <div class="greeting big-text">
            <h5 class="greeting__small">Hey there {{student.first_name}},</h5>
            <h2 class="bold">Welcome back!</h2>
          </div>

        </div> <!-- /student-header--content -->

      </div> <!-- student-header--wrapper -->

    </div><!-- dashboard-header--student -->

    <div class="dashboard-attention dashboard-attention--student" ng-hide="user_assignments.length == 0">
      <!-- This is where things that need attention go -->
    </div>

    <div class="dashboard-content dashboard-content--student clear">

      <div class="module-container clear">

        <div class="module module--upcoming-milestones" modulecolor="no_category">
          <div class="module--header">Upcoming <span class="bold">Milestones</span></div>
          <div class="module--content">
            <div class="module-milestones" ng-if="milestones.length > 0">
              <div class="milestones-unsatisfied section--subsection clear">
                <div class="milestone-item" ng-repeat="milestone in milestones | orderBy: '-points'" ng-if="!milestone.earned">
                  <div class="milestone-item-unstatisfied">
                    <a href="app#/progress/{{student.id}}">
                      <div class="milestone--point-circle" modulecolor="{{milestone.module | addUnderscoreIfFirstCharIsNum}}">
                        <div class="point-circle--inside">
                          <h5 class="bold">{{milestone.points}}</h5>
                          <p>Points</p>
                        </div>
                      </div>
                    </a>
                    <h6>{{milestone | printMilestone}}</h6>
                  </div>
                </div>
              </div>
            </div>
            <a href="app#/progress/{{student.id}}"><button class="btn btn-default">Check out your Progress</button></a>
          </div>
        </div>

        <div class="module module--expectations" modulecolor="no_category">
          <div class="module--header">Your <span class="bold">Expectations</span></div>
          <div class="module--content">
            <div class="expectations-met-message" ng-if="meetingExpectations">
              <h5 class="bold">Nice work {{student.first_name}}!</h5> <h6>You're meeting all of the Expectations!</h6>
            </div>
            <div class="dashboard-expectations--list clear">
              <div class="expectations-met-message" ng-if="!meetingExpectations"><h6>You have expectations that need work<h6></div>

              <div class="dashboard-expectations--list-item" ng-repeat="expectation in expectations" ng-if="expectation.user_expectation.status > 0">
                <a href="app#/user/{{student.id}}/user_expectation/{{expectation.user_expectation.id}}">
                  <div class="dashboard-expectation warn" ng-if="expectation.user_expectation.status == 1">
                    <h6 class="bold"><span class="glyphicon glyphicon-warning-sign"></span> {{expectation.title}}</h6>
                  </div>
                  <div class="dashboard-expectation bad" ng-if="expectation.user_expectation.status == 2">
                    <h6 class="bold"><span class="glyphicon glyphicon-exclamation-sign"></span> {{expectation.title}}</h6>
                  </div>
                </a>
              </div>
            </div>
            <a href="app#/expectations/{{student.id}}"><button class="btn btn-default">See All Expectations</button></a>
          </div>
        </div>

        <div class="module module--upcoming--tasks" modulecolor="no_category">
          <div class="module--header">Upcoming <span class="bold">Tasks</span></div>
          <div class="module--content">
            <ul>
              <li class="tasks--list--item" ng-repeat="assignment in user_assignments | orderBy:sortIncompleteAssignments" ng-if="assignment.status == 0">
                <a no-click-propagation href="app#/user_assignment/{{assignment.id}}">
                  <h6 class="bold">{{assignment.title}}</h6>
                  <div class="subtext" ng-if="assignment.due_datetime != null">
                    Due {{assignment.due_datetime | fromNow}}
                  </div>
                </a>
              </li>
            </ul>
            <a href="app#/user_assignments/{{student.id}}"><button class="btn btn-default">See All Tasks</button></a>
          </div>
        </div>

      </div>

    </div><!-- dashboard-content--student -->
  </div>
</div>
