<div ng-controller="StudentDashboardController" id="studentDashboard" class="studentDashboardContainer">
  <div wait-to-load="{{student_with_modules_progress}}">

    <div class="dashboard-header dashboard-header--student">
      <div class="mentor-header">
        <div class="greeting">
          <div class="greeting__small">Hello {{student.first_name}},</div>
          <div class="greeting__large">Welcome back!</div>
        </div>

        <div class="progress-circle" ng-if="student_with_modules_progress">
          <a ng-href="#/progress/{{student.id}}" title="View Progress">
            <progress-circle student="student_with_modules_progress" ng-if="student_with_modules_progress"></progress-circle>
          </a>
        </div>
      </div>
    </div>

    <div class="pal dashboard-attention dashboard-attention--student displayNone">
      <div>This is where things that need attention go</div>
    </div>

    <div class="pal dashboard-content dashboard-content--student">

      <div class="mentor-list">
        <div class="student-mentors-header">Your Mentors:</div>
        <div class="avatar-block avatar-block--list" ng-repeat="mentor in student_mentors" wait-to-load="loaded_student_mentors">
          <a ng-href="#/profile/{{mentor.id}}" title="View mentor info">
            <img ng-src="{{mentor.square_avatar_url}}" alt="Avatar" class="avatar-block__img avatar-block__img--thumbnail" />
            <div class="avatar-block__name">
              {{mentor.first_name}} {{mentor.last_name}}
            </div>
          </a>
        </div>
      </div>

      <div class="middle-content-container">

        <div class="module-yes-nos" ng-if="milestones.length > 0">

          <div class="yes-nos-unsatisfied section--subsection clear">

            <div class="section--subhead">Next Milestones</div>

            <div class="yes-no-item" ng-repeat="milestone in milestones | orderBy: '-points'" ng-if="!milestone.earned">
              <div class="yes-no-item-unstatisfied">

                <h6>{{milestone | printMilestone}}</h6>
                <label for="yesNoCheckbox">
                  <div class="yes-no--point-circle">
                    <div class="point-circle--inside">
                      <h5 class="bold">{{milestone.points}}</h5>
                      <p>Points</p>
                    </div>
                  </div>
                </label>

              </div>
            </div>

          </div>

      </div>

    </div>

  </div>
</div>
