<div class="widget extracurricular-activities">

  <div class="widget--header">

    <div class="widget--header--left">
      <h6 class="bold" ng-if="!current_user.is_student"><div class="color--dot"></div> {{student.first_name}}'s Activities</h6>
      <h6 class="bold" ng-if="current_user.is_student"><div class="color--dot"></div> Your Activities</h6>
    </div>

    <div class="widget--header--right">
      <div progress-editor class="widget--options ng-clickable" collapse-accordion="extracurricularAccordion"
          ng-hide="editingActivities()" ng-click="editorClick()">
        <div ng-hide="ecEditor">
          <div class="showing--text">Add or Remove Activities</div>
          <div class="showing--icon glyphicon glyphicon-edit"></div>
        </div>
        <div ng-show="ecEditor">
          <button class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Done Editing</button>
        </div>
      </div>
    </div>
  </div>

  <div class="widget--content">

    <div class="widget--content--table table--fixed">
      <div class="table--cell break900" wait-to-load="{{loaded_data}}">
        <div progress-editor class="table--cell ng-clickable breakalways" ng-click="editorClick()"
            ng-show="applicableActivities().length == 0 && !ecEditor">
          <div class="cell--padding clear">
            <div class="class-name">
              <h5 ng-if="current_user.is_student">You haven't added any extracurricular activities yet.</h5>
              <h5 ng-if="!current_user.is_student">{{student.first_name}} hasn't added any extracurricular activities yet.</h5>
              <h5 class="bold">Click here to begin</h5>
            </div>
          </div>
        </div>

        <div id="extracurricularAccordion" imua-accordion class="widget--content--table table--fixed">

          <div class="table--cell no-border-right breakalways"
                ng-repeat="user_extracurricular_activity in applicableActivities()">

            <div accordion-header class="widget--content--table ng-clickable" ng-hide="user_extracurricular_activity.editing">

              <div class="table--cell">
                <div class="cell--padding">

                  <div class="clear">
                    <div class="activity-name">
                      <h4 class="bold">{{user_extracurricular_activity.name}}</h4>
                    </div>
                  </div>
                  <div progress-editor class="delete-button" ng-show="ecEditor">
                    <button no-click-propagation class="btn btn-danger" ng-click="deleteActivity(user_extracurricular_activity)"><span class="glyphicon glyphicon-trash"></span> Delete </button>
                  </div>
                </div>
              </div>

            </div>

            <div accordion-body class="widget--content--table widget--pane--cell" ng-hide="user_extracurricular_activity.editing">
              <div class="table--cell breakalways">
                <div class="cell--padding">
                  <div class="subtext">
                    Last updated {{lastUpdated(user_extracurricular_activity) | fromNow}}
                  </div>
                </div>
              </div>

              <div class="table--cell breakalways" ng-if="user_extracurricular_activity.details[0].leadership != ''">
                <div class="cell--padding">
                  <h6 class="bold"><span class="glyphicon glyphicon-star"></span> {{user_extracurricular_activity.details[0].leadership}} <span class="glyphicon glyphicon-star"></span></h6>
                </div>
              </div>

              <div class="table--cell breakalways" ng-if="user_extracurricular_activity.details[0].description != ''">
                <div class="cell--padding wysiwyg-output" ng-bind-html="user_extracurricular_activity.details[0].description">
                </div>
              </div>

              <div progress-editor class="table--cell breakalways">
                <div class="cell--padding">
                  <button class="btn btn-default btn-sm" ng-click="editActivity(user_extracurricular_activity); edit_ec_activity_focus_trigger=true"><span class="glyphicon glyphicon-edit"></span> Edit {{user_extracurricular_activity.name}}</button>
                </div>
              </div>
            </div>

            <div progress-editor class="widget--content--table widget--pane--cell" ng-show="user_extracurricular_activity.editing">

              <form imua-form="saveActivity(user_extracurricular_activity)" name="editActivityForm" novalidate>
                <div class="table--cell breakalways">
                  <span class="input-group">
                    <label-with-errors label="What Activity did you participate in?" form="editActivityForm" formfield="editActivityForm.activityName"></label-with-errors>
                    <input autocomplete="off" required name="activityName" type="text" autocomplete="off" focus-me="edit_ec_activity_focus_trigger" ng-model="user_extracurricular_activity.new_name" typeahead="activityName for activityName in org_current_activity_list | filter: $viewValue | limitTo:8" class="form-control" placeholder="Extracurricular Activity Name">
                  </span>
                </div>
                <div class="table--cell breakalways">
                  <div class="cell-padding">
                    <span class="input-group">
                      <label>Leadership Role (Optional)</label>
                      <input class="form-control" ng-model="user_extracurricular_activity.details[0].new_leadership" placeholder="Leadership (optional)" name="extracurricularEventLeadership">
                    </span>
                  </div>
                </div>
                <div class="table--cell breakalways">
                  <div class="cell-padding">
                    <span class="input-group">
                      <label>Description (Optional)</label>
                      <text-angular ta-toolbar="[['bold','italics','underline'],['ol','ul','insertLink']]" ng-model="user_extracurricular_activity.details[0].new_description" placeholder="Description (optional)" name="extracurricularEventDescription"></text-angular>
                    </span>
                  </div>
                </div>

                <div progress-editor class="table--cell breakalways">
                  <div class="cell--padding">
                    <div ng-repeat="error in formErrors" class="errorText errorListing" ng-if="editActivityForm.$submitted && editActivityForm.$invalid">
                    {{error}}</div>
                    <div class="edit-buttons">
                      <button class="submit" type="submit" title="Confirm">Confirm</button>
                      <span class="cancel" title="Cancel" ng-click="cancelEditActivity(user_extracurricular_activity)">Cancel</span>
                    </div>
                  </div>
                </div>
              </form>
            </div>

          </div>

          <div progress-editor class="cell--padding breakalways ng-clickable" ng-click="editNewActivityEntry(); edit_new_activity_focus_trigger=true" ng-show="ecEditor && !new_activity.editing" >
            <div class="class-name">
              <h6 class="bold">Add an Activity</h6>
            </div>
            <div class="class-grade">
              <h3><span class="glyphicon glyphicon-plus-sign"></span></h3>
            </div>
          </div>

        </div>

        <div progress-editor id="service--pane" class="table--cell widget--pane--cell break900" ng-show="ecEditor && new_activity.editing">
          <div class="widget--pane">
            <div class="widget--content--table table--fixed">
              <form imua-form="saveNewActivity()" name="newActivityForm" novalidate>

                <div class="table--cell breakalways">
                  <span class="input-group">
                    <label-with-errors label="What Activity did you participate in?" form="newActivityForm" formfield="newActivityForm.activityName"></label-with-errors>
                    <input required autocomplete="off" type="text" name="activityName" focus-me="edit_new_activity_focus_trigger" ng-model="new_activity.name" typeahead="activityName for activityName in org_current_activity_list | filter: $viewValue | limitTo:8" class="form-control" placeholder="Extracurricular Activity Name">
                  </span>
                </div>
                <div class="table--cell breakalways">
                  <div class="cell-padding">
                    <span class="input-group">
                      <label>Leadership Role (Optional)</label>
                      <input class="form-control" ng-model="new_activity.details[0].leadership" placeholder="Leadership (optional)">
                    </span>
                  </div>
                </div>
                <div class="table--cell breakalways">
                  <div class="cell-padding">
                    <span class="input-group">
                      <label>Description (Optional)</label>
                      <text-angular ta-toolbar="[['bold','italics','underline'],['ol','ul','insertLink']]" ng-model="new_activity.details[0].description" placeholder="Description (optional)"></text-angular>
                    </span>
                  </div>
                </div>

                <div progress-editor class="table--cell breakalways">
                  <div class="cell--padding">
                    <div ng-repeat="error in formErrors" class="errorText errorListing" ng-if="newActivityForm.$submitted && newActivityForm.$invalid">
                    {{error}}</div>
                    <div class="edit-buttons">
                      <button type="submit" class="submit" title="Confirm">Confirm</button>
                      <span class="cancel" title="Cancel" ng-click="resetNewActivityEntry()">Cancel</span>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
