<div class="widget-group">
  <div class="widget-group--table table--fixed">
    <div class="widget-group--cell break900">
      <div class="widget gpa">
        <div class="widget--header">
          <div class="widget--header--left">
            <h6 class="bold" ng-if="current_user.is_student"><div class="color--dot"></div> Your GPA</h6>
            <h6 class="bold" ng-if="!current_user.is_student"><div class="color--dot"></div> {{student.first_name}}'s GPA</h6>
          </div>

          <div class="widget--header--right">
            <div>
              <span ng-click="go('/student_view/' + student.id)" class="link">View GPA History</span>
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
          </div>
        </div>
        <div class="widget--content">
          <div class="widget--content--table">
            <div class="table--cell">
              <div class="cell--padding">
                <h1  ng-hide="gpaOverride.editing" class="gpa--value bold">{{gpa}}</h1>
                <div ng-show="!current_user.is_student && user_classes.length == 0 && !gpaOverride.editing" ng-click="editGpa()" class="showing--icon glyphicon glyphicon-edit"></div>
                <h5 ng-show="gpaOverride.editing">GPA will change when classes are added</h5>
                <form  ng-show="gpaOverride.editing"  name="gpaForm" imua-form="overrideGpa()" novalidate>
                    <label-with-errors form="gpaForm" formfield="gpaForm.gpaValue"></label-with-errors>
                    <input required min="0" max="5"type="number" class="form-control gpa--input" placeholder="GPA Value" ng-model="gpaOverride.value" name="gpaValue">
                  <div class="mtl">
                    <button type="submit" class="submit">Confirm</button>
                    <span ng-click="cancelGpaEdit()" class="cancel">Cancel</span>
                  </div>
                </form>
                <h5>GPA</h5>
                <div class="subtext">As of {{last_updated_gpa | fromNow}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="widget-group--cell break900">
      <div class="widget gpa-ot">
        <div class="widget--header">
          <div class="widget--header--left">
            <h6 class="bold"><div class="color--dot"></div> GPA Over Time</h6>
          </div>
        </div>
        <div class="widget--content">
          <div class="widget--content--table">
            <div class="table--cell">
              <div class="cell--padding">
                <history-line-chart data="gpa_history"></history-line-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
