<div class="widget-group">
  <div class="widget-group--table table--fixed">
    <div class="widget-group--cell break1200" ng-if="!milestone.earned.length != 0">
      <div class="widget milestones">
        <div class="widget--header">
          <h6 class="bold"><div class="color--dot"></div> Next Milestones</h6>
        </div>
        <div class="widget--content">
          <div class="widget--content--table">
            <div class="table--cell">
              <div class="milestone-item" ng-repeat="milestone in milestones" ng-if="!milestone.earned">
                <progress-circle-milestone-icon milestone="milestone"><progress-circle-milestone-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="widget-group--cell break1200" ng-if="milestone.earned.length != 0">
      <div class="widget milestones">
        <div class="widget--header">
          <h6 class="bold"><div class="color--dot"></div> Completed Milestones</h6>
        </div>
        <div class="widget--content">
          <div class="widget--content--table">
            <div class="table--cell">
              <div class="milestone-item" ng-repeat="milestone in milestones" ng-if="milestone.earned">
                <progress-circle-milestone-icon milestone="milestone"><progress-circle-milestone-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
