<div class="widget module-circle-breakdown">

  <div class="widget--header">
    <h6 class="bold"><div class="color--dot"></div> Categories</h6>
  </div>

  <div class="widget--content">
    <div class="widget--content--table table--fixed">
      <div class="table--cell break900 ng-clickable" ng-repeat="mod in modules_progress" ng-class="{inactive: mod.points.total == 0, selectedCircle: mod == selected_module, notSelectedCircle: mod !== selected_module}" ng-click="selectModule(mod)">

        <div class=" module-circle cell--padding">
          <h6 class="module-circle__title bold">{{mod.module_title | underscoresToSpaces}}</h6>
          <div class="circle-size">
            <module-progress-circle module="mod" parentclass="circle-size"></module-progress-circle>
          </div>
          <div class="module-circle--meta">
            <div class="click-to-view">Click to view {{mod.module_title | underscoresToSpaces}}</div>
            <div class="updated-on subtext" ng-if="mod.last_updated != null">Last updated {{mod.last_updated | fromNow}}</div>
            <div class="updated-on subtext" ng-if="mod.last_updated == null && current_user.organization_name != 'OneGoal'">Never Updated</div>
          </div>
        </div>

        <div class="module-bar cell--padding clear">
          <div class="module-bar--full">
            <h6 class="bold">{{mod.module_title | underscoresToSpaces}}</h6>
            <div class="bar-size">
              <horizontal-module-progress-bar module="mod" parentclass="bar-size"></horizontal-module-progress-bar>
            </div>
            <div class="bar-points">
              <h7>{{mod.points.user}}/{{mod.points.total}} points</h7>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
