<div class="widget service-log">

  <div class="widget--header">
    <div class="widget--header-container clear">
      <div class="widget--header--title widget--header--noleft">
        <h6 class="bold" ng-if="!current_user.is_student"><div class="color--dot"></div> {{student.first_name}}'s Service Log</h6>
        <h6 class="bold" ng-if="current_user.is_student"><div class="color--dot"></div> Your Service Log</h6>
      </div>
      <div class="widget--header--right">
        <div progress-editor class="widget--options ng-clickable" collapse-accordion="serviceAccordion"
            ng-hide="editingServices()" ng-click="editorClick()">
          <div ng-hide="serviceEditor">
            <div class="showing--text">Add or Remove Organizations</div>
            <div class="showing--icon glyphicon glyphicon-edit"></div>
          </div>
          <div ng-show="serviceEditor">
            <button ng-show="serviceEditor" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Done Editing</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="widget--content">

    <div class="widget--content--table table--fixed">

      <div class="table--cell break900" wait-to-load="{{loaded_data}}">
        <div progress-editor class="table--cell ng-clickable breakalways" ng-click="editorClick()"
            ng-show="applicableServiceOrganizations().length == 0 && !serviceEditor">
          <div class="cell--padding clear">
            <div class="class-name">
              <h5 ng-if="current_user.is_student">You haven't added any service hours yet.</h5>
              <h5 ng-if="!current_user.is_student">{{student.first_name}} hasn't added any service hours yet.</h5>
              <h5 class="bold">Click here to begin</h5>
            </div>
          </div>
        </div>

        <div id="serviceAccordion" imua-accordion class="widget--content--table table--fixed">

          <div class="table--cell no-border-right breakalways"
                ng-repeat="user_service_organization in applicableServiceOrganizations()">

            <!-- Org Name -->
            <div accordion-header class="widget--content--table ng-clickable">
              <div class="table--cell">
                <div class="service-org-header" ng-hide="user_service_organization.editing">
                  <h4 class="bold">{{user_service_organization.name}}</h4>
                  <div progress-editor class="edit-buttons" ng-show="serviceEditor">
                    <button no-click-propagation class="btn btn-default" ng-click="editOrganization(user_service_organization)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button no-click-propagation class="btn btn-danger" ng-click="deleteOrganization(user_service_organization)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                  </div>
                </div>

                <div progress-editor class="service-org-header--editing cell--padding" ng-show="user_service_organization.editing">
                  <form imua-form="saveOrganization(user_service_organization)" name="editOrganizationForm" novalidate>
                    <span class="input-group">
                      <h4>Who was the service for?</h4>
                      <label-with-errors label="Organization Name" form="editOrganizationForm" formfield="editOrganizationForm.orgName"></label-with-errors>
                      <input autocomplete="off" type="text" required name="orgName" no-click-propagation focus-me="edit_new_service_organization_focus_trigger" ng-model="user_service_organization.new_name" typeahead="orgName for orgName in org_current_organization_list | filter: $viewValue | limitTo:8" class="form-control" placeholder="Organization Name">
                    </span>
                    <div ng-repeat="error in formErrors" class="errorText errorListing" ng-if="editOrganizationForm.$submitted && editOrganizationForm.$invalid">
                    {{error}}</div>
                    <button type="submit" class="btn btn-primary" no-click-propagation title="Confirm">Save</button>
                    <span class="btn btn-default" no-click-propagation title="Cancel" ng-click="cancelEditOrganization(user_service_organization)">Cancel</span>
                  </form>
                </div>
              </div>
              <div class="table--cell cell--hours">
                <h5 class="bold">{{getServiceOrganizationTotalHours(user_service_organization)}}</h5>
                <p>Total Hours</p>
              </div>
            </div>

            <!-- Org hour details -->
            <div accordion-body>
              <div class="widget--content--table widget--pane--cell"
                    ng-repeat="service_org_hour in user_service_organization.hours">
                <div class="table--cell clear breakalways">
                  <div ng-hide="service_org_hour.editing">
                    <div class="cell--padding log--details">
                      <h6 class="wysiwyg-output" ng-bind-html="service_org_hour.description"></h6>
                      <p>Completed on {{service_org_hour.date | formatMDY}}</p>
                      <div progress-editor class="small-edit-button">
                        <button class="btn btn-default btn-xs" ng-click="editHour(service_org_hour)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                      </div>
                    </div>

                    <div class="log--hours">
                      <h5>{{service_org_hour.hours | parseFloat}}</h5>
                      <p ng-show="service_org_hour.hours != 1">Hours</p>
                      <p ng-show="service_org_hour.hours == 1">Hour</p>
                    </div>
                  </div>

                  <!-- Editing -->
                  <div progress-editor class="cell--padding" ng-show="service_org_hour.editing">
                    <form imua-form="saveHour(service_org_hour)" name="editHourForm" novalidate>
                      <span class="input-group">
                        <label ng-show="current_user.is_student">What type of service did you do?</label>
                        <label ng-show="!current_user.is_student">What type of service did {{student.first_name}} do?</label>
                        <text-angular ta-toolbar="[['bold','italics','underline'],['ol','ul','insertLink']]" ng-model="service_org_hour.new_description" placeholder="Description"></text-angular>
                      </span>
                      <form-datepicker class="full-width" form="editHourForm" label="When did you do it?" date="service_org_hour.new_date"></form-datepicker>
                      <span class="input-group">
                        <label-with-errors label="How many hours?" form="editHourForm" formfield="editHourForm.serviceEventHours"></label-with-errors>
                        <input required class="form-control" ng-model="service_org_hour.new_hours" placeholder="Hours" name="serviceEventHours">
                      </span>
                      <div ng-repeat="error in formErrors" class="errorText errorListing" ng-if="editHourForm.$submitted && editHourForm.$invalid">
                      {{error}}</div>
                      <button progress-editor type="submit" class="btn btn-primary" title="Confirm">Save</button>
                      <span progress-editor class="btn btn-default" title="Cancel" ng-click="cancelEditHour(user_service_organization, service_org_hour)">Cancel</span>
                      <span progress-editor class="btn btn-danger btn-sm" ng-hide="service_org_hour.id == null" ng-click="deleteHour(user_service_organization, service_org_hour)">Delete</span>
                    </form>
                  </div>
                </div>
              </div>

              <div progress-editor class="widget--pane--cell table--cell cell--service--hours breakalways ng-clickable" ng-click="addHour(user_service_organization)" ng-hide="editingServiceOrganization(user_service_organization)">
                <div class="cell--padding">
                  <h6 class="bold"><span class="glyphicon glyphicon-plus-sign"></span> Add more hours for {{user_service_organization.name}}</h6>
                </div>
              </div>
            </div>
          </div>

          <div progress-editor class="table--cell no-border-right breakalways ng-clickable" ng-show="serviceEditor && !new_service_organization.editing" ng-click="editNewServiceEntry(); edit_new_service_organization_focus_trigger=true">
            <div class="cell--padding">
              <h3><span class="glyphicon glyphicon-plus-sign"></span></h3>
              <h6 class="bold">Add a Service Organization</h6>
            </div>
          </div>

          <div progress-editor class="table--cell breakalways" ng-show="new_service_organization.editing">
            <div class="widget--pane">
              <div class="widget--content--table table--fixed">
                <form imua-form="saveNewServiceEntry()" name="serviceForm" novalidate>

                  <div class="table--cell breakalways">
                    <div class="cell--padding">
                      <span class="input-group">
                        <h4>Who was the service for?</h4>
                        <label-with-errors label="Organization Name" form="serviceForm" formfield="serviceForm.orgName"></label-with-errors>
                        <input required name="orgName" type="text" focus-me="edit_new_service_organization_focus_trigger" ng-model="new_service_organization.name" typeahead="orgName for orgName in org_current_organization_list | filter: $viewValue | limitTo:8" class="form-control" placeholder="Organization Name">
                      </span>
                    </div>
                  </div>

                  <div class="table--cell breakalways">
                    <div class="cell--padding">
                      <span class="input-group">
                        <h4>Let's add your first hours:</h4>
                      </span>
                      <div ng-repeat="user_service_hour in new_service_organization.hours">
                        <span class="input-group pbs">
                          <label ng-if="current_user.is_student">What type of service did you do?</label>
                          <label ng-if="!current_user.is_student">What type of service did {{student.first_name}} do?</label>
                          <text-angular ta-toolbar="[['bold','italics','underline'],['ol','ul','insertLink']]" ng-model="user_service_hour.description" placeholder="Description"></text-angular>
                        </span>
                        <form-datepicker form="serviceForm" label="When did you do it?" date="user_service_hour.date"></form-datepicker>
                        <span class="input-group">
                          <label-with-errors label="How many hours?" form="serviceForm" formfield="serviceForm.serviceEventHours"></label-with-errors>
                          <input required class="form-control" ng-model="user_service_hour.hours" placeholder="Hours" name="serviceEventHours">
                        </span>
                        <div ng-repeat="error in formErrors" class="errorText errorListing" ng-if="serviceForm.$submitted && serviceForm.$invalid">
                        {{error}}</div>
                        <button progress-editor type="submit" class="btn btn-primary" title="Confirm">Add Organization</button>
                        <span progress-editor class="btn btn-default" title="Cancel" ng-click="resetNewServiceEntry()">Cancel</span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>
