<div class="widget-group">
  <div class="widget-group--table table--fixed">
    <div class="widget-group--cell break900">
      <div class="widget extracurricular-participation" modulecolor="extracurricular">
        <div class="widget--header">
          <div class="widget--header--left">
            <h6 class="bold"><div class="color--dot"></div> Extracurricular Participation</h6>
          </div>
        </div>
        <div class="widget--content">
          <div class="widget--content--table">
            <div class="widget--content--cell">
              <div class="cell--padding">
                <h1 class="bold">{{percent_students_with_one_activity}}%</h1>
                <h5>of students participate in activities</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="widget-group--cell break900">
      <div class="widget testing-completed" modulecolor="testing">
        <div class="widget--header">
          <div class="widget--header--left">
            <h6 class="bold"><div class="color--dot"></div> Average Tests Taken</h6>
          </div>
        </div>
        <div class="widget--content">
          <div class="widget--content--table">
            <div class="widget--content--cell">
              <div class="cell--padding">
                <h1 class="bold">{{average_testsTaken}}</h1>
                <h5>Tests Taken on Average</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
