<p>Hey <%= @mentor.first_name %>,</p>

<p><%= @student.full_name %> has been unassigned from you. </p>

<p><%= link_to "Log in", app_url + "#/" %> to make sure this is accurate. </p>

<p>Mahalo,<p>

Imua
