<div class="taskContainer" wait-to-load="{{loaded_data}}">

  <div class="task-header clear">
    <div class="single-col-wrapper">
      <div class="back-link">
        <div back-button class="ng-clickable">
          <h6>
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            <span class="ng-clickable-text">Go Back</span>
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="single-col-wrapper clear" ng-show="loaded_data">
    <div class="assignment--left">

      <div class="task-content">
        <h4>{{milestone | printMilestone}}</h4>
      </div>

      <div ng-if="loaded_data && milestoneHasTasks()">
        <div ng-include="'assignment/widgets/assignments_list.html'"></div>
        <div milestone-task-editor class="task-adder">
          <button class="btn btn-default" ng-click="addNewTask()">Add Task</button>
        </div>
      </div>

      <div ng-if="num_students_in_semester == 0">
        <h5 ng-if="current_user.is_org_admin" class="italic">There are no students currently in {{milestone.time_unit_name}}</h5>
        <h5 ng-if="current_user.is_mentor" class="italic">None of your students are currently in {{milestone.time_unit_name}}</h5>
      </div>

      <ul class="users-not-completed" ng-if="users_incomplete.length != 0">
        <div ng-include="'milestone/widgets/milestone_incompletion_message.html'"></div>
        <div class="list-container progress-circle--list">
          <span ng-repeat="user in users_incomplete | orderBy: ['student_with_modules_progress.modules_progress[0].points.user', 'last_name']">
            <progress-circle-milestone user="user"></progress-circle-milestone>
          </span>
        </div>
      </ul>

      <ul class="users-completed" ng-if="users_complete.length != 0">
        <div ng-include="'milestone/widgets/milestone_completion_message.html'"></div>
        <div class="list-container progress-circle--list">
          <span ng-repeat="user in users_complete | orderBy: 'last_name'"></progress-circle-milestone>
            <progress-circle-milestone user="user"></progress-circle-milestone>
          </span>
        </div>
      </ul>
    </div>

    <div class="assignment--right">
      <div ng-include="'milestone/widgets/milestone_statistics.html'"></div>
    </div>
  </div>

</div>
