<div class="login-wrapper">

  <div class="login-form">

    <div class="logo">

      <a href="/">
        <img alt="Imua" src="/assets/logo-blue.png">
      </a>

    </div>

    <form name="loginForm" imua-form="login(user)" novalidate>

      <div class="element">

        <!-- <label-with-errors label="" form="loginForm" formfield="loginForm.email"></label-with-errors> -->
        <input ng-model="user.email" autofocus="autofocus" class="form-field" name="email" placeholder="Email" size="30" type="email" value="" required>

      </div>

      <div class="element">

        <!-- <label-with-errors label="" form="loginForm" formfield="loginForm.password"></label-with-errors> -->
        <input ng-model="user.password" class="form-field" name="password" placeholder="Password" size="30" type="password" required>

      </div>

      <div class="element">

        <input class="button" name="commit" type="submit" value="Log In">

      </div>

    </form>

  </div>

  <div class="login-links">

    <!-- <a href="/forgot_password">Forgot your password?</a> -->

  </div>

  <div class="pbxl blog-link">
    <h6> Check out our <a href="http://blog.myimua.org"> blog </a> to learn more about what we're building </h6>
  </div>

</div>

<div class="footer-container">

</div>

<script>
  $(function() { $('input, textarea').placeholder();});
</script>
