<div class="modal-body">



    <!--
    <select ng-model="selected.module" ng-options="mod.submoduleTitle group by mod.module for mod in dd_modules">
      <option value="">-- choose sub-module --</option>
    </select>
    -->

    <!-- QUESTION -->
    <!-- <div ng-show="selected.module" class="milestone ptl" ng-include="'/assets/roadmap/add_'+selected.module.submoduleType.toLowerCase()+'.tmpl.html'"> -->

  <div class="selectable_modules">

    <!-- Selectable Modules -->
    <span class="selectable_module" modulecolor="{{selectable_module.module}}" ng-repeat="selectable_module in dd_modules">
      <button class ="selectable_module__title" ng-class="{selected: selected.module == selectable_module}" ng-click="selectModule(selectable_module)">
        <img ng-src={{selectable_module.milestone.icon}}/>{{selectable_module.milestone.title}}
      </button>
    </span>

    <div ng-show="selected.module" class="milestone ptl">

      <div class="pbs">
        <div class="milestone-description">{{selected.module.milestone.description}}</div>
      </div>

      <div class="pbs">
        <input class="form-field" ng-model="selected.module.milestone.value" placeholder="Value">

      </div>

      <div class="milestone_advanced">
        <a class="milestone_advanced__toggle" ng-click="toggleAdvanced()">{{advancedPrefix}} Advanced</a>
        <div class="milestone_advanced__hidden" ng-show="showAdvanced">
          <div class="pbs">
            <span class="milestone-weight">Weight:</span>
          </div>
          <div class="pbs">
            <input class="form-field" ng-model="selected.module.milestone.points" placeholder="Weight">
          </div>
        </div>
      </div>

      <ul class="errorText ptm" ng-show="errors">
        <li ng-repeat="error in errors">{{error}}</li>
      </ul>
    </div>

    <div class="buttonGroup pvxl">
      <button type="submit" class="submit" ng-show="selected.module" ng-click="add()"><span>Add</span></button>
      <button class="cancel" ng-click="cancel()"><span>Cancel</span></button>
    </div>
  </div>
</div>
