<div class="modal-body">

  <div class="milestone_modules">
    <span class="milestone_module" ng-repeat="module in modules" ng-click="selectModule(module)">
      <span class="module_title">{{module.title}}</span>
    </span>
  </div>

  <div class="milestone_submodules" ng-show="selected.module">
    <div class="milestone_submodule" ng-repeat="submodule in selected.module.submodules"
        ng-click="selectSubmodule(submodule)">
      <div class="milestone_submodule__title bold pbs">{{submodule.title}}</div>
      <div class="milestone_submodule__description">{{submodule.milestone_description}}</div>
    </div>
  </div>


  <div ng-show="selected.sub_module" class="milestone_edit">

    <div class="pbs">
      <div class="milestone-description">{{selected.sub_module.description}}</div>
    </div>

    <div class="pbs">
      <input class="form-field" ng-model="selected.sub_module.value" placeholder="Value">

    </div>

    <div class="milestone_advanced">
      <a class="milestone_advanced__toggle" ng-click="toggleAdvanced()">{{advancedPrefix}} Advanced</a>
      <div class="milestone_advanced__hidden" ng-show="showAdvanced">
        <div class="pbs">
          <span class="milestone-weight">Weight:</span>
        </div>
        <div class="pbs">
          <input class="form-field" ng-model="selected.sub_module.points" placeholder="Weight">
        </div>
      </div>
    </div>

    <ul class="errorText ptm" ng-show="errors">
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>
  </div>

  <div class="buttonGroup pvxl">
    <button type="submit" class="submit" ng-show="selected.sub_module" ng-click="add()"><span>Add</span></button>
    <button class="cancel" ng-click="cancel()"><span>Cancel</span></button>
  </div>
</div>
