<div class="modal-body">
    <div class="milestone ptl">
      <div class="pbs">
        <div class="milestone-description">{{milestone.description}}</div>
      </div>

      <div class="pbs">
        <input class="form-field" ng-model="milestone.value" placeholder="Milestone Value">
      </div>

      <ul class="errorText ptm" ng-show="errors">
        <li ng-repeat="error in errors">{{error}}</li>
      </ul>

      <div class="buttonGroup pvxl">
        <button type="submit" class="submit" ng-click="save()"><span>Save</span></button>
        <button class="cancel" ng-click="cancel()"><span>Cancel</span></button>
        <a ng-click="delete()">Delete Milestone</a>
      </div>
    </div>
</div>
