<div class="roadmapContainer" ng-if="roadmap && !loading">
  <div class="tuContainer ptl">

    <!-- Roadmap Name -->
    <div ng-if="user.role >= CONSTANTS.USER_ROLES.mentor" class="roadmapContainer__title-container">
      <h1 class="roadmapContainer__title">{{roadmap.name}}</h1>
    </div>

    <div ng-if="user.role <= CONSTANTS.USER_ROLES.org_admin" class="roadmapContainer__title-container">
      <h1 class="roadmapContainer__title--editable" ng-hide="roadmap.editing" ng-click="roadmap.editing=true; roadmap.newname=roadmap.name">{{roadmap.name}}</h1>

      <div ng-show="roadmap.editing" class="pvxl">
        <form>
          <input class="form-field mrm" ng-model="roadmap.newname" placeholder="Roadmap Name">

          <button type="submit" class="submit" ng-click="updateRoadmapName(roadmap)"><span>Save</span></button>
          <button class="cancel" ng-click="roadmap.editing=false"><span>Cancel</span></button>
        </form>
      </div>

    </div>
    <!-- Roadmap Name -->

    <div class="roadmap-spacer-circle"></div>
    <div class="roadmap-spacer-line roadmap-spacer-line--aftercircle"></div>

    <!-- Year -->
    <div ng-repeat="year in roadmap.years">
      <div class="year">

        <div class="year__header">
          <span class="name">{{year.name}}</span>
        </div>

        <!-- Semester -->
        <div class="year__semester" ng-repeat="sem in year.semesters">

          <!-- Semester Header -->
          <div ng-if="user.role >= CONSTANTS.USER_ROLES.mentor">
            <div class="semester__header-title">{{sem.name}}</div>
          </div>
          <div ng-if="user.role <= CONSTANTS.USER_ROLES.org_admin">
            <div class="semester__header-title--editable" ng-hide="sem.editing">
              <span class="name" ng-click="addTimeUnit(sem)">{{sem.name}}</span>
            </div>

            <div ng-show="sem.editing" class="semester__header-title--editing">
              <form>
                <input class="form-field" ng-model="sem.name" placeholder="Time Unit Name">

                <button type="submit" class="submit" ng-click="saveAddTimeUnit(sem)"><span>Save</span></button>
                <button class="cancel" ng-click="cancelAddTimeUnit(sem)"><span>Cancel</span></button>
              </form>
            </div>
          </div>
          <!-- Semester Header -->

          <!-- TimeUnit Milestones -->
          <div class="milestone" modulecolor="{{milestone.module}}" ng-repeat="milestone in sem.milestones | orderBy: '-importance'">
            <span class ="milestone__title">
              <img ng-src={{milestone.icon}}/>{{milestone.title}}
            </span>
            <span class = "milestone__info">
              <span class="milestone__info__value">{{milestone.description}} {{milestone.value}}</span>
              <span class="milestone__info__weight">Points Value: {{milestone.points * milestone.importance}}</span>
              <span ng-if="user.role <= CONSTANTS.USER_ROLES.org_admin" class="milestone__info__icons">
                <span class="glyphicon glyphicon-pencil" title="Edit Milestone" ng-click="viewMilestone(sem, milestone)"></span>
                <span class="glyphicon glyphicon-trash" title="Delete Milestone" ng-click="deleteMilestone(sem, milestone)"></span>
              </span>
            </span>
          </div>
          <!-- TimeUnit Milestones -->

          <!-- Semester Footer -->
          <div ng-if="user.role <= CONSTANTS.USER_ROLES.org_admin" class="semester__footer">
            <div class="semester__footer__title" ng-hide="sem.editing" ng-click="addMilestone(sem)">
              <span class="glyphicon glyphicon-plus-sign"></span>
              <span class="text">Add Another Milestone</span>
            </div>
          </div>
          <!-- Semester Footer -->

        </div>
        <!-- Semester -->

      </div>

      <div ng-if="year.name != 'Year 4'" class="roadmap-spacer-line"></div>
    </div>
    <!-- Year -->

  </div>

</div>

<script>
  $(function() {
    $('input, textarea').placeholder();

    setHeight();
    $(window).resize(function(event) {
      setHeight();
    });

    function setHeight() {
      var headerHeight = $('header').outerHeight();
      var windowHeight = $(window).outerHeight();
      var bodyHeight = windowHeight - headerHeight;

      $('.roadmapContainer').css('min-height', bodyHeight + 'px');
    }
  });
</script>
