<div class="login-container">

	<div class="login-form">

		<div class="logo">
		
			<%= image_tag "logo-blue.png", :alt => "Imua" %>			
		
		</div>
		
		<form class="form-container">
		
			<div class="element">
			
				<input type="text" class="form-field" name="username" placeholder="Email">
			
			</div>
			
			<div class="element">
			
				<input type="password" class="form-field" name="username" placeholder="Password">
			
			</div>
		
			<div class="element">
			
				<input type="submit" class="button" value="Log In">
			
			</div>
		
		</form>
	
	</div>

</div>

<div class="footer-container">

	<div class="footer">
	
		<a href="#">Forgot your password?</a>
	
	</div>

</div>

<script>
	//$('input, textarea').placeholder();
</script>