<div class="marketing-header clear">

  <div class="wrapper">

	  <nav class="navigation clear">
      <ul>
        <li><a href="http://blog.myimua.org">Blog</a></li>
        <li><a href="mailto:mark@myimua.org?Subject=Hey!%20I%20want%20to%20hear%20more%20about%20Imua!">Contact Us</a></li>
        <a href="/login"><li class="login-link--border bold">Log In</li></a>
      </ul>
    </nav>

    <div class="topper clear">

      <div class="imua-logo">

        <a href="#marketing-lower" alt="Find Out More"><img src="assets/imua-logo.png" alt="Imua Logo"></a>

      </div>

      <div class="text">
        <h4 class="header bold">Collective Progress</h4>
        <p class="subhead">Imua is a tool that empowers education organizations to track student progress and help guide them toward achieving their educational goals.</p>
      </div>


      <div class="find-out">
        <a href="#marketing-lower" alt="Find Out More">
          <div class="find-out--button bold">Find Out More</div>
        </a>
      </div>

    </div><!-- /topper -->

  </div>

</div>

<div id="marketing-lower" class="marketing-lower">

  <div class="section section--expectations">

    <div class="text--left">

        <h4 class="bold">Set Expectations</h4>
        <p>From academics to professional development & more. Simply select which categories your organization wants to track. Imua customizes itself to your needs.</p>

    </div>

    <div class="image">

      <img src="assets/marketing-icons.png" alt="Track Any Category">

    </div>

  </div> <!-- /section--expectations -->

  <div class="section section--progress-tracking">

    <div class="inner-section">

      <div class="image image--categories">

      	<img src="assets/marketing-catagories.png" alt="The progress circle is an easy 'at-a-glance' way to see how your a student is doing.">

      </div>

      <div class="text--right monitor-student">

        <div class="inner">

          <h4 class="bold">Monitor Student Progress</h4>
          <p>Imua's "Progress Circle" is a powerful way to visualize how well a student is progressing through your program. It also displays a quick break-down of how well a student is doing in each expectation area assigned to them.</p>
        </div>

      </div>

    </div><!-- /inner-section -->

    <div class="text--left">

    	<div class="inner">

    		<h4 class="bold">Group Progress At a Glance</h4>
    		<p>Imua's progress circle becomes even more powerful at a group level. Sort & compare student's progress to find out what's working, what's not. Clicking on any student takes you to a powerful break-down of their individual progress over-time.</p>

    	</div>

    </div><!-- /text--left -->

    <div class="image image--studentlist">

    	<img src="assets/marketing-studentlist.png" alt="At a Glance Group or Class Progress">

    </div>

  </div><!-- /section--progress-tracking -->

  <div class="section section--communication">

    <div class="inner-section">

      <div class="image image--attention">

      	<img src="assets/marketing-attention.png" alt="Student's who need help are automatically brought to your attention">

      </div>

      <div class="text--right">

      	<div class="inner">

      		<h4 class="bold">Know if Something's Amiss</h4>
      		<p>No more searching through spreadsheets and emails for clues. Imua knows when a student needs help and automatically brings it to your attention. From the other side of things, students are always kept up to date on whether they're meeting expectations.</p>

      	</div>

      </div><!-- /text--right -->

    </div><!-- /inner-section -->

    <div class="text--left">

      <div class="inner">

        <h4 class="bold">Communicate</h4>
        <p>Ask questions, send messages, push calendar events and more. Imua opens up powerful channels for instant mentor-student communication.</p>

      </div>

    </div>

    <div class="image image--communication">

      <img src="assets/phones.png" alt="Powerful Student-Mentor Communication">

    </div>

  </div> <!-- /section--comunication -->

  <div class="section section--organizations">

    <h4 class="bold">Organizations We Love</h4>
    <h6>(Who *just so happen* to use Imua)</h6>

    <div class="org-logos">

      <div class="org-logo--img">
      	<a href="http://www.passwithflyingcolors.org/" target="_blank"><img src="assets/pwfc_logo.png" alt="Pass with Flying Colors"></a>
      </div>

	    <div class="org-logo--img">
        <a href="http://www.hokuscholars.org/" target="_blank"><img src="assets/hokulogobig.png" alt="Hoku Scholars"></a>
      </div>

      <div class="org-logo--img">
        <a href="http://www.iolani.org/" target="_blank"><img src="assets/is_logo.png" alt="Iolani School"></a>
      </div>

      <br>

      <div class="org-logo--smaller">
        <a href="http://www.schulerprogram.org/" target="_blank"><img src="assets/schuler_logo.png" alt="Schuler Scholar Program"></a>
      </div>

      <div class="org-logo--img">
        <a href="http://www.launchu.org/" target="_blank"><img src="assets/launchu_logo.png" alt="Launch U | One generation mentoring the next"></a>
      </div>

      <div class="org-logo--img">
        <a href="http://www.chicagoscholars.org/" target="_blank"><img src="assets/chicagoscholars_logo.png" alt="Chicago Scholars | Every high school. Every neighborhood."></a>
      </div>

    </div>

  </div>

</div><!-- /lower-content -->
