<div class="marketing-header clear">

  <div class="wrapper">
  
	  <nav class="login-link clear">
      <ul>
        <li><a href="/login">Log in</a></li>
      </ul>
    </nav>
    
    <div class="topper clear">
  
      <div class="imua-logo">
  
        <img src="assets/imua-logo.png" alt="Imua Logo">
  
      </div>
  
      <div class="text">
        <h3 class="header bold">Collective Progress</h3>
        <p class="subhead">Imua is a tool that empowers you to track your students & guide them towards achieving their educational goals.</p>
      </div>
  
    </div><!-- /topper -->
  
  </div>
    
</div>

<div class="marketing-lower">

  <div class="section section--expectations">

    <div class="text--left">
  
        <h4 class="bold">Set the Expectations</h4>
        <p>From Academics to Professional Development & more. You simply choose what your organization wants to track. Imua customizes itself around your organization's needs.</p>

    </div>

    <div class="image">

      <img src="assets/marketing-icons.png" alt="Track Any Category">

    </div>

  </div> <!-- /progress -->

  <div class="section section--progress-tracking">

    <div class="inner-section">
    
      <div class="image">
      
      	<img src="assets/marketing-catagories.png" alt="The progress circle is an easy 'at-a-glance' way to see how your a student is doing.">
      
      </div>
      
      <div class="text--right monitor-student">

        <div class="inner">

          <h4 class="bold">Monitor Student Progress</h4>
          <p>The "Progress Circle" is a powerful way to visualize how well a student is progressing through your program. It also displays a quick break-down of how well a student is doing in each expectation area assigned to them.</p>
        </div>

      </div>
    
    </div><!-- /inner-section -->
    
    <div class="text--left">
    
    	<div class="inner">
    	
    		<h4 class="bold">Progress At a Glance</h4>
    		<p>The progress circle becomes even more powerful from a group perspective. Sort & compare student's progress to find out what's working, what's not. Clicking on any student takes you to a powerful break-down of all of their progress over time.</p>
    	
    	</div>
    
    </div><!-- /text--left -->
    
    <div class="image">
    
    	<img src="assets/marketing-studentlist.png" alt="At a Glance Group or Class Progress">
    
    </div>

  </div>

  <div class="section section--communication">

      <div class="scholar-chart">

        <img src="assets/phones.png" alt="Powerful Communication via Mobile">

      </div>

      <div class="text">
        <div class="inner">

          <h4>Mentors communicate and support students</h4>
          <p>
            Mentors and admins use Imua to communicate with students and support
            them through their challenges. They can provide feedback,
            assign tasks, and strengthen relationships with their students
          </p>

        </div>

      </div>

    </div> <!-- /progress -->

  <div class="section section--organizations">

    <h4>A few of our Organizations</h4>

    <div class="logo">
      <img src="assets/hokulogobig.png" alt="Hoku Scholars">
    </div>

    <div class="logo">
      <img src="assets/schuler_logo.png" alt="Schuler Scholars">
    </div>

    <div class="logo">
      <img src="assets/launchu_logo.png" alt="Schuler Scholars" style="width: 300px">
    </div>

  </div>

</div><!-- /lower-content -->