<div class="wrapper clear marketing-header">
  <nav class="right">
    <ul>
      <li><a href="/login">Log in</a></li>
    </ul>
  </nav>
</div>

<div class="tool">

  <div class="section-title">

  </div>


  <div class="topper clear">

    <div class="left-img">

      <!-- <img src="assets/imuadisplay-left.png" alt="Imua Home Screen"> -->

    </div>

    <div class="imuas-logo" style="">

      <img src="assets/imua-logo.png" alt="Imua Logo" style="width: 300px;">
      <h4>Collective Progress</h4>

    </div>

    <div class="right-img">

      <!-- <img src="assets/imuadisplay-right.png" alt="Imua Student Screen"> -->

    </div>

    <div class="imua-tagline">
      Imua (ee-moo-ah) is a collective progress web tool that empowers organizations and schools
      to track their students’ progress and guide them towards achieving their educational goals.
    </div>

  </div><!-- /topper -->

  <div class="content">

    <div class="track-progress clear">

      <div class="scholar-chart">

        <img src="assets/roadmap.png" alt="An example Roadmap">

      </div>

      <div class="text">
        <div class="inner">

          <h4>Organizations set expectations leading to a common goal</h4>
          <p>
            Everyone - students, mentors, teachers, and admin - know what to work
            on and what they are working towards
          </p>

        </div>

      </div>

    </div> <!-- /progress -->

    <div class="communication clear">

      <div class="text">

        <div class="inner">

          <h4>Progress towards the goal is continuously indicated</h4>
          <p>
            Students at all times visualize their progress and know where to focus
            their efforts to achieve their goal
          </p>

          <p>
            Mentors review student performance data to offer support as concerns arise
          </p>

          <p>
            Admins assess the entire program's efficacy of its students reaching the goal
          </p>

        </div>

      </div>

      <div class="phones">

        <img src="assets/progress.png" alt="Progress" style="width: 500px;">

      </div>

    </div>

    <div class="track-progress clear">

      <div class="scholar-chart">

        <img src="assets/phones.png" alt="Powerful Communication via Mobile">

      </div>

      <div class="text">
        <div class="inner">

          <h4>Powerful Communication to Support Students</h4>
          <p>
            Through Imua, mentors and admins communicate with students to help support them
            through their challenges. They can provide feedback, assign tasks, and strengthen
            their relationships with their students.
          </p>

        </div>

      </div>

    </div> <!-- /progress -->

  </div><!-- /content -->

  <div class="footer">

    <h4>How our customers use Imua</h4>

    <div class="logos">

      <div class="logo">
        <img src="assets/hokulogobig.png" alt="Hoku Scholars">
      </div>

      <div class="logo">
        <img src="assets/schuler_logo.png" alt="Schuler Scholars">
      </div>

      <div class="logo">
        <img src="assets/launchu_logo.png" alt="Schuler Scholars" style="width: 300px">
      </div>

    </div>

  </div>

</div><!-- /tool -->
