<div class="marketing-header clear">

  <div class="wrapper">
  
	  <nav class="login-link clear">
      <ul>
        <li><a href="/login">Log in</a></li>
      </ul>
    </nav>
    
    <div class="topper">
  
      <div class="imua-logo">
  
        <img src="assets/imua-logo.png" alt="Imua Logo" style="width: 300px;">
        <h4 class="bold">Collective Progress</h4>
  
      </div>
  
      <div class="imua-tagline">
        Imua is a collective progress web tool that empowers organizations and schools
        to monitor their students’ progress and guide them towards achieving their educational goals.
      </div>
  
    </div><!-- /topper -->
  
  </div>
    
</div>

<div class="lower-content">

  <div class="expectations">

    <div>

      <img src="assets/roadmap.png" alt="An example Roadmap">

    </div>

    <div class="text">
  
        <h4>Organizations set expectations leading to a common goal</h4>
        <p>Everyone - students, mentors, teachers, and admin - know what to work on and what they are working towards</p>

    </div>

  </div> <!-- /progress -->

  <div class="communication clear">

      <div class="text">

        <div class="inner">

          <h4>Progress towards the goal is continuously indicated</h4>
          <p>
            Students at all times visualize their progress and know where to focus
            their efforts to achieve their goal
          </p>

          <p>
            Mentors review student performance data to offer support as concerns arise
          </p>

          <p>
            Admins assess the organization's effectiveness in reaching its goal
          </p>

        </div>

      </div>

      <div class="phones">

        <img src="assets/progress.png" alt="Progress" style="width: 500px;">

      </div>

    </div>

  <div class="track-progress clear">

      <div class="scholar-chart">

        <img src="assets/phones.png" alt="Powerful Communication via Mobile">

      </div>

      <div class="text">
        <div class="inner">

          <h4>Mentors communicate and support students</h4>
          <p>
            Mentors and admins use Imua to communicate with students and support
            them through their challenges. They can provide feedback,
            assign tasks, and strengthen relationships with their students
          </p>

        </div>

      </div>

    </div> <!-- /progress -->

  <div class="customers">

    <h4>How our customers use Imua</h4>

    <div class="logo">
      <img src="assets/hokulogobig.png" alt="Hoku Scholars">
    </div>

    <div class="logo">
      <img src="assets/schuler_logo.png" alt="Schuler Scholars">
    </div>

    <div class="logo">
      <img src="assets/launchu_logo.png" alt="Schuler Scholars" style="width: 300px">
    </div>

  </div>

</div><!-- /lower-content -->