<div class="widget extracurricular-activities">

  <div class="widget--header">
    <div class="widget--header-container clear">
      <div class="widget--header--title widget--header--noleft">
        <h6 class="bold" ng-if="!current_user.is_student"><div class="color--dot"></div> {{student.first_name}}'s Extracurricular Activities</h6>
        <h6 class="bold" ng-if="current_user.is_student"><div class="color--dot"></div> Your Extracurricular Activities</h6>
      </div>
      <div class="widget--header--right" ng-hide="classes.editing">
        <div class="widget--options ng-clickable" ng-hide="ecEditor" ng-click="ecEditor = !ecEditor">
          <span class="options--text">Edit</span>
          <span class="glyphicon glyphicon-edit"></span>
        </div>
        <button ng-show="ecEditor" class="btn btn-primary" ng-click="ecEditor = !ecEditor"><span class="glyphicon glyphicon-ok"></span> Done</button>
      </div>
    </div>
  </div>

  <div class="widget--content">
    <div class="widget--content--table table--fixed">
      <div class="widget--content--cell" ng-repeat="(activityIndex, user_extracurricular_activity) in user_extracurricular_activities">
        <div class="widget--content--cell breakalways">
          <div class="cell--padding">
            <h4 class="bold">{{user_extracurricular_activity.name}}</h4>
          </div>
        </div>
        <div class="widget--content--cell breakalways" ng-if="user_extracurricular_activity.details[0].leadership != null">
          <div class="cell--padding">
            <h6 class="bold"><span class="glyphicon glyphicon-star"></span> {{user_extracurricular_activity.details[0].leadership}} <span class="glyphicon glyphicon-star"></span></h6>
          </div>
        </div>
        <div class="widget--content--cell breakalways" ng-if="user_extracurricular_activity.details[0].description != null">
          <div class="cell--padding">
            {{user_extracurricular_activity.details[0].description}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
