<div class="widget-group">
  <div class="widget-group--table table--fixed">
    <div class="widget-group--cell break900">
      <div class="widget mentor-activity">
        <div class="widget--header">
          <div class="widget--header--left">
            <h6 class="bold"><div class="color--dot"></div> Service Hours Over Time</h6>
          </div>
        </div>
        <div class="widget--content">
          <div class="widget--content--table">
            <div class="widget--content--cell">
              <div class="cell--padding">
                <p>Placeholder for Org Service Chart</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="widget-group--cell break900">
      <div class="widget student-activity">
        <div class="widget--header">
          <div class="widget--header--left">
            <h6 class="bold"><div class="color--dot"></div> Average Service Hours Completed</h6>
          </div>
        </div>
        <div class="widget--content">
          <div class="widget--content--table">
            <div class="widget--content--cell">
              <div class="cell--padding">
                <h1 class="bold">{{average_serviceHours}}</h1>
                <h5>Service Hours on Average</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
