<div class="profileContainer">

  <div class="profile--pic">
    <img ng-src="{{user.square_avatar_url}}" alt="{{user.first_name}}'s Profile Picture">
    <div ng-show="editingInfo">
      <input class=" js-upload" ng-show="editingInfo" type="file" file-input="files" />
    </div>
  </div>

  <div class="profile--primary-info">

    <div ng-hide="editingInfo || editingPassword">
      <h3>{{user.first_name}} {{user.last_name}}</h3>
      <p>Class of {{user.class_of}}</p>
      <p>{{_.findWhere(time_units, { id: user.time_unit_id }).name}}</p>
      <p>{{user.email}}</p>
      <p>{{user.phone ? user.phone : "Click update below to add"}}</p>
      <button class="submit" ng-if="editable()" ng-click="editUserInfo()">Edit Profile</button>
      <button class="btn btn-default" ng-if="editablePassword()" ng-click="editUserPassword()">Change Password</button>
    </div>

    <div ng-show="editingInfo">

      <ul class="errorText" ng-show="editingInfo && errors" >
        <li ng-repeat="error in errors">{{error}}</li>
      </ul>

      <div ng-if="!current_user.is_student">
        <input class="form-control" ng-model="user.first_name" placeholder="First Name">
        <input class="form-control" ng-model="user.last_name" placeholder="Last Name">
        <class-of-dropdown ng-show="editingInfo" model="user"></class-of-dropdown>
        <select ng-options="time_unit.id as time_unit.name for time_unit in time_units" ng-model="user.time_unit_id"></select>
      </div>

      <div ng-if="current_user.is_student">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        <p>Class of {{user.class_of}}</p>
        <p>{{_.findWhere(time_units, { id: user.time_unit_id }).name}}</p>
      </div>

      <input class="form-control" ng-show="editingInfo" ng-model="user.email" placeholder="Email" autofocus="true">
      <input class="form-control" ng-show="editingInfo" ng-model="user.phone" placeholder="Phone Number">

      <div class="buttonGroup pvl" ng-show="editingInfo" >
        <button ng-click="updateUserInfo($event)" class="ladda-button submit" data-style="expand-right" data-size="s" data-color="blue"><span class="ladda-label">Save</span></button>
        <button class="cancel" ng-click="cancelUpdateUserInfo()"><span>Cancel</span></button>
      </div>

    </div>

    <div ng-show="editingPassword">

      <ul class="errorText ptm" ng-show="errors">
        <li ng-repeat="error in errors">{{error}}</li>
      </ul>

      <input type="password" class="form-control" ng-model="password.current" placeholder="Current Password" name="current" required>
      <input type="password" class="form-control" ng-model="password.new" placeholder="New Password" name="new" required>
      <input type="password" class="form-control" ng-model="password.confirm" placeholder="Confirm New Password" name="confirm" required>

      <button ng-click="updateUserPassword($event)" class="submit" data-style="expand-right" data-size="s" data-color="blue">Save</button>
      <button class="cancel" ng-click="cancelUpdatePassword()">Cancel</button>

    </div>

  </div>

<!-- New Content Ends Here -->

  <div class="parent-guardian-contacts-container" ng-if="user.is_student">
    <h5>{{user.first_name}}'s Parent/Guardian Contacts:</h5>
    <div class="contacts-list">

      <div class="pbm" ng-repeat="contact in contacts">

        <div class="pbs">
          <div ng-hide="contact.editing">
            <span class="form--profile__field-label">Name: </span>
            <span>{{contact.name}}</span>
          </div>

          <input class="form-field" ng-show="contact.editing" ng-model="contact.new_name" placeholder="Name" autofocus="true">
        </div>

        <div class="pbs">
          <div ng-hide="contact.editing">
            <span class="form--profile__field-label">Relationship: </span>
            <span>{{contact.relationship}}</span>
          </div>

          <input class="form-field" ng-show="contact.editing" ng-model="contact.new_relationship" placeholder="Relationship" autofocus="true">
        </div>

        <div class="pbs">
          <div ng-hide="contact.editing">
            <span class="form--profile__field-label">Email: </span>
            <span>{{contact.email}}</span>
          </div>

          <input class="form-field" ng-show="contact.editing" ng-model="contact.new_email" placeholder="Email" autofocus="true">
        </div>

        <div class="pbs">
          <div ng-hide="contact.editing">
            <span class="form--profile__field-label">Phone: </span>
            <span>{{contact.phone}}</span>
          </div>

          <input class="form-field" ng-show="contact.editing" ng-model="contact.new_phone" placeholder="Phone" autofocus="true">
        </div>

        <div class="buttonGroup pvl" ng-hide="editingParentGuardianContacts" ng-if="editable()" >

          <input value="Update Contact" type="button" class="submit" ng-click="editParentGuardianContact($index)">
          <input value="Delete Contact" type="button" class="delete" ng-click="deleteParentGuardianContact($index)">

        </div>

        <div class="buttonGroup pvl" ng-hide="!contact.editing" ng-if="editable()">

          <input value="Save" type="button" class="submit" ng-click="saveParentGuardianContact($index)">
          <input value="Cancel" type="button" class="cancel" ng-click="cancelEditParentGuardianContact($index)">

        </div>

      </div>

    </div>

    <div class="buttonGroup pvl" ng-hide="editingParentGuardianContacts" ng-if="editable()">

      <input value="Add New Parent/Guardian Contact" type="button" class="submit" ng-click="addParentGuardianContact()">

    </div>

  </div>
  <!-- parent-guardian-contacts -->



</div>

<script>
  $(function() { $('input, textarea').placeholder();});
</script>
