<div class="profileContainer">

  <div class="profile-header">

    <div class="profile--pic">
      <img ng-src="{{user.square_avatar_url}}" alt="{{user.first_name}}'s Profile Picture">
    </div>

    <div ng-hide="editingInfo || editingPassword">

      <h3>{{user.first_name}} {{user.last_name}}</h3>
      <ul class="profile--primary-info">
        <li><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{user.email}}" alt="Send {{user.first_name}} an Email">{{user.email}}</a></li>
        <li><span class="glyphicon glyphicon-phone"></span> {{user.phone ? user.phone : "No Phone Number Added"}}</li>
      </ul>

      <div class="edit-buttons">
        <button class="submit" ng-if="editable()" ng-click="editUserInfo()">Edit Info</button>
        <button class="btn btn-default" ng-if="editablePassword()" ng-click="editUserPassword()">Change Password</button>
      </div>
    </div>

    <div class="primary-editing" ng-show="editingInfo">

      <div ng-if="!current_user.is_student">
        <span class="form-wrapper half">
          <label>First Name</label>
          <input class="form-control" ng-model="user.first_name" placeholder="First Name">
        </span>
        <span class="form-wrapper half">
          <label>Last Name</label>
          <input class="form-control" ng-model="user.last_name" placeholder="Last Name">
        </span>
      </div>

      <div class="student-exception" ng-if="current_user.is_student">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
      </div>

      <div class="form-wrapper">
        <label>Change Profile Picture</label>
        <input class="js-upload" type="file" file-input="files" />
      </div>

      <span class="form-wrapper">
        <label>Email Address</label>
        <input class="form-control" ng-model="user.email" placeholder="Email" autofocus="true">
      </span>
      <span class="form-wrapper">
        <label>Phone Number</label>
        <input class="form-control" ng-model="user.phone" placeholder="Phone Number">
      </span>

      <div class="edit-buttons">
        <button ng-click="updateUserInfo(\$event)" class="ladda-button submit" data-style="expand-right" data-size="s" data-color="blue"><span class="ladda-label">Save</span></button>
        <button class="delete" ng-click="cancelUpdateUserInfo()"><span>Cancel</span></button>
      </div>

    </div>

  </div>

  <div class="profile-lower">

    <div ng-hide="editingInfo || editingPassword">
      <p>Class of {{user.class_of}}</p>
      <p>{{_.findWhere(time_units, { id: user.time_unit_id }).name}}</p>
    </div>

    <div ng-show="editingInfo">

      <ul class="errorText" ng-show="editingInfo && errors" >
        <li ng-repeat="error in errors">{{error}}</li>
      </ul>

      <div ng-if="!current_user.is_student">
        <input class="form-control" ng-model="user.first_name" placeholder="First Name">
        <input class="form-control" ng-model="user.last_name" placeholder="Last Name">
        <class-of-dropdown ng-show="editingInfo" model="user"></class-of-dropdown>
        <select ng-options="time_unit.id as time_unit.name for time_unit in time_units" ng-model="user.time_unit_id"></select>
      </div>

      <div ng-if="current_user.is_student">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        <p>Class of {{user.class_of}}</p>
        <p>{{_.findWhere(time_units, { id: user.time_unit_id }).name}}</p>
      </div>

      <input class="form-control" ng-show="editingInfo" ng-model="user.email" placeholder="Email" autofocus="true">
      <input class="form-control" ng-show="editingInfo" ng-model="user.phone" placeholder="Phone Number">

      <div class="buttonGroup pvl" ng-show="editingInfo" >
        <button ng-click="updateUserInfo($event)" class="ladda-button submit" data-style="expand-right" data-size="s" data-color="blue"><span class="ladda-label">Save</span></button>
        <button class="cancel" ng-click="cancelUpdateUserInfo()"><span>Cancel</span></button>
      </div>

    </div>

    <div ng-show="editingPassword">

      <ul class="errorText ptm" ng-show="errors">
        <li ng-repeat="error in errors">{{error}}</li>
      </ul>

      <input type="password" class="form-control" ng-model="password.current" placeholder="Current Password" name="current" required>
      <input type="password" class="form-control" ng-model="password.new" placeholder="New Password" name="new" required>
      <input type="password" class="form-control" ng-model="password.confirm" placeholder="Confirm New Password" name="confirm" required>

      <button ng-click="updateUserPassword($event)" class="submit" data-style="expand-right" data-size="s" data-color="blue">Save</button>
      <button class="cancel" ng-click="cancelUpdatePassword()">Cancel</button>

    </div>

  </div>

  <div class="profile--guardian" ng-if="user.is_student">
    <h5>Parent or Guardian Information</h5>

    <ul class="guardian-list">
      <li ng-repeat="contact in contacts">

        <div ng-hide="contact.editing">
          <h5><span class="bold">{{contact.name}}</span> ({{contact.relationship}})</h5>
          <p>{{contact.email}}</p>
          <p>{{contact.phone}}</p>
          <button class="submit" ng-click="editParentGuardianContact($index)">Update Parent or Guardian</button>
          <button class="delete" ng-click="deleteParentGuardianContact($index)">Remove</button>
        </div>

        <div ng-show="contact.editing">
          <input class="form-control" ng-model="contact.new_name" placeholder="Name" autofocus="true">
          <input class="form-control" ng-model="contact.new_relationship" placeholder="Relationship" autofocus="true">
          <input class="form-control" ng-model="contact.new_email" placeholder="Email" autofocus="true">
          <input class="form-control" ng-show="contact.editing" ng-model="contact.new_phone" placeholder="Phone" autofocus="true">

          <button class="submit" ng-click="saveParentGuardianContact($index)">Save</button>
          <button class="cancel" ng-click="cancelEditParentGuardianContact($index)">Cancel</button>
        </div>

      </li>
    </ul>

    <button class="btn btn-default" ng-click="addParentGuardianContact()">Add Parent or Guardian</button>

  </div>

</div>

<script>
  $(function() { $('input, textarea').placeholder();});
</script>
