<div class="wrapper clear" ng-controller="HeaderController">
  <div class="imua-logo left">
    <a href="/">
      <img ng-src="assets/logo-blue-small.png" alt="IMUA" height="46px" width="46px">
        <span ng-if="current_user.is_super_admin">Collective Progress</span>
        <span ng-if="!current_user.is_super_admin">{{ current_user.organization.name }}</span>
    </a>
  </div>

  <nav class="nav-collapsed right" role="navigation">
    <div class="dropdown js-cog">
      <div class="current-name">
        Menu <span class="caret"></span>
      </div>
      <div class="submenu js-submenu">
        <div ng-if="current_user.is_super_admin" class="submenu__link">
          <a class="js-nav-link" href="#/sa/organizations">Organizations</a>
        </div>

        <div ng-if="current_user.is_org_admin">
          <div class="submenu__link">
            <a class="js-nav-link" href="#/dashboard/{{ current_user.id }}">Dashboard</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/organization/{{ current_user.organization_id }}">Mentors</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/students/{{ current_user.organization_id }}">Students</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/roadmap/{{ current_user.organization_id }}">Organization Setup</a>
          </div>
        </div>

        <div ng-if="current_user.is_mentor">
          <div class="submenu__link">
            <a class="js-nav-link" href="#/dashboard/{{ current_user.id }}">My Students</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/assignments/{{ current_user.id }}">Tasks</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/roadmap/{{ current_user.organization_id }}">Roadmap</a>
          </div>
        </div>

        <div ng-if="current_user.is_student">
          <div class="submenu__link">
            <a class="js-nav-link" href="#/dashboard/{{ current_user.id }}">Dashboard</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/progress/{{ current_user.id }}">My Progress</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/expectations/{{ current_user.id }}">Expectations</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/user_assignments/{{ current_user.id }}">Tasks</a>
          </div>
        </div>

        <div class="submenu__link">
          <a class="js-nav-link" href="#/profile/{{ current_user.id }}">Profile</a>
        </div>
        <div class="submenu__link">
          <a class="js-nav-link" href="#">Logout</a>
        </div>
      </div>
    </div>
  </nav>

  <nav class="nav-expanded right" role="navigation">
    <ul>
        <li ng-if="current_user.is_super_admin">
          <a class="js-nav-link" href="#/sa/organizations">Organizations</a>
        </li>

      <div ng-if="current_user.is_org_admin">
        <li>
          <a class="js-nav-link" href="#/dashboard/{{ current_user.id }}">Dashboard</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/organization/{{ current_user.organization_id }}">Mentors</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/students/{{ current_user.organization_id }}">Students</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/roadmap/{{ current_user.organization_id }}">Organization Setup</a>
        </li>
      </div>

      <div ng-if="current_user.is_mentor">
        <li>
          <a class="js-nav-link" href="#/dashboard/{{ current_user.id }}">My Students</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/assignments/{{ current_user.id }}">Tasks</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/roadmap/{{ current_user.organization_id }}">Roadmap</a>
        </li>
      </div>

      <div ng-if="current_user.is_student">
        <li>
          <a class="js-nav-link" href="#/dashboard/{{ current_user.id }}">Dashboard</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/progress/{{ current_user.id }}">My Progress</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/expectations/{{ current_user.id }}">Expectations</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/user_assignments/{{ current_user.id }}">Tasks</a>
        </li>
      </div>

      <li class="dropdown cog js-cog">
        <div class="current-name">
          <span ng-if="current_user.is_super_admin">Administrator</span>
          <span ng-if="current_user.is_super_admin">{{ current_user.first_last_initial }}</span>
        </div>
        <span class="glyphicon glyphicon-cog"></span>
        <div class="submenu js-submenu">
          <div class="submenu__link">
            <a class="js-nav-link" href="#/profile/{{ current_user.id }}">Profile</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#">Logout</a>
          </div>
        </div>
      </li>

    </ul>
  </nav>
</div>
