<nav class="navbar navbar-default" role="navigation" ng-controller="HeaderController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- <div class="wrapper clear" ng-controller="HeaderController">
  <div class="imua-logo left">
    <a href="/">
      <img ng-src="assets/logo-blue-small.png" alt="IMUA" height="46px" width="46px">
        <span ng-if="current_user.is_super_admin">Collective Progress</span>
        <span ng-if="!current_user.is_super_admin">{{ current_user.organization.name }}</span>
    </a>
  </div>

  <nav class="nav-collapsed right" role="navigation">
    <div class="dropdown js-cog">
      <div class="current-name">
        Menu <span class="caret"></span>
      </div>
      <div class="submenu js-submenu">
        <div ng-if="current_user.is_super_admin" class="submenu__link">
          <a class="js-nav-link" href="#/sa/organizations">Organizations</a>
        </div>

        <div ng-if="current_user.is_org_admin">
          <div class="submenu__link">
            <a class="js-nav-link" href="#/dashboard/{{ current_user.id }}">Dashboard</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/organization/{{ current_user.organization_id }}">Mentors</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/students/{{ current_user.organization_id }}">Students</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/roadmap/{{ current_user.organization_id }}">Organization Setup</a>
          </div>
        </div>

        <div ng-if="current_user.is_mentor">
          <div class="submenu__link">
            <a class="js-nav-link" href="#/dashboard/{{ current_user.id }}">My Students</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/assignments/{{ current_user.id }}">Tasks</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/roadmap/{{ current_user.organization_id }}">Roadmap</a>
          </div>
        </div>

        <div ng-if="current_user.is_student">
          <div class="submenu__link">
            <a class="js-nav-link" href="#/dashboard/{{ current_user.id }}">Dashboard</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/progress/{{ current_user.id }}">My Progress</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/expectations/{{ current_user.id }}">Expectations</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#/user_assignments/{{ current_user.id }}">Tasks</a>
          </div>
        </div>

        <div class="submenu__link">
          <a class="js-nav-link" href="#/profile/{{ current_user.id }}">Profile</a>
        </div>
        <div class="submenu__link">
          <a class="js-nav-link" href="#">Logout</a>
        </div>
      </div>
    </div>
  </nav>

  <nav class="nav-expanded right" role="navigation">
    <ul>
        <li ng-if="current_user.is_super_admin">
          <a class="js-nav-link" href="#/sa/organizations">Organizations</a>
        </li>

      <div ng-if="current_user.is_org_admin">
        <li>
          <a class="js-nav-link" href="#/dashboard/{{ current_user.id }}">Dashboard</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/organization/{{ current_user.organization_id }}">Mentors</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/students/{{ current_user.organization_id }}">Students</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/roadmap/{{ current_user.organization_id }}">Organization Setup</a>
        </li>
      </div>

      <div ng-if="current_user.is_mentor">
        <li>
          <a class="js-nav-link" href="#/dashboard/{{ current_user.id }}">My Students</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/assignments/{{ current_user.id }}">Tasks</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/roadmap/{{ current_user.organization_id }}">Roadmap</a>
        </li>
      </div>

      <div ng-if="current_user.is_student">
        <li>
          <a class="js-nav-link" href="#/dashboard/{{ current_user.id }}">Dashboard</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/progress/{{ current_user.id }}">My Progress</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/expectations/{{ current_user.id }}">Expectations</a>
        </li>
        <li>
          <a class="js-nav-link" href="#/user_assignments/{{ current_user.id }}">Tasks</a>
        </li>
      </div>

      <li class="dropdown cog js-cog">
        <div class="current-name">
          <span ng-if="current_user.is_super_admin">Administrator</span>
          <span ng-if="current_user.is_super_admin">{{ current_user.first_last_initial }}</span>
        </div>
        <span class="glyphicon glyphicon-cog"></span>
        <div class="submenu js-submenu">
          <div class="submenu__link">
            <a class="js-nav-link" href="#/profile/{{ current_user.id }}">Profile</a>
          </div>
          <div class="submenu__link">
            <a class="js-nav-link" href="#">Logout</a>
          </div>
        </div>
      </li>

    </ul>
  </nav>
</div>
 -->
