<div class="studentsContainer" wait-to-load="{{loaded_users}}">

	<div class="user-list">
    <h4>Students</h4>

		<div ng-repeat="(group, group_students) in groupedStudents">
			<h5 ng-if="group != 0" class="pvm">Class of {{group}}</h5>
			<h5 ng-if="group == 0" class="pvm">Unassigned</h5>
      <div class="progress-circles" ng-repeat="student in group_students | orderBy: 'id'">
				<a ng-href="#/progress/{{student.id}}" title="View {{student.first_name}}'s' Progress"><progress-circle student="student"></progress-circle></a>
					<h6 class="bold"><a ng-href="#/progress/{{student.id}}" title="View {{student.first_name}}'s Progress"><a ng-href="#/progress/{{student.id}}" title="View {{student.first_name}}'s' Progress">{{student.first_last_initial}}</a></h6>
					<ul class="circle-subnav">
						<li><a ng-href="#/profile/{{student.id}}" title="View {{student.first_name}}'s Profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
						<li class="extra-info">Last Login: {{student.last_login}}</li>
						<li class="extra-info">Login Count: {{student.login_count}}</li>
					</ul>
			</div>
    </div>

    <div class="user-list__add" ng-click="addStudent()">
      <div class="glyphicon glyphicon-plus-sign"></div>
      <div>Add Student</div>
    </div>
  </div>

</div>
