<div class="studentsContainer" wait-to-load="{{loaded_users}}">

		<div sticky ng-if="selectedStudents.length == 1" class="single-student-selectbar">
			<div class="student-info">
				<div class="student-info__picture">
					<progress-circle drawduration="0" width="100" identifier="selected" student="singleStudent"></progress-circle>
				</div>
				<div class="student-info__text">
					<div class="name">{{singleStudent.full_name}}</div>
					<div class="points"><span class="bold">{{singleStudent.user_points}}</span> out of {{singleStudent.total_points}} Available Points</div>
					<div class="login-info" ng-if="singleStudent.last_login == 'Has not logged in yet'">Last Login: {{singleStudent.last_login}}</div>
			    <div class="login-info" ng-if="singleStudent.last_login != 'Has not logged in yet'">Last Login: {{singleStudent.last_login | formatMDY}}</div>
			    <div class="login-info">Login Count: {{singleStudent.login_count}}</div>
				</div>
			</div>

			<div class="actions">
				<span ng-click="go('/progress/' + singleStudent.id)" class="btn btn-action btn-sm"><span class="glyphicon glyphicon-home mrs"></span>View {{singleStudent.first_name}}'s Progress</span>
				<span ng-click="addNewTask(selectedStudents, current_user)" class="btn btn-action btn-sm"><span class="glyphicon glyphicon-pushpin mrs"></span>Assign New Task</span>
				<span ng-click="manageExpectations(selectedStudents, current_user)" class="btn btn-action btn-sm"><span class="glyphicon glyphicon-list mrs"></span>Manage Expectations</span>
				<span ng-click="go('/profile/' + singleStudent.id)" class="btn btn-action btn-sm"><span class="glyphicon glyphicon-user mrs"></span>View Profile</span>
			</div>

			<div ng-click="clearSelected(selectedStudents)" class="clear-selection glyphicon glyphicon-remove" title="Clear Selection"></div>
		</div>

		<div sticky ng-if="selectedStudents.length > 1" class="students-selectbar">
			<div class="pbm select-header">
				<span class="bold text">Selected Students: </span>
			</div>
			<div class="token-container">
				<div ng-repeat="student in selectedStudents" class="student-token">
					<div ng-click="studentSelect(student)" class="btn btn-default btn-sm">
						<span class="student-name">{{student.first_last_initial}}</span>
						<span class="token-remove glyphicon glyphicon-remove"></span>
					</div>
				</div>
			</div>
			<div class="actions">
				<span ng-click="manageExpectations(selectedStudents, current_user)" class="btn-action btn btn-sm"><span class="glyphicon glyphicon-list mrs"></span>Manage Expectations</span>
				<span ng-click="addNewTask(selectedStudents, current_user)" class="btn-action btn btn-sm"><span class="glyphicon glyphicon-pushpin mrs"></span>Assign New Task</span>
			</div>

			<div ng-click="clearSelected(selectedStudents)" class="clear-selection glyphicon glyphicon-remove" title="Clear Selection"></div>
		</div>

	<div class="students-header">
		<ul class="student-stats clear">
			<li>
				<h4 class="bold">Students</h4>
			</li>
			<li>
				<div class="stat-wrapper clear">
					<div class="count"><h4><span class="bold">{{organization.students.length}}</span></h4></div>
					<div class="descript">Total <br>Students</div>
				</div>
			</li>
			<li>
				<div class="stat-wrapper clear">
					<div class="count"><h4><span class="bold">{{active_students}}</span></h4></div>
					<div ng-if="active_students !== 1" class="descript">Students Active <br>This Week</div>
					<div ng-if="active_students == 1" class="descript">Student Active <br>This Week</div>
				</div>
			</li>
			<li>
				<div class="stat-wrapper ng-clickable temp-clickable clear" ng-click="attentionList = !attentionList">
					<div class="count"><h4><span class="bold">{{_.where(organization.students, { needs_attention: true }).length}}</span></h4></div>
					<div ng-if="_.where(organization.students, { needs_attention: true }).length !== 1" class="descript">Students Need <br>Mentor Attention</div>
					<div ng-if="_.where(organization.students, { needs_attention: true }).length == 1" class="descript">Student Needs <br>Mentor Attention</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="students-mid" ng-if="attention_students.length != 0" ng-show="attentionList">
		<div class="students-attention">
			<div ng-if="attention_students.length == 1" class="list-header">
				<h5><span class="bold">One student needs attention</span> from their mentor</h5>
			</div>
			<div ng-if="attention_students.length != 1" class="list-header">
				<h5><span class="bold">{{attention_students.length}} students need attention</span> from their mentors</h5>
			</div>
			<div class="list-container progress-circle--list">
				<progress-circle-needs-attention ng-repeat="student in attention_students"></progress-circle-needs-attention>
			</div>
		</div>
	</div>

	<div class="students-mid mtl">
		<h6 class="search-label">Search for Students: </h6>
		<input placeholder="Enter Student's Name" class="student-search form-inline form-field" type="text" ng-model="search.text">
	</div>

	<div class="students-lower">
		<div ng-repeat="group in class_of_years">
			<h5 ng-show="_.findWhere(students, {class_of: group})" class="list-header">Class of <span class="bold">{{group}}</span>
				<span class="subtext"><input ng-show="_.findWhere(students, {class_of: group})" type="checkbox" ng-click="selectClassOf(group)" ng-model="classOfSelect.selected[group]"> Select All</span>
			</h5>
			<div class="list-container progress-circle--list">
				<progress-circle-select ng-repeat="student in students | orderBy: 'last_name' | filter: {class_of: group}"></progress-circle-select>
			</div>
    </div>

		<div class="add-button" ng-click="addStudent()">
			<div class="glyphicon glyphicon-plus-sign"></div>
			<h6>Add a Student</h6>
		</div>
  </div>

</div>
