<div class="studentsContainer" wait-to-load="{{loaded_users}}">

	<div class="students-header">
		<ul class="student-stats clear">
			<li>
				<h4 class="bold">Students</h4>
			</li>
			<li>
				<div class="stat-wrapper clear">
					<div class="count"><h4><span class="bold">{{organization.students.length}}</span></h4></div>
					<div class="descript">Total <br>Students</div>
				</div>
			</li>
			<li>
				<div class="stat-wrapper clear">
					<div class="count"><h4><span class="bold">{{active_students}}</span></h4></div>
					<div ng-if="active_students !== 1" class="descript">Students Active <br>This Week</div>
					<div ng-if="active_students == 1" class="descript">Student Active <br>This Week</div>
				</div>
			</li>
			<li>
				<div class="stat-wrapper clear">
					<div class="count"><h4><span class="bold">{{_.where(organization.students, { needs_attention: true }).length}}</span></h4></div>
					<div ng-if="_.where(organization.students, { needs_attention: true }).length !== 1" class="descript">Students Need <br>Mentor Attention</div>
					<div ng-if="_.where(organization.students, { needs_attention: true }).length == 1" class="descript">Student Needs <br>Mentor Attention</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="students-mid" ng-hide="attention_students.length == 0">
		<div class="students-attention">
			<div ng-if="attention_students.length == 1" class="list-header">
				<h5><span class="bold">This student needs attention</span> from their mentor</h5>
			</div>
			<div ng-if="attention_students.length != 1" class="list-header">
				<h5><span class="bold">These students need attention</span> from their mentors</h5>
			</div>
			<div class="list-container">
				<div class="progress-circles--needs-attention" ng-class="{'needsAttention': {{student.id | existsInArray: attention_students}}}" ng-repeat="student in attention_students">
					<div class="attention-circle">
						<a href="#/expectations/{{student.id}}"><progress-circle student="student" identifier="attention"></progress-circle></a>
					</div>
					<div class="attention-text">
						<a href="#/expectations/{{student.id}}">
							<h5 class="bold student-name">{{student.first_last_initial}}</h5>
							<div class="attention-description">
								<!-- This should be replaced with a directive or something that allows us to insert custom messages and button links. -->
								<h6>isn't meeting their expectations.</h6>
								<button class="btn btn-default">View Problem</button>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="students-lower">
		<div ng-repeat="(group, group_students) in groupedStudents">
			<h5 class="list-header">Class of <span class="bold">{{group}}</span></h5>

			<div class="list-container">
				<div class="progress-circles" ng-repeat="student in group_students | orderBy: 'last_name'">
					<a ng-href="#/progress/{{student.id}}" title="View {{student.first_name}}'s' Progress"><progress-circle student="student"></progress-circle></a>
						<h6 class="bold"><a ng-href="#/progress/{{student.id}}" title="View {{student.first_name}}'s Progress"><a ng-href="#/progress/{{student.id}}" title="View {{student.first_name}}'s' Progress">{{student.first_last_initial}}</a></h6>
						<ul class="circle-subnav">
							<li><a ng-href="#/profile/{{student.id}}" title="View {{student.first_name}}'s Profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
							<li class="extra-info">Last Login: {{student.last_login}}</li>
							<li class="extra-info">Login Count: {{student.login_count}}</li>
						</ul>
				</div>
			</div>
    </div>

		<div class="add-button" ng-click="addStudent()">
			<div class="glyphicon glyphicon-plus-sign"></div>
			<h6>Add a Student</h6>
		</div>
  </div>

</div>
