<div class="studentsContainer" wait-to-load="{{loaded_users}}">

	<div class="students-header">
		<ul class="student-stats clear">
			<li>
				<h4 class="bold">Students</h4>
			</li>
			<li>
				<div class="stat-wrapper clear">
					<div class="count"><h4><span class="bold">{{organization.students.length}}</span></h4></div>
					<div class="descript">Total <br>Students</div>
				</div>
			</li>
			<li>
				<div class="stat-wrapper clear">
					<div class="count"><h4><span class="bold">{{active_students}}</span></h4></div>
					<div ng-if="active_students !== 1" class="descript">Students Active <br>This Week</div>
					<div ng-if="active_students == 1" class="descript">Student Active <br>This Week</div>
				</div>
			</li>
			<li>
				<div class="stat-wrapper ng-clickable temp-clickable clear" ng-click="attentionList = !attentionList">
					<div class="count"><h4><span class="bold">{{_.where(organization.students, { needs_attention: true }).length}}</span></h4></div>
					<div ng-if="_.where(organization.students, { needs_attention: true }).length !== 1" class="descript">Students Need <br>Mentor Attention</div>
					<div ng-if="_.where(organization.students, { needs_attention: true }).length == 1" class="descript">Student Needs <br>Mentor Attention</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="students-mid" ng-if="attention_students.length != 0" ng-show="attentionList">
		<div class="students-attention">
			<div ng-if="attention_students.length == 1" class="list-header">
				<h5><span class="bold">One student needs attention</span> from their mentor</h5>
			</div>
			<div ng-if="attention_students.length != 1" class="list-header">
				<h5><span class="bold">{{attention_students.length}} students need attention</span> from their mentors</h5>
			</div>
			<div class="list-container progress-circle--list">
				<progress-circle-needs-attention ng-repeat="student in attention_students"></progress-circle-needs-attention>
			</div>
		</div>
	</div>

	<div class="students-mid">
		<h6 class="search-label">Search for Students: </h6>
		<input class="student-search form-inline form-field" type="text" ng-model="search.name">
	</div>

	<div class="students-lower">
		<div ng-repeat="(group, group_students) in groupedStudents">
			<h5 ng-hide="search.name" class="list-header">Class of <span class="bold">{{group}}</span></h5>
			<div class="list-container progress-circle--list">
				<progress-circle-default ng-repeat="student in group_students | orderBy: 'last_name' | filter: { full_name: search.name }"></progress-circle-default>
			</div>
    </div>

		<div class="add-button" ng-click="addStudent()">
			<div class="glyphicon glyphicon-plus-sign"></div>
			<h6>Add a Student</h6>
		</div>
  </div>

</div>
