<div class="mentorContainer">

  <div class="user-list ptxl pbxl">
    <h4>{{mentor.first_name}}'s Students</h4>

    <div class="avatar-block progress-circles avatar-block--list" ng-repeat="student in assigned_students | orderBy: 'user.id'">
      <!-- <img ng-src="{{student.square_avatar_url}}" alt="Avatar" class="avatar-block__img avatar-block__img--thumbnail" /> -->
      <a ng-href="#/progress/{{student.user.id}}" title="View progress">
        <progress-circle student="student"></progress-circle>
      </a>
      <a ng-href="#/profile/{{student.user.id}}" title="View student info">
        <div class="avatar-block__name">
          {{student.user.first_name}} {{student.user.last_name}}
        </div>
      </a>
      <div class="unassign">
        <span class="glyphicon glyphicon-remove-circle" title="Unassign" ng-click="unassign(student.user)"></span>
      </div>
    </div>

    <div class="user-list__add" ng-click="assigning=true" ng-hide="assigning || assigned_students.length == all_students.length">
      <div class="glyphicon glyphicon-plus-sign ptxl"></div>
      <div>Assign Student</div>
    </div>

    <div class="user-list__add" ng-click="assigning=false" ng-show="assigning">
      <div class="glyphicon glyphicon-ok-sign ptxl"></div>
      <div>Done Assigning</div>
    </div>
  </div>

  <div class="user-list ptxl pbxl all-students" ng-show="assigning">
    <h4 ng-hide="all_students.length == assigned_students.length">Click the students below to assign them to {{mentor.first_name}}</h4>
    <div class="avatar-block avatar-block--list" ng-class="{ assigned: isAssigned(student)}" ng-click="assign(student)"
          ng-repeat="student in all_students">
      <img ng-src="{{student.square_avatar_url}}" alt="Avatar" class="avatar-block__img avatar-block__img--thumbnail" />

      <div class="avatar-block__name">
        {{student.first_name}} {{student.last_name}}
      </div>
    </div>

    <div class="pal" ng-show="all_students.length == assigned_students.length">
      <h4>No students left to assign!</h4>
    </div>
  </div>

</div>
