<div class="orgsetupContainer clear">

  <div class="orgsetup-header orgsetup-header--orgadmin">
    <div class="orgsetup-header--wrapper">
      <div class="greeting">
        <h2 class="bold">{{organization.name}} Setup</h2>
      </div>
    </div>
  </div>

  <div class="orgsetup-content clear">
    <div class="orgsetup-nav">
      <div ng-include="'setup/widgets/orgsetup_nav.html'"></div>
    </div>
    <div class="orgsetup-pane">
      <div ng-include="getWidgetTemplate(selected_widget)"></div>
    </div>
  </div>

</div>
