@function black($opacity:1){
    @return rgba(0,0,0,$opacity)
}

@function white($opacity:1){
    @return rgba(255,255,255,$opacity);
}

/* Status Colors */

$green: rgb(64,174,73); // #41ad49
$darkgreen: rgb(43,151,51); //#2b8333

$red: rgb(239,65,61); // #ef413d
$darkred: rgb(181,45,42); // #b52d2a

/* Catagory Colors */

$teal: rgb(65,230,178); // #41e6b2
$darkteal: rgb(54,166,131); // #36a683
$bgteal: rgb(3,35,25); // #032319

$yellow: rgb(242,190,40); // #e8be28
$darkyellow: rgb(187,146,26); // #bb921a
$bgyellow: rgb(35,27,3); // #231b03

$orange: rgb(239,102,41); // #ef6629
$darkorange: rgb(184,92,51); // #b85c33
$bgorange: rgb(42,17,6); // #2a1106

$blue: rgb(37,170,225); // #27aae1
$darkblue: rgb(21,126,170); // #157eaa
$bgblue: rgb(6,36,49); //#062431

$purple: rgb(178,97,235); // #9665aa
$darkpurple: rgb(138,67,187); //#8a43bb
$bgpurple: rgb(28,7,42); // #1c072a

/* Greys */

$lightgrey: rgb(192,192,192); // #c0c0c0
$boxgrey: rgb(41,42,43); // #292a2b
$grey: rgb(32,33,34); // #202122
$darkgrey: rgb(18,19,20); // #121314
$grey-hover: #888;

@function grey($opacity:1){
    @return rgba(32,33,34,$opacity)
}

@function darkgrey($opacity:1){
    @return rgba(18,19,20,$opacity)
}

$ink: rgb(43,45,47); // #2b2d2f

$button-blue: #53b5e6;
$button-blue-hover: #69bfe9;

$button-red: #cf2622;
$button-red-hover: #cf6967;

$darkborder: rgb(65, 66, 67);

.green { color: $green; }
.red { color: $red; }
.blue { color: $blue; }
.orange { color: $orange; }
.yellow { color: $yellow; }

/* ========================= */
/*      Category Colors      */
/* ========================= */
$academics-color: $teal;
$academics-color-dark: $darkteal;
$academics-color-bg: $bgteal;

$service-color: $yellow;
$service-color-dark: $darkyellow;
$service-color-bg: $bgyellow;

$testing-color: $purple;
$testing-color-dark: $darkpurple;
$testing-color-bg: $bgpurple;

$extracurricular-color: $orange;
$extracurricular-color-dark: $darkorange;
$extracurricular-color-bg: $bgorange;

$college_prep-color: $blue;
$college_prep-color-dark: $darkblue;
$college_prep-color-bg: $bgblue;

$colormap: (
  academics: $academics-color,
  service: $service-color,
  testing: $testing-color,
  extracurricular: $extracurricular-color,
  college_prep: $college_prep-color,
  // ONEGOAL_HACK START
  _2-year: $academics-color,
  _4-year: $service-color,
  assignments: $testing-color,
  financial: $extracurricular-color,
  campus_connections: $college_prep-color,
  // ONEGOAL_HACK END
  no_category: $boxgrey
);

$darkcolormap: (
  academics: $academics-color-dark,
  service: $service-color-dark,
  testing: $testing-color-dark,
  extracurricular: $extracurricular-color-dark,
  college_prep: $college_prep-color-dark,
  // ONEGOAL_HACK START
  _2-year: $academics-color-dark,
  _4-year: $service-color-dark,
  assignments: $testing-color-dark,
  financial: $extracurricular-color-dark,
  campus_connections: $college_prep-color-dark,
  // ONEGOAL_HACK END
  no_category: $grey
);

$bgcolormap: (
  academics: 'bg_teal1.jpg',
  service: 'bg_yellow1.jpg',
  testing: 'bg_purple1.jpg',
  extracurricular: 'bg_pinkorange1.jpg',
  college_prep: 'bg_bluegreen1.jpg'
);
