.comments-content {
  margin-top: 30px;

  .comment-avatar {
    padding-top: 20px;
  }

  .comment-item {
    padding: 20px;
    margin-left: 60px;
    position: relative;

    .comment-item__icons {
      position: absolute;
      top: 20px;
      right: 10px;

      cursor: pointer;
    }
  }

  .ta-editor {
    min-height: 100px;
    height: 150px;
  }

  .comments-list__item--new,
  .comments-list__item--editing {


    .button-container {
      text-align: right;
    }

  }

}
