/***** Global Dashboard Styles *****/

.dashboard-header {
	width: 100%;
	padding: 60px $wrapper-width;
	margin: 0;
	border-bottom: 1px solid $darkborder;
}

.dashboard-content {
  background-color: $darkgrey;
  color: white;
	width: 100%;
  padding: $wrapper;
  padding-top: 60px;
  padding-bottom: 60px;
}

/***** Student Dashboard Styles *****/

#studentDashboard {

  .dashboard-header {

  	padding: 80px $wrapper-width; //override
  	background: $grey;
  	color: white;

    .student-header--wrapper {

      width: 100%;

      .student-header--content {

        width: 1000px;
        margin: 0 auto;

        .progressCircle-big--container {

        	width: 240px;
        	margin-right: 40px;
        	float: left;

        }

        .greeting {

        	width: 700px;
        	padding-top: 40px;
        	float: left;

        }

      } //.student-header--content

    } //.student-header--wrapper

  }

  .dashboard-content--student {

  } //.dashboard-content--student

} //#studentDashboard

/***** Mentor Dashboard Styles *****/

#mentorDashboard {

  .dashboard-header {

    background: $green;
    color: white;
		border-bottom: none;

    .mentor-header--wrapper {

      width: 1100px;
      height: 300px;
      margin: 0 auto;

      .greeting {

        margin-top: 80px;
        float: left;

      }

      .circle-attention {

        float: right;

        .circle {

          width: 288px;
          height: 288px;
          margin: 0 auto;

          &:after {
            content: "";
            display: block;
            width: 100%;
            height:0;
            padding-bottom: 88%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            border: 22px solid white;
          }

          .text {

            float:left;
            width:100%;
            padding-top: 15%;
            text-align:center;
            color:white;

            .subhead {

              @include font-size(2);

            }

          } //.text

        } //.circle

      } //.circle-attention

    } //.mentor-header

  } //.dashboard-header

} //#mentorDashboard
