.expectationUpper {

  background: $grey;
  color: white;
  border-bottom: 1px $darkborder solid;

  ul {

    margin-bottom: 0;

    li {

      float: left;

    }

    .wide {

      width: 85%;
      padding: 40px 100px 0 100px;

    }

    .narrow {

      width: 15%;
      padding: 60px 0;
      text-align: center;

    }

    .addBorderleft {
      border-left: 1px solid $darkborder;
    }

    .addBorderright {
      border-right: 1px solid $darkborder;
    }

  }

}

.expectationMiddle {

  background: $grey;
  color: white;

  .progressCircle-big--container {

    float: left;
    width: 20%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    border-right: 1px solid $darkborder;

  }

  .meetingExpectations {

    width: 80%;
    float: left;
    padding-top: 80px;
    text-align: center;
    color: white();

  }

}

.expectationLower {

  background: $darkgrey;
  min-height: 500px;
  border-top: 10px solid $blue;
  padding: $wrapper;
  color: white;
  text-align: center;

  .expectationLower--container {
      padding: 40px 0;

      .module-header {
        margin-bottom: 40px;
      }

      .expectations-list-item {
        width: 48%;
        float: left;

        .expectation-btn-group--container {
          width: 65%;
        }

      }

  }

}
