.imua-datepicker-container {
  width: 132px;

  .input-group {

    .imua-form-editor {
      width: 90px;
      height: 35px;
      color: #555555;
      font-size: 14px;
    }

    .imua-datepicker-btn {

    }
  }

}
