/* ===============================================
   *****************  Variables  *****************
   =============================================== */

/* Breakpoints */

@mixin respond-to($breakpoint) {
    @media only screen and (max-width: $breakpoint + px) { @content; }
}

@mixin respond-to-with-height($breakpoint) {
    @media only screen and (max-width: $breakpoint + px),
          screen and (max-height: $breakpoint + px) { @content; }
}

@mixin respond-to-min($breakpoint) {
    @media only screen and (min-width: $breakpoint + px) { @content; }
}

/* Colors */

@function black($opacity:1){
    @return rgba(0,0,0,$opacity)
}

@function white($opacity:1){
    @return rgba(255,255,255,$opacity);
}

/* Status Colors */

$green: rgb(64,174,73); // #41ad49
$darkgreen: rgb(43,151,51); //#2b8333

$red: rgb(239,65,61); // #ef413d
$darkred: rgb(181,45,42); // #b52d2a

/* Catagory Colors */

$teal: rgb(65,230,178); // #41e6b2
$darkteal: rgb(54,166,131); // #36a683

$yellow: rgb(242,190,40); // #e8be28
$darkyellow: rgb(187,146,26); // #bb921a

$orange: rgb(239,102,41); // #ef6629
$darkorange: rgb(184,92,51); // #b85c33

$purple: rgb(178,97,235); // #9665aa
$darkpurple: rgb(138,67,187); //#8a43bb

$blue: rgb(37,170,225); // #27aae1
$darkblue: rgb(21,126,170); // #157eaa

/* Greys */

$lightgrey: rgb(192,192,192); // #c0c0c0
$grey: rgb(25,26,27); // #191a1b
$darkgrey: rgb(18,19,20); // #121314
$boxgrey: rgb(31,31,31); // #1f1f1f
$grey-hover: #888;

$ink: rgb(43,45,47); // #2b2d2f

$button-blue: #53b5e6;
$button-blue-hover: #69bfe9;

$button-red: #cf2622;
$button-red-hover: #cf6967;

$darkborder: rgb(65, 66, 67);

//These should be removed soon
.green { color: $green; }
.red { color: $red; }
.blue { color: $blue; }

/* ========================= */
/*      Category Colors      */
/* ========================= */
$academics-color: $teal;
$academics-color-dark: $darkteal;

$service-color: $yellow;
$service-color-dark: $darkyellow;

$testing-color: $purple;
$testing-color-dark: $darkpurple;

$extracurricular-color: $orange;
$extracurricular-color-dark: $darkorange;

$college_prep-color: $blue;
$college_prep-color-dark: $darkblue;

$colormap: (academics: $academics-color, service: $service-color, testing: $testing-color, extracurricular: $extracurricular-color, college_prep: $college_prep-color);
$darkcolormap: (academics: $academics-color-dark, service: $service-color-dark, testing: $testing-color-dark, extracurricular: $extracurricular-color-dark, college_prep: $college_prep-color-dark);

/* Fonts */
$font-stack: "jaf-facitweb", "Helvetica Neue", "Arial", sans-serif;
$light: 200;
$regular: 300;
$bold: 700;

@mixin font-size($size:1.6, $line: $size * 1.2){
    font-size:   ($size * 10) + px;
    line-height: ($line * 10) + px;
    font-size:   $size + rem;
    line-height: $line + rem;
}



/* Other Variables */

@mixin bgcover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin border-radius($radius) {

  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius; /* future proofing */
  -khtml-border-radius: $radius; /* for old Konqueror browsers */

}

@mixin circle($size) {

	width: $size;
	height: $size;
	@include border-radius(100%);

}


html {
  height: 100%;
  min-height: 100%;

  body {

    min-width: 1260px;
    font-family: $font-stack;
    font-weight: $regular;
    @include font-size(1.4);

  }

}

a { cursor: pointer; }

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.left {

  float: left;

}

.right {

  float: right;

}

/* ===============================================
   Typography
   =============================================== */

h1 {

  @include font-size(12);
  font-weight: $bold;

}

h2 {

  @include font-size(9);
  font-weight: $bold;

}

h3 {

  @include font-size(6);
  font-weight: $bold;

}


h4 {

  @include font-size(4);
  font-weight: $light;

}

h5 {

  @include font-size(3);
  font-weight: $light;

}

.big-text {
  h5 { line-height: 1rem; }
}

h6 {

  @include font-size(1.8);
  font-weight: $light;

}

.bold {

  font-weight: $bold;

}

.light {

  font-weight: $light;

}

.italic { font-style: italic; }

.font-size-normal { font-size: 16px; }


/* ===============================================
   Global Classes
   =============================================== */

$wrapper: 0 40px;
$wrapper-width: 40px;
$panelwrapper: 0 80px;

.list-header {

	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px white(0.25) solid;

}

.list-container {

	margin-top: 60px;

}

.user-list {

  .user-list__add {
    cursor: pointer;

    padding: 20px 10px;
    width: 160px;
    word-wrap: break-word;

    display: inline-block;
    vertical-align: top;

    text-align: center;

    .glyphicon { font-size: 62px; color: $green; }
    .text { text-align: center; }
  }

}


/* ===============================================
   Header
   =============================================== */

header {

  width: 100%;
  background: $darkgrey;
  color: white();
  border-bottom: 1px $darkborder solid;
  position: relative;
  z-index: 1000;

  a {

    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }

  .wrapper {

    margin: $wrapper;
    @include respond-to(415) { margin: 0 10px; }

    .imua-logo {

      margin: 22px 0;

      img {

      	margin-right: 5px;

      }

    }

    nav {

      margin: 32px 0;

      li {

        float: left;

        a { cursor: pointer; }

        margin-left: 100px;
        @include respond-to(840) { margin-left: 50px; }
        @include respond-to(660) { margin-left: 20px; }

      }

      .cog {

	      .current-name {
	      	display: inline-block;
	      	padding-right: 6px;
	      }

	      .glyphicon {
          display: inline-block;
          font-size: 22px;
	      	vertical-align: middle;
	      	margin-top: -6px;
        }

      }

      .dropdown {
        cursor: pointer;

        .submenu {
          position: absolute;
          right: 0px;
          top: 35px;

          padding: 5px 20px;
          background-color: $darkgrey;
          border: 1px solid white;
          @include border-radius(5px);
          box-shadow: 0px 3px 5px #666;

          .submenu__link {
            padding: 10px;
            border-bottom: 1px solid;

            &:last-of-type {
              border-bottom: none;
            }
          }
        }

      }

    }

  }

}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999; // Just below the header
}

/* ===============================================
   Modular Section Classes
   =============================================== */

.section-wrapper {

  padding: $wrapper;
  margin-top: 20px;

    .section {

      width: 31%;
      margin: 1%;
      float: left;

      .section--header {

        padding: 20px;
        border-bottom: 1px solid white(0.1);
        text-align: center;
        font-weight: $bold;

      }

      .section--inner {

        padding: 40px;

        .section--subsection {

          margin-bottom: 20px;

          .section--subhead {

            padding-bottom: 20px;
            border-bottom: 1px solid white(0.1);
            margin-bottom: 20px;

          }

        }

        .module-data__button {

          background: white(0.25);
          padding: 10px;
          width: 35%;
          margin: 0 auto;
          @include font-size(1.2);
          @include border-radius(4px);
          text-align: center;
          opacity: 0.4;

          &:hover {

            opacity: 1;

          }

        } //.module-data__button

        .button-wide {

            width: 60%;
            @include font-size();

        }

        .confirm-button {
          @extend .module-data__button;
          background: $green;
          display: inline-block;
        }

        .cancel-button {
          @extend .module-data__button;
          background: $red;
          display: inline-block;
        }

      }

  }

  .numbers-large {

    @include font-size(10.0);
    font-weight: $light;

  }

} //.section-wrapper

/* ===============================================
   Milestone Classes
   =============================================== */

.yes-no-item {

  width: 44%;
  min-width: 175px;
  display: inline-block;
  vertical-align: top;
  margin: 0 3% 20px 3%;
  text-align: center;

  .yes-no--point-circle {

    @include circle(90px);
    margin: 0 auto;
    padding-bottom: 10px;

    .point-circle--inside {

      padding-top: 20px;

      h5 {
        line-height: 1rem;
      }

    }

  } //yes-no--point-circle

  .yes-no-item-statisfied {

    opacity: 0.6;

    .point-circle--inside {

      padding-top: 10px;

    }

  }

  .yes-no--point-circle {

    color: $darkgrey;

  } //yes-no--point-circle

} //yes-no-item

/* ===============================================
   Expectation Classes
   =============================================== */

.expectations-list-item {
    margin: 0 1%;
    margin-bottom: 80px;
    width: 100%;
    text-align: center;

    .expectation-title {
      padding-bottom: 20px;
    }

    .expectation-btn-group--container {
      width: 80%;
      margin: 0 auto;

      .expectation-selector {
        width: 33%;
        float: left;

        .button-wrapper {

          width: 50px;
          height: 50px;
          margin: 0 auto;

          button {

            width: 30px;
            height: 30px;
            margin-top: 8px;
            background: white;
            border: 0;
            @include border-radius (50%);
            opacity: 0.1;

          }

          .expectation-btn-alert { background: $red; }
          .expectation-btn-warn { background: $yellow; }
          .expectation-btn-good { background: $green; }

        }
        .button-label {
          padding: 20px 0;
        }

        .selected {

          button {
            width: 50px;
            height: 50px;
            margin: 0;
            opacity: 1;
          }

        }

      }

    }

}



/* ===============================================
   Helper Classes
   =============================================== */
.maxl,.mvxl,.mbxl {margin-bottom: 20px}
.mal,.mvl,.mbl {margin-bottom: 15px}
.mam,.mvm,.mbm {margin-bottom: 10px}
.mas,.mvs,.mbs {margin-bottom: 5px}

.maxl,.mvxl,.mtxl {margin-top: 20px}
.mal,.mvl,.mtl {margin-top: 15px}
.mam,.mvm,.mtm {margin-top: 10px}
.mas,.mvs,.mts {margin-top: 5px}

.maxl,.mhxl,.mrxl {margin-right: 20px}
.mal,.mhl,.mrl {margin-right: 15px}
.mam,.mhm,.mrm {margin-right: 10px}
.mas,.mhs,.mrs {margin-right: 5px}

.maxl,.mhxl,.mlxl {margin-left: 20px}
.mal,.mhl,.mll {margin-left: 15px}
.mam,.mhm,.mlm {margin-left: 10px}
.mas,.mhs,.mls {margin-left: 5px}

.paxl,.pvxl,.pbxl {padding-bottom: 20px}
.pal,.pvl,.pbl {padding-bottom: 15px}
.pam,.pvm,.pbm {padding-bottom: 10px}
.pas,.pvs,.pbs {padding-bottom: 5px}

.paxl,.pvxl,.ptxl {padding-top: 20px}
.pal,.pvl,.ptl {padding-top: 15px}
.pam,.pvm,.ptm {padding-top: 10px}
.pas,.pvs,.pts {padding-top: 5px}

.paxl,.phxl,.prxl {padding-right: 20px}
.pal,.phl,.prl {padding-right: 15px}
.pam,.phm,.prm {padding-right: 10px}
.pas,.phs,.prs {padding-right: 5px}

.paxl,.phxl,.plxl {padding-left: 20px}
.pal,.phl,.pll {padding-left: 15px}
.pam,.phm,.plm {padding-left: 10px}
.pas,.phs,.pls {padding-left: 5px}

/* ===============================================
   Forms
   =============================================== */

.form-field {

  font-size: 14px;
  color: $ink;
  border: 1px solid #bdbdbd;
  @include border-radius(5px);
  padding: 8px;
  line-height: 1;

  &:-moz-placeholder {
      color: #999999;
  }

  &:focus {
    border-color: $blue;

    outline: none; // Chrome adds a square outline which looks weird
  }

}

button:focus {
  outline: none; // Chrome adds a blue outline when clicked on a button
}

.buttonGroup {

  .submit, .cancel, .delete {

    padding-left: 10px;
    font-size: 18px;
  }

}

.submit {

  display: inline-block;
  vertical-align: middle;
  border: 1px solid $button-blue;
  background-color: $button-blue;
  @include border-radius(2px);
  color: white;
  min-width: 80px;

  padding: 6px 10px;
  cursor: pointer;

  &:hover { background-color: $button-blue-hover; }

}

.cancel {

  display: inline-block;
  vertical-align: middle;
  border: 1px solid $grey;
  background-color: $grey;
  @include border-radius(2px);
  color: white;
  min-width: 80px;

  padding: 6px 10px;
  cursor: pointer;

  &:hover { background-color: $grey-hover; }

}

.delete {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid $button-red;
  background-color: $button-red;
  @include border-radius(2px);
  color: white;
  min-width: 80px;

  padding: 6px 10px;
  cursor: pointer;

  &:hover { background-color: $button-red-hover; }
}

.errorText { color: $red; }

/* ===============================================
   Misc
   =============================================== */

.displayNone {
  display: none;
}

.flash-container {
  padding: 20px;
  @extend .font-size-normal;
  z-index: 10000;

  position: absolute;
  left: 50%;
  margin-left: -150px;
  width: 300px;

  .alert-notice { @extend .alert-success; }
  .alert-alert, .alert-error { @extend .alert-danger; }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}
