.all-students {
  background-color: $bg-grey;
  color: white;
}

.btn-done-assigning {
  width: 200px;
  margin: auto;

  border: 1px solid $bg-grey;
  border-bottom: none;

  padding: 10px;
  color: $bg-grey;
  font-size: 18px;
  text-align: center;

  cursor: pointer;

  &:hover {
    background-color: $bg-grey;
    color: white;
  }
}

.all-students {
  .avatar-block:hover {cursor: pointer;}
}

.unassign {
  text-align: center;

  .glyphicon {
    color: red;
    cursor: pointer;
  }
}
