.user-list {

  .user-list__add {
    cursor: pointer;

    padding: 20px 10px;
    width: 160px;
    word-wrap: break-word;

    display: inline-block;
    vertical-align: top;

    text-align: center;

    .glyphicon { font-size: 62px; color: $green; }
    .text { text-align: center; }
  }

}