.user-list {

  .user-list__add {
    cursor: pointer;

    padding: 20px 10px;
    width: 160px;
    word-wrap: break-word;

    display: inline-block;
    vertical-align: top;

    text-align: center;

    .glyphicon { font-size: 62px; color: $green; }
    .text { text-align: center; }
  }

}

.user-modal {
    background-color: $bg-grey;
    color: white;
}

.form--user {

  .form-field {
    min-width: 235px;
  }

}