// Put all Global page related stuff here - main.css.scss is getting too big

.page-header {
  width: 100%;
  background: $grey;
  text-align: center;
  padding: 20px;
  margin: 0;
  border-bottom: none;
}
