.profileContainer {

  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }

  .edit-buttons {
    margin-top: 40px;
    width: 100%;
    text-align: center;

    button {
      margin: 0 10px;
      opacity: 0.4;

      &:hover {
        opacity: 1;
      }

    }

  }

  .form-wrapper {
    margin: 10px 0;
    width: 100%;
    display: inline-block;
    text-align: left;
  }

  .half {
    width: 49%;
    display: inline-block;
  }

  select {
    width: 100%;
  }


  .profile-header {

    padding: 80px $wrapper-width;
    background: $grey;
    @include bgcover();
    text-align: center;

    .profile--pic {
      width: 200px;
      height: 200px;
      margin: 0 auto;

      img {
        height: 100%;
        width: auto;
        @include border-radius(50%);

      }

    }

    .edit-buttons {
      button {
        opacity: 1;
      }
    }

    .profile--primary-info {

      .glyphicon {
        @include font-size(1.4);
        margin-right: 3px;
      }

      li {
        display: inline-block;
        margin: 0 15px;
      }

    }

    .primary-editing {
      max-width: 500px;
      margin: 0 auto;
      text-align: left;

      .student-exception {
        text-align: center;
      }

    }

  }

  .student-bg { background-image: image-url("student_bg1.jpg"); }
  .mentor-bg { background-image: image-url("mentor_bg1.jpg"); }

}

.profile-lower {
  li {
    padding-bottom: 30px;
    border-bottom: 1px solid $darkborder;
    margin-bottom: 30px;
    &:last-of-type {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}
