.progressContainer {
  background: image-url("bg_bluegreen1.jpg") no-repeat center center fixed;
  @include bgcover();

  .temp-buttons {
    margin-top: 20px;
  }

  .progress-header {

    width: 100%;
    text-align: center;

  }

  .progressLower {

    text-align: center;
    padding: 40px $wrapper-width;

    @include respond-to(900) {
      padding: 40px 20px;
    }

    @include respond-to(600) {
      padding: 20px 0;
    }

    .progressLower-title {
      margin-bottom: 40px;

      select {

        height: 60px;
        padding: 5px;
        background: grey(0.7);;
        color: white;
        border: none;
        border-bottom: 1px rgb(65, 66, 67) solid;

      }

    }

    .big-progress-circle {
      .big-circle-size {
        width: 325px;

        @include respond-to(900) {
          width: 250px;
        }

        @include respond-to(600) {
          width: 120px;
        }

      }
    }

  } //.progressLower

  .table--cell {

    .points {
      display: inline-block;
      vertical-align: middle;
    }

    .points-circle {
      margin: 0 20px;
    }

    .points-available {
      opacity: 0.6;
    }

  }

  // adhoc for test cell style
  .cell--test--score {
    width: 30%;
  }

  .academicsProgressContainer {
    .expanded, .editing {
      width: 30%;
    }

    .group--title {
      color: white(0.5);
    }

    .table--cell {
      .see-more {
        opacity: 0;
        @include transition(0.3);
      }
      &:hover {
        .see-more { opacity: 1; }
      }
    }
    .advanced {
      width: 2%;
    }
    .expanded-class-info {
      @include respond-to(1200) {
        padding-bottom: 20px;
      }

      .delete-button {
        margin-bottom: 0px;
      }

    }
    #edit--grades{
      width: 60%;
    }

    #cell--grades {
      width: 15%;
    }

    #cell--form {
      width: 20%;
    }
    .advanced--toggle {
      padding-top: 30px;
    }

  }

  .serviceProgressContainer {
    .service-org-header {
      padding: 20px;
    }
    .ta-editor {
      min-height: 100px;
      height: 150px;
    }
    .service-hours--meta {
      width: 25%;
      float: left;
      padding: 0 10px;
    }
    .service-hours--description {
      width: 75%;
      float: left;
      text-align: left;
      padding: 0 30px 0 10px;

    }

    .cell--service-hours {
      .small-edit-button {
        display: none;
      }
      &:hover {
        .small-edit-button {
          display: block;
        }
      }
    }

    .log--details {
      width: 70%;
      float: left;
    }

    .log--hours {
      width: 30%;
      float: left;

      h5 {
        margin: 0;
        padding-top: 25px;
      }
    }

    .cell--hours {
      width: 30%;

      h5 {
        margin: 0;
      }
    }

    #service--pane { width: 65%; }
  }


  .extracurricularProgressContainer {
    .ta-editor {
      min-height: 100px;
      height: 150px;
    }
    .extracurricular-activities {
      //EC Widget

      .widget--content--table {
        .table--cell {
          .cell--padding {
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }

    }
  }

  .testingProgressContainer {
    .test-taken-header {
      padding: 20px;
    }
  }

  /* Editing */

  .input-group {
    width: 90%;
    max-width: 800px;
    margin: 0 auto 15px auto;
    text-align: left;
    .full-width {
      width: 100%;
    }

  }

  .datepicker-label {
    margin-bottom: -10px;
  }

  .half-width {
    width: 44%;
    max-width: 380px;
    padding: 0 3%;
    display: inline-block;
  }
  .salvattore-item {
    border: 1px solid red;
    padding: 40px;
  }

  @include respond-to-min(1200) {
    #grid[data-columns]::before {
  	content: '3 .column.size-1of3';
    }
  }
  @include respond-to(1200) {
    #grid[data-columns]::before {
    content: '2 .column.size-1of2';
    }
  }
  @include respond-to(900) {
    #grid[data-columns]::before {
    content: '1 .column.size-1of1';
    }
  }
  /* These are the classes that are going to be applied: */
  .column { float: left; }
  .size-1of1 { width: 100%; }
  .size-1of2 { width: 50%; }
  .size-1of3 { width: 33.333%; }

}

@each $category, $bgurl in $bgcolormap {
  .color--bg-#{$category} {
    background: image-url($bgurl) no-repeat center center fixed;
    @include bgcover();
    @include transition(0.3); // Temporary. Theres a better way to ng-animate this.
  }
}
