/* ========================= */
/*           Colors          */
/* ========================= */

$colormap: (academics: $academics-color, service: $service-color, testing: $testing-color, extracurricular: $extracurricular-color, college_prep: $college_prep-color);
$darkcolormap: (academics: $academics-color-dark, service: $service-color-dark, testing: $testing-color-dark, extracurricular: $extracurricular-color-dark, college_prep: $college_prep-color-dark);

$progressLeft-width: 320px;

.col {
  overflow: hidden;
  position: absolute;
  top: 90px;
  bottom: 0;
}

.progressLeft {

  position: absolute;
  left: 0;
  right: 0;
  width: $progressLeft-width;
  overflow-y: auto;
  background: $grey;
  color: white;
  padding: $wrapper;
  text-align: center;

  .section {

  	margin-bottom: 40px;

    .sectionHeader {

      @include font-size(1.6);
    	text-align: center;
    	color: $light-grey;
    	padding: 8px 0;
  		border-bottom: 1px white(0.1) solid;
  		margin-bottom: 10px;

    }

    ul {

    	list-style: none;

    	li {

    		padding: 10px 6px;

    		&:hover {

    			background: $darkgrey;

    		}

    	}

    }


  }

  .progressStudent {

  	margin: 60px 0;

  }
  
  select {
  
  	height: 32px;
  	width: 100%;
  	padding: 5px;
  	background: $grey;
		border: 1px white(0.1) solid;
  
  }

}

.progressRight{

  left: 320px;
  right: 0;
  overflow-y: auto;
  background: $darkgrey;

  .circles {

    margin-top: 60px;
    padding: $panelwrapper;
    color: white();

    .module-circle {
      display: inline-block;
      margin-right: 40px;
      margin-bottom: 60px;
      text-align: center;
      opacity: 0.3;

      &.inactive {
        //display: none;
      }

      &:last-of-type {

        	margin-right: 0;

        }

    }
    
    .selectedCircle {
    
    	opacity: 1;
    
    }
          
  }

  .module-circle {
  
      @each $category, $color in $colormap {

      &.color--#{$category} { color: $color; }

    }

  }

  .module-data-container {

    color: white;

    @each $category, $color in $colormap {

      &.color--#{$category} {
        background-color: map-get($colormap, $category);
      }

    }

    .module-data-content-container {
      @each $category, $color in $colormap {
        &.color--#{$category} {
          background-color: $color;
        }

      } //@each $catagory, $color in $colormap
      
      .module-title {
      
      	padding: $panelwrapper;
      	padding-top: 30px;
      	padding-bottom: 30px;
      	      
      }
      
      .section-wrapper {
      
        width: 90%;
            
	      .section {

      	  background: $academics-color-dark;
      	  padding-bottom: 30px;
      	  margin-bottom: 30px;
        
        	.section--header {
        	
  	    	  padding-top: 30px;
        	  padding-bottom: 30px;
        	      	
        	}
        
        }
      
      } // .section-wrapper
            
    } //.module-data-content-container
    
  } // .module-data-container
  
}

.semester-changer {

  .semester-changer__next, .semester-changer__prev {
    cursor: pointer;
  }
}