.roadmapContainer {
  border-top: 1px solid;

  padding: 0 40px 40px 40px;

  .roadmapContainer__title-container {
    text-align: center;
  }

  .roadmapContainer__title {
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 1px solid transparent;
  }

  .roadmapContainer__title--editable {
    @extend .roadmapContainer__title;

    cursor: pointer;

    &:hover { border-bottom: 1px solid; }
  }
}

.tuContainer {
  max-width: 1000px; // Fits 4 time units in a row
  margin: auto;
}

.tu {

  width: 240px;

  display: inline-block;
  vertical-align: top;

  padding: 5px;
  margin: 5px;

  border: 1px solid #e0e0e0;
  background-color: #e9e9e9;
  @include border-radius(5px);

  .tu__header {

    font-size: 14px;
    padding: 10px;

  }

  .tu__header-title {
    font-weight: bold;
  }

  .tu__header-title--editable {
    @extend .tu__header-title;

    cursor: pointer;

    &:hover { border-bottom: 1px solid; }
  }

  .tu__milestones-container {

    min-height: 100px;
    padding: 10px;

    max-height: 300px;
    overflow: auto;
  }

  .tu__milestone {
    background-color: white;
    padding: 5px 10px;
    @include border-radius(5px);
    margin-bottom: 10px;

    border-top: 5px solid;
    border-bottom: 1px solid #9e9e9e;

    .footer {
      text-align: right;
    }

    &.color--academics { border-top-color: $academics-color; }
    &.color--service { border-top-color: $service-color; }
  }

  .tu__milestone--editable {
    @extend .tu__milestone;

    cursor: pointer;
  }

  .tu__footer {

    padding: 10px;

    a {

      color: $grey; text-decoration: none;

      &:hover { color: $ink; }

    }

  }

} // .tu

.milestone
{
  input.milestone-title {
    width: 250px;
  }
}

.year
{
  width: 550px;
  margin: auto;
}

.year__header
{
  padding: 10px 10px 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: $blue;
  color: white;
  border-radius: 5px 5px 0 0;
}

.milestone-title {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;

  img {
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 10px;
  }
}

.year__semester {

  .semester__header-title {
    padding: 10px;
    background-color: #f0f0f0;
    color: $ink;
    text-align: center;
    font-size: 22px;
    border: 1px solid $light-grey;
    border-top: none;
  }

  .semester__header-title--editable {
    @extend .semester__header-title;

    .name { cursor: pointer; }
    .name:hover { border-bottom: 1px solid; }
  }

  .semester__header-title--editing {
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid $light-grey;
    border-top: none;
  }

  .milestone {
    padding: 7px 26px;
    border: 1px solid $light-grey;
    width: 100%;
    border-top: none;
    display: inline-block;
    text-align: justify;

    .milestone__title {
      @extend .milestone-title;
      width: 50%;
    }

    .milestone__info {
      width: 49%;
      display: inline-block;
      text-align: right;
      vertical-align: middle;
      color: $grey;
      font-size: 12px;
      font-weight: 500;

      .milestone__info__value {
        width: 100%;
        display: inline-block;
      }

      .milestone__info__weight {
        width: 100%;
        display: inline-block;
        color: $light-grey;
      }

      .milestone__info__icons {
        width: 100%;
        display: inline-block;
        color: $grey;

        .glyphicon {
          cursor: pointer;
          margin-left: 5px;

          &:hover {color: $red;}
        }
      }
    }
  }

  .semester__footer {
    padding: 10px 10px 10px 20px;
    border: 1px solid $light-grey;
    border-top: none;
    cursor: pointer;
    color: $light-grey;

    &:hover {
      background-color: #e0fee0;
      color: $ink;
    }

    .semester__footer__title {
      width: 100%;
      display: inline-block;
      text-align: center;

      .glyphicon-plus-sign {

        font-size: 28px;
        padding-right: 10px;
        display: inline-block;
        vertical-align: middle;
      }

      .text {
        display: inline-block;
        vertical-align: middle;
        padding-right: 38px;
      }
    }
  }
}

.roadmap-spacer-circle {
  width: 50px;
  height: 50px;
  background-color: $grey;
  border-radius: 25px;
  margin: auto;
}

.roadmap-spacer-line {
  height: 60px;
  width: 10px;
  background-color: $grey;
  margin: auto;
}

.roadmap-spacer-line--aftercircle
{
  margin-top: -2px;
}

.selectable_modules
{
  width: 100%;
  height: 100%;
  display: inline-block;

  .selectable_module_group
  {
    width: 40%;
    text-align: left;
    display: inline-block;
    .selectable_module__title
    {
      @extend .milestone-title;
      margin-right: 10px;
      margin-bottom: 15px;
      padding: 10px;
      padding-right: 16px;
      border: 1px solid $light-grey;
      background-color: white;
      img {
        margin-left: 0px;
      }

      &:hover {
        border: 1px solid $ink;
      }

      &.selected {
        border: 5px solid $ink;
        padding: 6px;
        padding-right: 16px;
      }
    }
  }
}

.milestone_advanced
{
  padding-left: 5px;

  .milestone_advanced__toggle
  {
      font-size: 12px;
  }

  .milestone_advanced__hidden
  {
    padding-top: 5px;
    padding-left: 20px;
  }
}

.edit-milestone__title
{
  @extend .milestone-title;
}
