.roadmapContainer {
  background-color: $bg-grey;
  border-top: 1px solid;

  padding: 0 40px;

  .roadmapContainer__title {
    color: white;
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 1px solid transparent;
  }

  .roadmapContainer__title--editable {
    @extend .roadmapContainer__title;

    cursor: pointer;

    &:hover { border-bottom: 1px solid; }
  }
}

.tuContainer {
  max-width: 1000px; // Fits 4 time units in a row
  margin: auto;
}

.tu {

  width: 240px;

  display: inline-block;
  vertical-align: top;

  margin: 5px;

  border: 1px solid #e0e0e0;
  background-color: #e9e9e9;
  @include border-radius(5px);

  .tu__header {

    font-size: 14px;
    padding: 10px;

  }

  .tu__header-title {
    font-weight: bold;
  }

  .tu__header-title--editable {
    @extend .tu__header-title;

    cursor: pointer;

    &:hover { border-bottom: 1px solid; }
  }

  .tu__milestones-container {

    min-height: 100px;
    padding: 10px;

    max-height: 300px;
    overflow: auto;
  }

  .tu__milestone {
    background-color: white;
    padding: 5px 10px;
    @include border-radius(5px);
    margin-bottom: 10px;

    border-top: 5px solid;
    border-bottom: 1px solid #9e9e9e;

    .footer {
      text-align: right;
    }

    &.js-tu__milestone--academics { border-top-color: $academics-color; }
    &.js-tu__milestone--service { border-top-color: $service-color; }
  }

  .tu__milestone--editable {
    @extend .tu__milestone;

    cursor: pointer;
  }

  .tu__footer {

    padding: 10px;

    a {

      color: $grey; text-decoration: none;

      &:hover { color: $ink; }

    }

  }

} // .tu

.milestone
{
  input.milestone-title {
    width: 250px;
  }
}