.setupContainer {

  .orgsetup-header {
    width: 100%;
    background: $grey;
    text-align: center;
    padding: 60px $wrapper-width;
    margin: 0;
  }

  .orgsetup-content {
    text-align: center;
    padding: 40px $wrapper-width;

    .orgsetup-nav {
      width: 20%;
      margin-right: 2%;
      float: left;

      .selected {
        background: white(0.1);
      }

      .selected-year {
        background: white(0.05);
        .selected-semester {
          background: white(0.1);
        }
      }

    }

    .orgsetup-pane {
      width: 78%;
      float: left;

      .year-name {
        margin-right: 6px;
      }

      .input-forms {
        width: 100%;
        max-width: 800px;
        text-align: left;
        margin: 0 auto;
        margin-bottom: 10px;
      }

    }

  }

  .orgsetup-expectations {

    .expectation--editing {
      padding: 20px;
      text-align: left;
    }

  }

  .orgsetup-tests {

    .tests-title {
      width: 80%;
      padding: 20px;
    }

    .tests-type {
      width: 20%;
      padding: 20px;
    }

    .tests--editing {
      padding: 20px;
      text-align: left;
    }

  }

  .orgsetup-roadmap {

    .milestone-description {
      padding: 25px;
      text-align: left;

      @include font-size(1.8);
    }

    .milestone-points {
      width: 5%;
      padding: 20px;
    }

    .milestone-label {
      width: 20%;
      padding: 20px;

      @each $category, $color in $colormap {
        &.color--#{$category} {
          color: $color;
        }
      }
    }

  }

}
