.setupContainer {

  .orgsetup-header {
    width: 100%;
    background: $grey;
    text-align: center;
    padding: 60px $wrapper-width;
    margin: 0;
  }

  .orgsetup-content {
    text-align: center;
    padding: 40px $wrapper-width;

    .orgsetup-nav {
      width: 20%;
      margin-right: 2%;
      float: left;

      @include respond-to(1080) {
        float: none;
        width: 100%;
        margin-right: 0;
      }

      .selected {
        background: white(0.1);
      }

      .selected-year {
        background: white(0.05);
        .selected-semester {
          background: white(0.1);
        }
      }

      .orgsetup-nav-widget {
        display: inherit;

        @include respond-to(1080) {
          display: none;
        }

        .widget--header {
          padding: 15px 25px;
        }
      }

      .orgsetup-nav-dropdown {
        display: none;

        @include respond-to(1080) {
          display: inherit;
        }
      }

    }

    .orgsetup-pane {
      width: 78%;
      float: left;

      @include respond-to(1080) {
        float: none;
        width: 100%;
      }

      .year-name {
        margin-right: 6px;
      }

      .input-forms {
        width: 100%;
        max-width: 800px;
        text-align: left;
        margin: 0 auto;
        margin-bottom: 10px;
      }

    }

  }

  .orgsetup-expectations {

    .expectation--editing {
      padding: 20px;
      text-align: left;
    }

  }

  .orgsetup-tests {

    .tests-title {
      padding: 20px;
    }

    .tests-type {
      width: 20%;
      padding: 20px;
    }

    .tests--editing {
      padding: 20px;
      text-align: left;
    }

  }

  .orgsetup-roadmap {

    .milestone-description {
      padding: 25px;
      text-align: left;

      @include respond-to(768) {
        padding: 15px;
      }
    }

    .milestone-points {
      width: 5%;
      padding: 20px;

      @include respond-to(768) {
        padding: 10px;
      }
    }

    .milestone-label {
      width: 20%;
      padding: 20px;

      @each $category, $color in $colormap {
        &.color--#{$category} {
          color: $color;
        }
      }

      @include respond-to(768) {
        padding: 10px;
      }
    }

  }

  .btns {
    padding: 10px;
    width: 10%;
  }

}


// ########################
// #######  MODAL #########
// ########################
.milestone_modules {
  border-bottom: 2px solid;
  text-align: center;
  @each $category, $color in $darkcolormap {
    &.color--#{$category} {
      border-bottom-color: $color;
    }
  }

  .milestone_module {
    @extend .bold;

    margin-left: 20px;
    &:first-of-type { margin-left: 0px; }

    cursor:pointer;

    &:hover {text-decoration: underline;}

    padding: 10px 5px;
    display: inline-block;

    @each $category, $color in $darkcolormap {
      &.color--#{$category} {
        &.selected { color: $color; }
      }
    }
  }
}

.milestone_submodule {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid $grey;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;

  @include transition(0.3);

  .milestone_submodule__title {
    @each $category, $color in $darkcolormap {
      &.color--#{$category} {
        color: $color;
      }
    }
  }

  &:hover {
    background: white(0.05)
  }

  &.selected { background: white(0.05) }
}

.milestone_edit {
  .milestone_submodule {
    width: 100%;
  }
}

.milestone_submodule__form {
  padding: 10px;
}
