.login-container {

  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -220px;

  @include respond-to-with-height(640) { margin-top: -180px; }
  @include respond-to-with-height(300) { margin-top: -100px; }
  @include respond-to-with-height(200) { margin-top: -50px; }

  .login-form {

    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 20px;

    .logo {

      width: 60%;
      max-width: 250px;
      margin: 0 auto;
      margin-bottom: 40px;

      img {

        width: 100%;
        height: auto;

      }

    }

    .form-field {

      font-size: 14px;
      background: #ebebeb;
      margin-bottom: 15px;
      width: 90%;
      max-width: 250px;
      @include border-radius(10px);

      &:focus {
        background: #ffffff;
      }

    }

    .button {

      @include body-font(14px);
      padding:5px 40px;
      background:#ccc;
      border:0 none;
      cursor:pointer;
      @include border-radius(10px);

      &:hover { background: #ffffff; }
    }

  }

  .login-links {
    width: 100%;
    padding-bottom: 20px;
    color: #909090;
    @include body-font(12px);

    a {

      color: #666666;

      &:hover {

        color: white;

      }

    }
  }

  .blog-link {
    color: white;

    a {
      color: $blue;
    }
  }

}


/***** MARKETING PAGE *****/

.marketing-header {
  color: white;
  padding: 30px 30px 0;

  li {
    cursor: pointer;
    font-size: 14px;

    a {
      color: white;
      text-decoration: none;
      padding: 5px;

      &:hover {
        border-bottom: 1px solid;
      }
    }
  }
}

.tool {

	color: white;

	.section-title {

		text-align: center;
		margin-bottom: 80px;

	}

	.topper {

		margin-bottom: 100px;

    .imua-tagline {

      padding: 60px 60px;

    }


	} //topper

	.track-progress {

    background-color: white;
    color: $ink;

		padding: 100px 30px;
		@include respond-to(640) { padding: 50px 0; }

		border-top: 1px solid #555;

		.scholar-chart {

			width: 40%;
			float: left;
			@include respond-to(640) {
				float: none;
				margin: auto;
			}

			img {

				width: 100%;
				height: auto;
				max-width: 700px;

			}

		}

		.text {

			width: 60%;
			float: left;
			@include respond-to(640) {
				float: none;
				margin: auto;
				text-align: center;
				width: 80%;
			}

			.inner {

				padding: 100px 40px;
        text-align: left;

				@include respond-to(1280) { padding: 0 60px; }
				@include respond-to(640) { padding: 20px 0 0 0; }

        p { color: #a6a6a6; }
			}

		}

	} //progress

	.communication {

    background-color: #272727;

		padding: 100px 0;
		@include respond-to(640) { padding: 50px 0; }

		border-top: 1px solid #555;
		border-bottom: 1px solid #555;

		.phones {

			width: 50%;
			float: left;
			@include respond-to(640) {
				float: none;
				margin: auto;
			}

			img {

				width: 100%;
				height: auto;
				max-width: 700px;

			}

		}

		.text {

			width: 50%;
			float: left;
			@include respond-to(640) {
				float: none;
				margin: auto;
				text-align: center;
				width: 80%
			}

			.inner {

        text-align: left;
				padding: 100px 0px 100px 100px;
				@include respond-to(1280) { padding: 0 0 60px 60px; }
				@include respond-to(640) { padding: 0 0 10px 0; }

        p { color: #a6a6a6; }
			}

		}

	} //progress

	.display {

		text-align: center;

	}

  .footer {
    padding: 100px 50px;

    background-color: #272727;
    color: white;

    .logos {

      padding: 50px 10px;

      .logo {
        display: inline-block;
        vertical-align: middle;
        margin-left: 50px;

        img {
          cursor: pointer;

          height: 200px;
          opacity: .3;

          &:hover {opacity: 1;}
        }

      }

    }
  }

}
