.login-container {

  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -220px;

  @include respond-to-with-height(640) { margin-top: -180px; }
  @include respond-to-with-height(300) { margin-top: -100px; }
  @include respond-to-with-height(200) { margin-top: -50px; }

  .login-form {

    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 20px;

    .logo {

      width: 60%;
      max-width: 250px;
      margin: 0 auto;
      margin-bottom: 40px;

      img {

        width: 100%;
        height: auto;

      }

    }

    .form-field {

      font-size: 14px;
      background: #ebebeb;
      margin-bottom: 15px;
      width: 90%;
      max-width: 250px;
      @include border-radius(10px);

      &:focus {
        background: #ffffff;
      }

    }

    .button {

      @include body-font(14px);
      padding:5px 40px;
      background:#ccc;
      border:0 none;
      cursor:pointer;
      @include border-radius(10px);

      &:hover { background: #ffffff; }
    }

  }

  .login-links {
    width: 100%;
    padding-bottom: 20px;
    color: #909090;
    @include body-font(12px);

    a {

      color: #666666;

      &:hover {

        color: white;

      }

    }
  }

  .blog-link {
    color: white;

    a {
      color: $blue;
    }
  }

}


/***** MARKETING PAGE *****/

.marketing-header {

	color: white;

  a {
  
  	color: white;
  
  }
  
  .wrapper {
  
  	margin: $wrapper;
  
  }
  
  .login-link {
  
  	float: right;
  	@include font-size(1.6);
  	margin-top: 20px;
  
  }
  
  .topper {
  
  	
		max-width: 1200px;
		min-width: 600px;
		margin: 0 auto;
  	padding: 100px 0;
  	
  	.imua-logo {
  	
  	  width: 25%;
  	  float: left;
      margin-left: 5%; //Illusion to feel more centered
  	
  		img {
  		
  			width: 100%;
  			height: auto;
  		
  		}
  	
  	}
  	
  	.text {
  	
  	  width: 70%;
  	  float: left;
  	  text-align: left;
  	  padding: 50px 0px 0px 50px;
  	  
      .subhead {
      
      	color: $light-grey;
      
      }
  	
  	}
  
  }

}

.marketing-lower {
	
	.expectations {
	
		background: white;
		color: $ink;
		width: 100%;
		padding: $wrapper;
	
	}
	
	.progress-tracking {
	
		background: $grey;
		color: white;
		width: 100%;
		padding: $wrapper;
	
	}
	
	.communication {
	
		background: white;
		color: $ink;
		width: 100%;
		padding: $wrapper;
	
	}
	
	.organizations {
	
		color: white;
		width: 100%;
		padding: $wrapper;
	
	}

}