.studentsContainer {

  background: $darkgrey;
  color: white;

  .students-header {
    width: 100%;
    background: $grey;
    padding: 20px 120px;

    .student-stats {
      margin: 0;

      li {
        display: inline-block;
        padding: 20px 0;
        margin-right: 100px;

        @include respond-to(1600) { margin-right: 80px; }
        @include respond-to(1400) { vertical-align: middle; }
        @include respond-to(1200) { margin-right: 40px; }
        @include respond-to(900) {
          display: block;
          width: 100%;
          padding: 0;
          text-align: center;
        }

        &:last-of-type {
          margin-right: 0;
        }

        .stat-wrapper {
          margin: 0 auto;
          .count, .descript {
            display: inline-block;
            @include respond-to(1400) {
              display: block;
              text-align: center;
            }
            @include respond-to(900) {
              display: inline-block;
              text-align: left;
            }
          }

          .count {
            margin-right: 15px;
            @include respond-to(1400) { margin-right: 0; }
            @include respond-to(900) { margin-right: 8px; }
          }

          .descript {
            padding-top: 17px;
            color: $lightgrey;
            @include respond-to(1400) { padding-top: 0; }
            @include respond-to(900) { padding-top: 12px; }
          }
        }

        .temp-clickable {
          &:hover {
            cursor: pointer;

            .descript {
              text-decoration: underline;
            }

          }
        }

      }
    }
  }

  .single-student-selectbar {
    width: 100%;
    background: white;
    border: 1px solid $teal;
    padding: 20px 80px;
    color: $ink;

    .student-info {
      text-align: center;

      .student-info__picture {
        display: inline-block;
        vertical-align: middle;
        padding-right: 15px;

        @include respond-to(768) {
          display: inherit;
          padding-right: 0px;
          text-align: center;
        }
      }

      .student-info__text {
        display: inline-block;
        vertical-align: middle;

        @include respond-to(768) {
          display: inherit;
          text-align: center;
        }

        .name {
          @include font-size(2.4);
          padding-bottom: 10px;
        }

        .points {
          @include font-size(1.8);
          padding-bottom: 10px;
        }

        .login-info {
          @include font-size(1.2);
          padding-bottom: 5px;
        }
      }
    }
  }

  .students-selectbar {
    width: 100%;
    background: white;
    border: 1px solid $teal;
    padding: 20px 120px;
    @include respond-to(768) {padding: 20px;}
    @include respond-to(992) {padding: 20px 40px;}

    color: $ink;

    .select-header {

      .text { @include font-size(1.6); }

      .link { color: $blue; text-decoration: underline; }

    }

    .student-token {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;

      .student-name {
        display:inline-block;
      }

      .token-remove {
        display: inline-block;
        vertical-align: text-top;
        color: red;
        margin-left: 5px;
      }
    }
  }

  .actions {
    text-align: center;
    padding-top: 20px;

    .btn-action {
      background-color: darkgrey(0.7);
      color: white;
    }
  }

  .clear-selection {
    color: $lightgrey;
    position: absolute;
    top: 20px;
    right: 20px;
    @include font-size(1.8);
    cursor: pointer;
  }

  .students-mid, .students-lower {
    padding: 40px $wrapper-width 0 $wrapper-width;

    .search-label {
      display: inline-block;
    }
    .student-search {
      color: #000000;
      width: 30%;
      display: inline-block;
    }
    .list-container {
      margin: 15px 0 5px;
      @include respond-to(900) { text-align: center; }
    }
    .is-selected {
      background-color: white;
      border: 1px solid $teal;
      padding: 10px 0;
      border-radius: 10px;
    }
  }

}
