.assignmentsContainer {

  .assignments-header {
    width: 100%;
    background: $grey;
    text-align: center;
    padding: 20px;
    margin: 0;

    @include respond-to(900) {
      padding: 20px 70px;
    }

    .greeting {
      display: inline-block;
      vertical-align: middle;
    }

    .task-button-container {
      display: inline-block;
      vertical-align: middle;
      padding: 0 60px;
    }
  }

  .assignments-content {
    text-align: center;
    padding: 40px $wrapper-width;
    @include respond-to(1320) {
      padding: 40px $small-wrapper-width;
    }

    .assignments-nav {
      width: 20%;
      margin-right: 2%;
      float: left;

      @include respond-to(900) {
        width: 100%;
        float: none;
      }

      .selected {
        background: white(0.1);
      }

      .selected-year {
        background: white(0.05);
        .selected-semester {
          background: white(0.1);
        }
      }

    }

    .assignments-pane {
      width: 78%;
      float: left;

      @include respond-to(900) {
        width: 100%;
        float: none;
      }

      .year-name {
        margin-right: 6px;
      }

      .input-forms {
        width: 100%;
        max-width: 800px;
        text-align: left;
        margin: 0 auto;
        margin-bottom: 10px;
      }

    }

  }

}


.tasksListContainer {

  padding: 40px 0;

  .subtext {
    color: $lightgrey;
    @include font-size(1.2);
  }

  .tasks--list--container {
    margin-bottom: 40px;
  }

  .tasks--list--topper {
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  .tasks--list {

    width: 100%;
    margin: 0 auto;

    .tasks--list--item {

      width: 100%;
      padding: 20px 0;
      border: 1px solid $darkborder;
      background: $grey;

      &:hover {
        background: $boxgrey;
      }

      .label {
        margin-right: 10px;
      }

      .tasks--list--item--left, .tasks--list--item--middle, .tasks--list--item--right { padding: 0 40px;}

      .tasks--list--item--left {
        width: 50%;
        float: left;
      }

      .tasks--list--item--middle, .tasks--list--item--right {
        width: 25%;
        float: left;
        text-align: center;
      }

      .tasks--list--item--expanded {

        padding: 0 40px;
        text-align: center;

        .expanded--complete, .expanded--not-complete {
          width: 50%;
          padding: 20px;
          float: left;
          text-align: center;

          .complete-title {
            margin-bottom: 10px;
          }

        }

        .expanded--solo {
          width: 50%;
          margin: 0 auto;
          padding: 20px;
          text-align: center;

          .complete-title {
            margin-bottom: 10px;
          }

        }

        .edit-buttons { margin-top: 10px; }

      }

    }

  }

  .completed-tasks {
    color: $lightgrey;
  }

}

.taskContainer {

  .task-header {
    width: 100%;
    padding: 20px 0;
    background: $grey;

    .back-link {
      float: left;
    }

    .edit-buttons-top {
      float: right;
    }

  }

  .task-content {
    margin-bottom: 40px;
  }

  .assignment--left {
    width: 80%;
    float: left;
    padding: 20px 40px 40px 0;

    .ta-editor {
      min-height: 100px;
      height: 150px;
    }

    .subnav-button {
      margin-top: 5px;
      opacity: 0.3;
      &.selected {
        opacity: 1;
      }
      &:hover { opacity: 1; }
    }

    .assigning-buttons {

      .hidden-button {
        display: none;
      }

      &:hover {
        .showing-button {
          display: none;
        }
        .hidden-button {
          display: inline-block;
        }
      }

    }

    .not-assigned {
      opacity: 0.4;

      &:hover {
        opacity: 1;

        .assigning-buttons {
          .showing-button {
            display: none;
          }
          .hidden-button {
            display: inline-block;
          }
        }

      }

    }

    .complete-buttons {
      text-align: center;
      margin-top: 10px;
    }

  }

  .assignment--right {
    width: 20%;
    float: left;
    padding-top: 20px;

    li {
      margin-bottom: 40px;
    }

    .column-title {
      border-bottom: 1px solid;
    }
  }

}

.task-item
{
  .task-item__check-box {
    float: left;
    padding: 10px 0 10px 10px;
  }

  .task-item__title {
    text-align: left;
    padding: 0px 30px 10px;
  }

  .task-item__completed {
    padding: 0 10px 10px 10px;
    width: 20%;
  }

  .task-item__date {
    padding: 10px;
    width: 20%;
  }

  .task-item__date--pastdue {
    color: $red;
  }

  .title__main {
    @extend h6;
    margin-bottom: 5px;
  }

  .title__info {
    @include font-size(1.0);
    color: white(0.3);
  }

}

.task-item--incomplete
{
  background-color: $grey;

  .task-item__date { opacity: 0.6; }
  .task-item__date--pastdue { opacity: 1 }

  &:hover {
    .task-item__date { opacity: 1 }
  }
}

.task-item--completed
{
  opacity: 0.2;

  &:hover {opacity: 1;}
}
