.orgTestContainer {
  @extend .organizationExpectationContainer;
  width: 500px;

  .orgTests-list {
    @extend .expectations-list;

    .orgTests-list__item {
      @extend .expectations-list__item;

      .orgTests-list__item__title {
        @extend .expectations-list__item__title;
        border-right: 0px;
      }

      .orgTests-list__item__score_type {
        display: inline-block;
        vertical-align: middle;
        border-right: 1px solid $light-grey;

        width: 145px;
        font-size: 12px;
      }

      .orgTests-list__item__icons {
        @extend .expectations-list__item__icons;
      }
    }

    .add-orgTest__button {
      @extend .add-expectation__button;
    }
  }
}
