.orgTestContainer {
  width: 500px;

  .orgTests-list {

    .orgTests-list__item {

      .orgTests-list__item__title {
        border-right: 0px;
      }

      .orgTests-list__item__score_type {
        display: inline-block;
        vertical-align: middle;
        border-right: 1px solid $lightgrey;

        width: 145px;
        font-size: 12px;
      }

      .orgTests-list__item__icons {
      }
    }

    .add-orgTest__button {
    }
  }
}


.module-data__item {

  .module-data__item__userTest__title {
    display: inline-block;
    width: 150px;
    margin-right: 15px;
  }

  .module-data__item__userTest__date {
    display: inline-block;
    margin-right: 15px;
  }

  .module-data__item__userTest__score {
    display: inline-block;
    margin-right: 15px;
    width: 75px;

    .form-field {
      width: 100%;
    }
  }

  .module-data__item__icons {
    display: inline-block;
  }
}
