.widget {

  margin-bottom: 10px;
  width: 100%;

  .widget--header {
    background: $grey;
    padding: 15px 0;
    margin: 0;
    border-bottom: 2px solid $darkgrey;


    .widget--header--title {
      width: 60%;
      float: left;
    }

    .widget--header--left, .widget--header--right {
      width: 20%;
      float: left;
    }

    .widget--header--left {
      text-align: left;
      padding-left: 2%;
    }

    .widget--header--right {
      text-align: right;
      padding-right: 2%;
    }

    .widget--header--noleft {
      margin-left: 20%;
    }

  }

  .widget--content {

    background: $grey;
    padding: 20px 0;

    .points {
      display: inline-block;
      vertical-align: middle;
    }

    .points-circle {
      margin: 0 20px;
    }

    .points-available {
      opacity: 0.6;
    }

  }

  .widget--content--table {
    display: table;
    width: 100%;

    .widget--content--cell {
      display: table-cell;
      border-left: 2px solid $darkgrey;
      background: $grey;

      @include transition(0.3);

      &:first-child {
        border-left: 0;
      }

      .cell--inner {
        height: 100%;
        padding: 20px 0;

        .widget--buttons {
          padding: 20px 5px;
        }

        .border-bottom {
          border-bottom: 2px solid $darkgrey;
        }

        .border-top {
          border-top: 2px solid $darkgrey;
        }

      }

      .no-bottom {
        padding-bottom: 0;
      }

      &:hover {
        background: $boxgrey;
      }

    }

    @mixin breaker() {
      display: block;
      width: 100%;
      border-left: 0;
      border-bottom: 2px solid $darkgrey;
    }

    .break900 {
      @include respond-to(900) {
        @include breaker();
      }
    }

    .break1200 {
      @include respond-to(1200) {
        @include breaker();
      }
    }

    .breakalways {
      @include breaker();
    }

    .widget--content--row {
      display: table-row;
    }

  }

  @each $category, $color in $darkcolormap {
    &.color--#{$category} {
      .widget--content--cell { background: $color; }
    }
  }

  @each $category, $color in $colormap {
    &.color--#{$category} {
      .widget--header { background: $color; }
      .widget--content--cell {
        &:hover {
          background: $color;
          .widget--content--cell {
            background: $color; // Makes sure subcells change color with parent cell
          }
        }
      }
    }
  }
}

/* Widget Groups */

.widget-group {
  width: 100%;

  .widget-group--table {
    display: table;
    width: 100%;

    .widget-group--cell {
      display: table-cell;
      border-left: 2px solid $darkgrey;
      &:first-child {
        border-left: 0;
      }
    }

  }

}

/* Global Widget Helpers */
.table--fixed {
  table-layout: fixed; /* For equal horizontal spacing */
}
