.widget {

  margin-bottom: 10px;

  .widget--header {
    background: $grey;
    padding: 15px 0;
    margin: 0;
    border-bottom: 3px solid $darkgrey;
  }

  .widget--content {

    background: $grey;
    padding: 20px 0;

    .points {
      display: inline-block;
      vertical-align: middle;
    }

    .points-circle {
      margin: 0 20px;
    }

    .points-available {
      opacity: 0.6;
    }

  }

  .widget--content--table {
    display: table;
    width: 100%;

    .widget--content--cell {
      display: table-cell;
      border-left: 3px solid $darkgrey;
      background: $grey;


      &:first-child {
        border-left: 0;
      }

      .cell--inner {
        height: 100%;
        padding: 20px 0;
      }

      @include respond-to(900) {
        display: table-row;
      }

      @each $category, $color in $bgcolormap {
        &.color--#{$category} {
          background: $color;
        }
      }

    }

  }

  .table--fixed {
    table-layout: fixed; /* For equal horizontal spacing */
  }

}
