<div class="milestone-task-list">

  <div class="task-list" ng-if="loaded_data && milestoneHasTasks()">
    <h6>What's needed to complete this task?</h6>
    <div class="task-item" ng-repeat="task in milestone.tasks">

    </div>

    <div class="task-content">
      <div class="form-wrapper">
        <label><h6>Task Name:</h6></label>
        <input class="form-control" ng-model="new_assignment.new_title" placeholder="Title">
        <label><h6>Due Date:</h6></label>
        <imua-datepicker date="new_assignment.new_due_datetime"></imua-datepicker>
      </div>

      <!-- <label><h5>Details:</h5></label>
      <text-angular name="taskDescription" ta-toolbar="[['bold','italics','underline'],['ol','ul','insertLink']]" ng-model="assignment.new_description" placeholder="Description"></text-angular> -->

      <div task-editor class="edit-buttons-top">
        <button class="btn btn-success" ng-click="saveAssignment(new_assignment)"><span class="glyphicon glyphicon-ok"></span> Add Task</button>
      </div>
    </div>
  </div>

</div>
