<span class="input-group">
  <input class="imua-form-editor form-control ng-pristine ng-valid" type="text" ng-model="date" placeholder="Date" datepicker-popup='MM/dd/yyyy' datepicker-append-to-body="true" is-open="opened" ng-required="true" show-button-bar="false" ng-click="opened=false" ng-if="append_to_body">
  <input class="imua-form-editor form-control ng-pristine ng-valid" type="text" ng-model="date" placeholder="Date" datepicker-popup='MM/dd/yyyy' datepicker-append-to-body="false" is-open="opened" ng-required="true" show-button-bar="false" ng-click="opened=false" ng-if="!append_to_body">
  <span class="input-group-btn">
    <button type="button" class="imua-datepicker-btn btn btn-default" ng-click="open($event)" tabindex="-1"><i class="glyphicon glyphicon-calendar"></i></button>
  </span>
</span>
