<div class="profileContainer">
  <div class="pbm">

    <div class="avatar-block">
      <img ng-src="{{user.square_avatar_url}}" alt="Avatar" class="avatar-block__img avatar-block__img--thumbnail" />

      <div class="ptl" ng-show="editingInfo">
        <input class="avatar-block__upload js-upload" ng-show="editingInfo" type="file" file-input="files" />
      </div>
    </div>

    <!-- UserInfo form -->
    <form class="form form--profile" ng-hide="editingPassword">

      <div class="pbs">
        <span ng-hide="editingInfo" class="form--profile__field-label">Email: </span>
        <span>{{user.email}}</span>
      </div>

      <div class="pbs">

        <div ng-hide="editingInfo">
          <span class="form--profile__field-label">First Name: </span>
          <span ng-class="{italic: !user.first_name}">{{user.first_name ? user.first_name : "Click update below to add" }}</span>
        </div>

        <input class="form-field" ng-show="editingInfo" ng-model="user.first_name" placeholder="First Name" autofocus="true">

      </div>

      <div class="pbs">

        <div ng-hide="editingInfo">
          <span class="form--profile__field-label">Last Name: </span>
          <span ng-class="{italic: !user.last_name}">{{user.last_name ? user.last_name : "Click update below to add"}}</span>
        </div>

        <input class="form-field" ng-show="editingInfo" ng-model="user.last_name" placeholder="Last Name">

      </div>

      <div class="pbs">

        <div ng-hide="editingInfo">
          <span class="form--profile__field-label">Phone Number: </span>
          <span ng-hide="editingInfo" ng-class="{italic: !user.phone}">{{user.phone ? user.phone : "Click update below to add"}}</span>
        </div>

        <input class="form-field" ng-show="editingInfo" ng-model="user.phone" placeholder="Phone Number">

      </div>

      <ul class="errorText ptm" ng-show="editingInfo && errors" >
        <li ng-repeat="error in errors">{{error}}</li>
      </ul>

      <div class="buttonGroup pvl" ng-show="editingInfo" >

        <button ng-click="updateUserInfo($event)" class="ladda-button submit" data-style="expand-right" data-size="s" data-color="blue"><span class="ladda-label">Save</span></button>

        <button class="cancel" ng-click="cancelUpdateUserInfo()"><span>Cancel</span></button>

      </div>

    </form>
    <!-- UserInfo form -->

    <!-- Password Form -->
    <form class="form form--profile" ng-show="editingPassword">
      <h4>Change Password</h4>

      <div class="pbs">
        <input type="password" class="form-field" ng-model="password.current" placeholder="Current Password" name="current" required>
      </div>

      <div class="pbs">
        <input type="password" class="form-field" ng-model="password.new" placeholder="New Password" name="new" required>
      </div>

      <div class="pbs">
        <input type="password" class="form-field" ng-model="password.confirm" placeholder="Confirm New Password" name="confirm" required>
      </div>

      <ul class="errorText ptm" ng-show="errors">
        <li ng-repeat="error in errors">{{error}}</li>
      </ul>

      <div class="buttonGroup pvl">
        <button ng-click="updateUserPassword($event)" class="ladda-button submit" data-style="expand-right" data-size="s" data-color="blue"><span class="ladda-label">Save</span></button>

        <button class="cancel" ng-click="cancelUpdatePassword()"><span>Cancel</span></button>
      </div>

    </form>
    <!-- Password Form -->

  </div>

  <div class="buttonGroup pvl" ng-hide="editing()" >

    <input value="Update Info" type="button" class="submit" ng-click="editUserInfo()">

    <input value="Change Password" type="button" class="submit" ng-click="editUserPassword()">

  </div>



</div>

<script>
  $(function() { $('input, textarea').placeholder();});
</script>
