<div class="roadmapContainer pbxl" ng-show="roadmap && !loading">
  <div class="tuContainer ptl">
    <h1 class="roadmapContainer__title pbm">{{roadmap.name}}</h1>
    <!-- <h4 class="plm">{{roadmap.description}}</h4> -->

    <div class="tu" ng-repeat="tu in roadmap.time_units | orderBy: 'id' ">

      <!-- TimeUnit Header -->
      <div class="tu__header">

        <span class="tu__header-title" ng-hide="tu.editing" ng-click="addTimeUnit(tu)">{{tu.name}}</span>

        <div ng-show="tu.editing">
          <form>
            <input class="form-field" ng-model="tu.name" placeholder="Time Unit Name">

            <div class="buttonGroup pvs">
              <button type="submit" class="submit" ng-click="saveAddTimeUnit(tu)"><span>Save</span></button>
              <button class="cancel" ng-click="cancelAddTimeUnit(tu)"><span>Cancel</span></button>
            </div>
          </form>
        </div>

      </div>
      <!-- TimeUnit Header -->

      <!-- TimeUnit Milestones -->
      <div class="tu__milestones-container" ng-hide="tu.editing">

        <div class="tu__milestone" ng-class="getMilestoneClass(milestone)" ng-click="viewMilestone(tu, milestone)" ng-repeat="milestone in tu.milestones | orderBy: '-importance'">
          <div class="title">{{milestone.title}}</div>
          <div class="footer">{{milestone.points * milestone.importance}}</div>
        </div>

      </div>
      <!-- TimeUnit Header -->

      <!-- TimeUnit Footer -->
      <div class="tu__footer">
        <div ng-hide="tu.editing"><a ng-click="addMilestone(tu)">Add Milestone</a></div>

        <div ng-show="tu.editing && tu.id"><a ng-click="deleteTimeUnit(tu)">Delete Time Unit</a></div>
      </div>
      <!-- TimeUnit Footer -->
    </div>

    <div class="tu" ng-hide="addingTimeUnit">
      <div class="tu__footer"><a ng-click="addTimeUnit()">Add Time Unit</a></div>
    </div>
  </div>

</div>

<div ng-show="!roadmap && !loading" class="paxl createRoadmap" style="max-width: 800px; margin: auto;">
  <h4>Let's create your orgnization's roadmap! The roadmap is where you enter the milestones which get your users to their goal. You can start creating your roadmap in 3 simple steps:</h4>

  <ol class="phxl pbxl" style="list-style: decimal; list-style-position: inside;">
    <li class="ptm">Create a rodmap below by giving it a name. For example, at Hoku Scholars, we call ours "College Readiness".</li>
    <li class="ptm">Add time units to your roadmap (you'll be adding milestones to these soon). At Hoku Scholars we have milestones every semester for our students, so we created 8 time units called Semester 1, Semester 2, etc. </li>
    <li class="ptm">Add milestones! These are the goals your users are trying to achieve.</li>
  </ol>

  <div style="text-align: center;">
    <h4> Ready? Enter your roadmap name below and click "Create" </h4>

    <input class="form-field" ng-model="roadmapName" placeholder="Roadmap Name">
    <button ng-click="createRoadmap(roadmapName, $event)" class="ladda-button submit mlm mtm" data-style="expand-right" data-size="s" data-color="blue"><span class="ladda-label">Create</span></button>

    <ul class="errorText ptm">
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>
  </div>
</div>

<script>
  $(function() {
    $('input, textarea').placeholder();

    setHeight();
    $(window).resize(function(event) {
      setHeight();
    });

    function setHeight() {
      var headerHeight = $('header').outerHeight();
      var windowHeight = $(window).outerHeight();
      var bodyHeight = windowHeight - headerHeight;

      $('.roadmapContainer').css('min-height', bodyHeight + 'px');
    }
  });
</script>

<script type="text/ng-template" id="addMilestoneModal.tmpl.html">
    <div class="modal-body">
        <select ng-model="selected.module" ng-options="mod.submoduleTitle group by mod.module for mod in dd_modules">
          <option value="">-- choose sub-module --</option>
        </select>

        <!-- QUESTION -->
        <div ng-show="selected.module" class="milestone ptl" ng-include-why-doesnt-this-work="'/assets/add_'+selected.module.submoduleType.toLowerCase()+'.html'">

          <div class="pbs">
            <input class="form-field milestone-title" ng-model="selected.module.milestone.title" placeholder="Milestone Title">
          </div>

          <div class="pbs">
            <input class="form-field" ng-model="selected.module.milestone.value" placeholder="GPA Value">
          </div>

          <div class="btn-group">
            <label class="btn btn-primary" ng-model="selected.module.milestone.importance" btn-radio="1">Less Important</label>
            <label class="btn btn-primary" ng-model="selected.module.milestone.importance" btn-radio="2">Important</label>
            <label class="btn btn-primary" ng-model="selected.module.milestone.importance" btn-radio="3">Extremely Important</label>
          </div>

          <ul class="errorText ptm">
            <li ng-repeat="error in errors">{{error}}</li>
          </ul>
        </div>

        <div class="buttonGroup pvs">
          <button type="submit" class="submit" ng-show="selected.module" ng-click="add()"><span>Add</span></button>
          <button class="cancel" ng-click="cancel()"><span>Cancel</span></button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="editMilestoneModal.tmpl.html">
    <div class="modal-body">
        <div class="milestone ptl">
          <div class="pbs">
            <input class="form-field milestone-title" ng-model="milestone.title" placeholder="Milestone Title">
          </div>

          <div class="pbs">
            <input class="form-field" ng-model="milestone.value" placeholder="Milestone Value">
          </div>

          <div class="btn-group">
            <label class="btn btn-primary" ng-model="milestone.importance" btn-radio="1">Less Important</label>
            <label class="btn btn-primary" ng-model="milestone.importance" btn-radio="2">Important</label>
            <label class="btn btn-primary" ng-model="milestone.importance" btn-radio="3">Extremely Important</label>
          </div>

          <ul class="errorText ptm">
            <li ng-repeat="error in errors">{{error}}</li>
          </ul>

          <div class="buttonGroup pvs">
            <button type="submit" class="submit" ng-click="save()"><span>Save</span></button>
            <button class="cancel" ng-click="cancel()"><span>Cancel</span></button>
            <a ng-click="delete()">Delete Milestone</a>
          </div>
        </div>
    </div>
</script>