<div class="roadmapContainer" ng-hide="!roadmap && loading">
  <h1>{{roadmap.name}}</h1>
  <h4 class="plm">{{roadmap.description}}</h4>

  <div class="tuContainer ptl">

    <div class="tu" ng-repeat="tu in roadmap.time_units | orderBy: 'id' ">

      <!-- TimeUnit Header -->
      <div class="tu-header">

        <span class="title" ng-hide="tu.editing" ng-click="addTimeUnit(tu)">{{tu.name}}</span>

        <div ng-show="tu.editing">
          <form>
            <input class="form-field" ng-model="tu.name" placeholder="Time Unit Name">

            <div class="buttonGroup pvs">
              <button type="submit" class="submit" ng-click="saveAddTimeUnit(tu)"><span>Save</span></button>
              <button class="cancel" ng-click="cancelAddTimeUnit(tu)"><span>Cancel</span></button>
            </div>
          </form>
        </div>

      </div>
      <!-- TimeUnit Header -->

      <!-- TimeUnit Milestones -->
      <div class="tu-milestones" ng-hide="tu.editing">

        <div class="tu-milestone" ng-click="viewMilestone(tu, milestone)" ng-repeat="milestone in tu.milestones | orderBy: '-importance'">
          <div class="title">{{milestone.title}}</div>
          <div class="footer"></div>
        </div>

      </div>
      <!-- TimeUnit Header -->

      <!-- TimeUnit Footer -->
      <div class="tu-footer">
        <div ng-hide="tu.editing"><a href="#" ng-click="addMilestone(tu)">Add Milestone</a></div>

        <div ng-show="tu.editing && tu.id"><a href="#" ng-click="deleteTimeUnit(tu)">Delete Time Unit</a></div>
      </div>
      <!-- TimeUnit Footer -->
    </div>

    <div class="tu tu-add-new" ng-hide="addingTimeUnit">
      <div class="tu-footer"><a href="#" ng-click="addTimeUnit()">Add Time Unit</a></div>
    </div>
  </div>

</div>

<div ng-show="!roadmap && !loading" class="ptl">
  <h4 style="font-style: italic;">No roadmap created. Please contact your Imua admin.</h4>
</div>

<script>
  $(function() { $('input, textarea').placeholder();});
</script>

<script type="text/ng-template" id="addMilestoneModal.html">
    <div class="modal-body">
        <select ng-model="selected.module" ng-options="mod.submodule group by mod.module for mod in dd_modules">
          <option value="">-- choose sub-module --</option>
        </select>

        <div ng-show="selected.module" class="milestone ptl">
          <div class="field">
            <input class="form-field milestone-title" ng-model="selected.module.milestone.title" placeholder="Milestone Title">
          </div>

          <div class="field">
            <input class="form-field" ng-model="selected.module.milestone.value" placeholder="GPA Value">
          </div>

          <div class="btn-group">
            <label class="btn btn-primary" ng-model="selected.module.milestone.importance" btn-radio="1">Less Important</label>
            <label class="btn btn-primary" ng-model="selected.module.milestone.importance" btn-radio="2">Important</label>
            <label class="btn btn-primary" ng-model="selected.module.milestone.importance" btn-radio="3">Extremely Important</label>
          </div>

          <ul class="errorText ptm">
            <li ng-repeat="error in errors">{{error}}</li>
          </ul>

          <div class="buttonGroup pvs">
            <button type="submit" class="submit" ng-click="add()"><span>Add</span></button>
            <button class="cancel" ng-click="cancel()"><span>Cancel</span></button>
          </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="editMilestoneModal.html">
    <div class="modal-body">
        <div class="milestone ptl">
          <div class="field">
            <input class="form-field milestone-title" ng-model="milestone.title" placeholder="Milestone Title">
          </div>

          <div class="field">
            <input class="form-field" ng-model="milestone.value" placeholder="Milestone Value">
          </div>

          <div class="btn-group">
            <label class="btn btn-primary" ng-model="milestone.importance" btn-radio="1">Less Important</label>
            <label class="btn btn-primary" ng-model="milestone.importance" btn-radio="2">Important</label>
            <label class="btn btn-primary" ng-model="milestone.importance" btn-radio="3">Extremely Important</label>
          </div>

          <ul class="errorText ptm">
            <li ng-repeat="error in errors">{{error}}</li>
          </ul>

          <div class="buttonGroup pvs">
            <button type="submit" class="submit" ng-click="save()"><span>Save</span></button>
            <button class="cancel" ng-click="cancel()"><span>Cancel</span></button>
          </div>
        </div>
    </div>
</script>