<div class="modal-body paxl user-modal">
  <!--<h3 class="pbl">Add User</h3>
  <h5>Organization Admin</h5> -->
  <form name="newUserForm" imua-form="add($event)" class="form form--user" ng-hide="editingPassword" novalidate>

    <div class="pbl">
      <label-with-errors label="Email" form="newUserForm" formfield="newUserForm.email"></label-with-errors>
      <input name="email" required type="email" class="form-control" ng-model="user.email" placeholder="Email" autofocus="true">
    </div>

    <div class="pbl">
      <label-with-errors label="First Name" form="newUserForm" formfield="newUserForm.firstName"></label-with-errors>
      <input name="firstName" required class="form-control" ng-model="user.first_name" placeholder="First Name">
    </div>

    <div class="pbs">
      <label-with-errors label="Last Name" form="newUserForm" formfield="newUserForm.lastName"></label-with-errors>
      <input name="lastName" required class="form-control" ng-model="user.last_name" placeholder="Last Name">
    </div>

    <div ng-if="user.is_student" class="ptm pbs">
      <class-of-dropdown form="newUserForm" model="user"></class-of-dropdown>
    </div>

    <div ng-if="user.is_student" class="ptm pbs">
      <label-with-errors label="Semester" form="newUserForm" formfield="newUserForm.semester"></label-with-errors>
      <select name="semester" required class="form-control" ng-options="time_unit.id as time_unit.name for time_unit in organization.time_units" ng-model="user.time_unit_id">
        <option value="">--Choose a Semester--</option>
      </select>
    </div>

    <!-- Only for Super Admins to create Ghost Users -->
    <!-- ToDo: If this is something regular orgs want to create
          make this accessible to org admins with better dropdown values -->
    <div ng-if="current_user.is_super_admin"  class="ptm pbs">
      <label-with-errors label="Status" form="newUserForm" formfield="newUserForm.status"></label-with-errors>
      <select name="status" required class="form-control" ng-model="user.status">
        <option value="0">Active</option>
        <option value="-1">Ghost</option>
      </select>
    </div>

    <div class="buttonGroup ptl">

      <div ng-repeat="error in formErrors" class="errorText errorListing" ng-if="newUserForm.$submitted && newUserForm.$invalid">
      {{error}}</div>

      <button class="ladda-button submit" type="submit" data-style="expand-right" data-size="s" data-color="blue"><span class="ladda-label">Add</span></button>

      <span class="cancel" ng-click="cancel()"><span>Cancel</span></span>

    </div>

  </form>
</div>
