<div class="modal-body paxl user-modal">
  <!--<h3 class="pbl">Add User</h3>
  <h5>Organization Admin</h5> -->
  <form name="newUserForm" imua-form="add($event)" class="form form--user" ng-hide="editingPassword" novalidate>

    <div class="pbl">
      <div class="pbs">Email</div>
      <field-errors form="newUserForm" formfield="newUserForm.email"></field-errors>
      <input name="email" required type="email" class="form-field" ng-model="user.email" placeholder="Email" autofocus="true">
    </div>

    <div class="pbl">
      <div class="pbs">First Name</div>
      <field-errors form="newUserForm" formfield="newUserForm.firstName"></field-errors>
      <input name="firstName" required class="form-field" ng-model="user.first_name" placeholder="First Name">
    </div>

    <div class="pbs">
      <div class="pbs">Last Name</div>
      <field-errors form="newUserForm" formfield="newUserForm.lastName"></field-errors>
      <input name="lastName" required class="form-field" ng-model="user.last_name" placeholder="Last Name">
    </div>

    <div ng-if="user.is_student" class="ptm pbs">
      <div class="pbs">Class of</div>
      <class-of-dropdown form="newUserForm" model="user"></class-of-dropdown>
    </div>

    <div class="buttonGroup ptl">

      <div ng-repeat="error in formErrors" class="errorText errorListing" ng-if="newUserForm.$submitted && newUserForm.$invalid">
      {{error}}</div>

      <button class="ladda-button submit" type="submit" data-style="expand-right" data-size="s" data-color="blue"><span class="ladda-label">Add</span></button>

      <span class="cancel" ng-click="cancel()"><span>Cancel</span></span>

    </div>

  </form>
</div>
