<div ng-controller="OrgTestController" class="orgTestContainer">

  <div class="orgTests-title">
    <h4 class="bold">Tests</h4>
  </div>
  <div class="orgTests-list" wait-to-load="{{loaded_orgTests}}">

    <div class="orgTests-list__item" ng-repeat="orgTest in orgTests">
      <div class="orgTests-list__item__title">
        <h5 ng-hide="orgTest.editing">{{orgTest.title}}</h5>
        <input ng-show="orgTest.editing" class="form-field" ng-model="orgTest.new_title" placeholder="Test Title" name="orgTest_title">
      </div>
      <div class="orgTests-list__item__score_type">
        <span ng-hide="orgTest.editing">{{orgTest.score_type}}</span>
        <select ng-show="orgTest.editing" ng-options="scoreType as scoreType for scoreType in TestScoreTypes" ng-model="orgTest.new_score_type">
          <option value="">--- Score Type ---</option>
        </select>
      </div>
      <div class="orgTests-list__item__icons" org-setup-editor>
        <div ng-hide="orgTest.editing">
          <span class="glyphicon glyphicon-pencil prs" title="Edit" ng-click="editOrgTest($index)"></span>
          <span class="glyphicon glyphicon-trash" title="Delete" ng-click="deleteOrgTest($index)"></span>
        </div>
        <div ng-show="orgTest.editing">
          <span class="editing_icon glyphicon glyphicon-ok prs green" title="Save" ng-click="saveOrgTest($index)"></span>
          <span class="editing_icon glyphicon glyphicon-remove red" title="Cancel" ng-click="cancelEditOrgTest($index)"></span>
        </div>
      </div>
    </div>

    <div class="add-orgTest" org-setup-editor>
      <div class="add-orgTest__button-placeholder" ng-hide="current_user.role < CONSTANTS.USER_ROLES.mentor && !orgTests.editing"></div>
      <button type="submit" class="submit add-orgTest__button" ng-show="current_user.role < CONSTANTS.USER_ROLES.mentor && !orgTests.editing" ng-click="addOrgTest()">Add a Test</button>
    </div>

  </div>

</div>
