<div class="organizationContainer userListContainer" wait-to-load="{{loaded_users}}">

  <div class="organization-header">
		<ul class="mentor-stats clear">
			<li>
				<h4 class="bold">Mentors</h4>
			</li>
			<li>
				<div class="stat-wrapper clear">
					<div class="count"><h4><span class="bold">{{organization.mentors.length}}</span></h4></div>
					<div ng-if="organization.mentors.length !== 1" class="descript">Total <br>Mentors</div>
          <div ng-if="organization.mentors.length == 1" class="descript">Mentor</div>
				</div>
			</li>
			<li>
				<div class="stat-wrapper clear">
					<div class="count"><h4><span class="bold">{{active_mentors}}</span></h4></div>
					<div ng-if="active_mentors !== 1" class="descript">Mentors Active <br>This Week</div>
          <div ng-if="active_mentors == 1" class="descript">Mentor Active <br>This Week</div>
				</div>
			</li>
			<!-- <li>
			  <div class="stat-wrapper clear">
			    <div class="count"><h4><span class="bold">{{mentor_needs_help}}</span></h4></div>
			    <div ng-if="mentor_needs_help !== 1" class="descript">Mentors <br>Need Help</div>
			          <div ng-if="mentor_needs_help == 1" class="descript">Mentor <br>Needs Help</div>
			  </div>
			</li> -->
			<li>
				<div class="stat-wrapper clear">
					<div class="count"><h4><span class="bold">{{_.uniq(_.pluck(_.where(organization.students, { needs_attention: true }), "assigned_to_id")).length}}</span></h4></div>
					<div ng-if="true" class="descript">Mentors have students <br>that need attention</div>
          <div ng-if="false" class="descript">Mentor has students <br>that need attention</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="organization-lower">

    <div class="progress-circles" ng-repeat="mentor in organization.mentors | orderBy: 'last_name'">
      <a ng-href="#/mentor/{{mentor.id}}" title="View progress"><progress-circle student="mentor"></progress-circle></a>
      <h6 class="bold"><a ng-href="#/profile/{{mentor.id}}" title="View mentor info">{{fullName(mentor)}}</a></h6>
      <h6 class="bold"><a ng-href="#/profile/{{mentor.id}}" title="View mentor info">{{mentor.title}}</a></h6>
			<ul class="circle-subnav">
				<li><a ng-href="#/profile/{{mentor.id}}" title="View {{mentor.first_name}}'s Profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
				<li class="extra-info">Last Login: {{mentor.last_login}}</li>
				<li class="extra-info">Login Count: {{mentor.login_count}}</li>
			</ul>
    </div>

    <div class="add-button" ng-click="addMentor()">
      <div class="glyphicon glyphicon-plus-sign"></div>
      <h6 class="bold">Add a Mentor</h6>
    </div>

	</div>

</div>
