<div class="organizationContainer" wait-to-load="{{loaded_users}}">

  <div class="organization-header">
		<ul class="mentor-stats clear">
			<li>
				<h4 class="bold">Mentors</h4>
			</li>
			<li>
				<div class="clear">
					<div class="count"><h4><span class="bold">15</span></h4></div>
					<div class="descript">Total <br>Mentors</div>
				</div>
			</li>
			<li>
				<div class="clear">
					<div class="count"><h4><span class="bold">8</span></h4></div>
					<div class="descript">Mentors Active <br>This Week</div>
				</div>
			</li>
			<li>
				<div class="clear">
					<div class="count"><h4><span class="bold">1</span></h4></div>
					<div class="descript">Mentor <br>Needs Help</div>
				</div>
			</li>
			<li>
				<div class="clear">
					<div class="count"><h4><span class="bold">2</span></h4></div>
					<div class="descript">Have students <br>that need attention</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="organization-lower">

    <div class="progress-circles" ng-repeat="mentor in organization.mentors | orderBy: 'id'">
      <a ng-href="#/mentor/{{mentor.id}}" title="View progress"><progress-circle student="mentor"></progress-circle></a>
      <h6 class="bold"><a ng-href="#/profile/{{mentor.id}}" title="View mentor info">{{fullName(mentor)}}</a></h6>
			<ul class="circle-subnav">
				<li><a ng-href="#/profile/{{mentor.id}}" title="View {{mentor.first_name}}'s Profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
				<li class="extra-info">Last Login: {{mentor.last_login}}</li>
				<li class="extra-info">Login Count: {{mentor.login_count}}</li>
			</ul>
    </div>

    <div class="user-list__add" ng-click="addMentor()">
      <div class="glyphicon glyphicon-plus-sign"></div>
      <div>Add Mentor</div>
    </div>

	</div>

</div>
