<div class="organizationContainer paxl" ng-cloak>
  <h2>{{organization.name}}</h2>

  <div class="ptxl">

    <div class="user-list">
      <h4>Organization Admins</h4>

      <div class="avatar-block avatar-block--list" ng-repeat="orgAdmin in organization.orgAdmins">
        <img ng-src="{{orgAdmin.square_avatar_url}}" alt="Avatar" class="avatar-block__img avatar-block__img--thumbnail" />
        <div class="avatar-block__name">
          {{fullName(orgAdmin)}}
        </div>
      </div>

      <div class="user-list__add" ng-click="addOrgAdmin()">
        <div class="glyphicon glyphicon-plus-sign ptxl"></div>
        <div>Add Organization Admin</div>
      </div>
    </div>

    <div class="user-list ptxl">
      <h4>Students</h4>

      <div class="avatar-block avatar-block--list" ng-repeat="student in organization.students">
        <!-- <img ng-src="{{student.square_avatar_url}}" alt="Avatar" class="avatar-block__img avatar-block__img--thumbnail" /> -->
        <progress-circle user="{{student}}"></progress-circle>
        <div class="avatar-block__name">
          {{student.first_name}} {{student.last_name}}
        </div>
      </div>

      <div class="user-list__add" ng-click="addStudent()">
        <div class="glyphicon glyphicon-plus-sign ptxl"></div>
        <div>Add Student</div>
      </div>
    </div>

  </div>

</div>

<script>
  $(document).ready(function() {
    $('input, textarea').placeholder();
    Ladda.bind( '.ladda-button' );
  });
</script>
